<div {{ Aimless.form.field() }} class="form_field">
    <div class="form_input_label">{{ label }}{% if optional is not empty %}{% if optional==true %}<span class="form_input_optional"> (optional)</span>{% endif %}{% endif %}</div>
    <div><input {{ Aimless.form.input() }} type="text" class="textfield" value="{{ Aimless.form.value() }}" /></div>
    <div {{ Aimless.form.error() }} class="form_errormessage"></div>
</div>