 <div mls_id="{{ mls_id }}" mls_template="{{ mls_template }}" class="simplelist_item" onClick="Maido.data.changeEntity('{{ entityType }}', {{ id }});">
    <div class="simplelist_item_label" mls_value="{{ mls_value__label }}">{{ label }}</div>
</div>