 <div id="simplelist_item_{{ id }}" livescreenid="{{ livescreenid__component }}" class="simplelist_item" onClick="Maido.settings.{{ changeMethod }}({{ id }});">
    <div class="simplelist_item_label" livescreenid="{{ livescreenid__component_label }}">{{ label|e }}</div>
</div>