<div class="component_subproject" livescreenid="subproject.{{ id }}">
    <div class="project_menu">
            <div class="button_small" onClick="Maido.changeProject({{ id }});">Edit</div>
        </div>
    <div id="{{ id }}" class="project_summary">
        
        <div class="project">
            <div class="project_name" livescreenid="subproject.{{ id }}.name"> {{ name|e }}</div>
        </div>
        
        <div class="project_subinfo">
            <div class="project_subinfo_value" livescreenid="subproject.{{ id }}.status">Offerte gestuurd</div>
            <div class="project_subinfo_key">Status</div>
        </div>
        <div class="project_subinfo">
            <div class="project_subinfo_value">Budget</span></div>
            <div class="project_subinfo_key">60k</div>
        </div>
        <div class="project_subinfo">
            <div class="project_subinfo_value" livescreenid="subproject.{{ id }}.probabability">90%</div>
            <div class="project_subinfo_key">Slagingskans</div>
        </div>
        <div class="project_subinfo">
            <div class="projectmanager_avatar"></div>
            <div class="projectmanager_name" livescreenid="subproject.{{ id }}.name">{{ projectmanager_name }}</div>
        </div>
    </div>
    <div id="project_details_{{ id }}" class="project_details">
        <hr>
        {{ description|e }} <!-- deze moet in div, zodat het te updaten is, live update while typing? -->
        
        <div class="subproject_title">Aanvragen</div>
        loop: aanvragen<br>
        <br>
        <div class="subproject_title">Lopend</div>
        loop: lopende projecten<br>
        <br>
        <br>
        Subproject | Status | Budget | Slagingskans<br>
        
        
        
        <div class="subprojects">
            <div class="button_small" onClick="Maido.newSubproject({{ id }});">Add subproject +</div>
        </div>
    </div>
    
</div>