<div class="MimotoCMS_pages_components_ComponentTemplate" {{ Mimoto.realtime() }}>
    <div class="MimotoCMS_pages_components_ComponentTemplate-info">
        <div class="MimotoCMS_pages_components_ComponentTemplate-fileName" {{ Mimoto.hideWhenEmpty('file') }} {{ Mimoto.realtime('file') }}>{{ Mimoto.data('file') }}</div>
        <div class="MimotoCMS_pages_components_ComponentTemplate-fileName empty" {{ Mimoto.showWhenEmpty('file') }}>No file connected yet</div>
    </div>
    <div class="MimotoCMS_pages_components_ComponentTemplate-menu">
        {{ Mimoto.module('Mimoto.CMS.ButtonModule', { label:'Remove', icon:'', types:['small', 'alert'], directive:Mimoto.remove() }) }}
        {{ Mimoto.module('Mimoto.CMS.ButtonModule', { label:'Edit', icon:'', types:['small', 'secondary'], directive:Mimoto.edit('_Mimoto_coreform__componenttemplate') }) }}
    </div>
</div>
