<div class="MimotoCMS_modules_PropertyInput__meta">
    <div class="MimotoCMS_modules_PropertyInput__meta_info">


        <span class="MimotoCMS_modules_PropertyInput__entityname">
            {{ Mimoto.module('MimotoCMS_modules_EditableField', { sPropertyName:'name', sFieldClass:'MimotoCMS_modules_PropertyInput__entityname' }) }}
        </span>
        <span class="MimotoCMS_modules_PropertyInput-isUserExtension {{ Mimoto.init() }}" {{ Mimoto.showWhenValue('isUserExtension', true) }}>- <span class="fa fa-user"></span> extends user </span>

        {% if type == 'entity' %}

            {% if entityStructure.extends is not empty %}
                {% for extension in entityStructure.extends %}
                    extends <b><a href="/mimoto.cms/entity/{{ extension.id }}/view"><span data-mimoto-id="entity.{{ extension.id }}.name" class="MimotoCMS_modules_PropertyInput__entityname">{{ extension.name }}</span></a></b>
                {% endfor %}
                <br>
            {% endif %}

            {% if entityStructure.extendedBy is not empty %}
                <div class="MimotoCMS_modules_PropertyInput__extendedby">
                    Extended by:
                    {% for extension in entityStructure.extendedBy %}
                    <a href="/mimoto.cms/entity/{{ extension.id }}/view"><span data-mimoto-value="_MimotoAimless__core__entity.{{ extension.id }}.name">{{ extension.name }}</span></a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

            <div class="MimotoCMS_modules_PropertyInput__usage">
                {% if entityStructure.hasTable %}
                    This entity has {{ entityStructure.instanceCount }} instance{% if entityStructure.instanceCount != 1 %}s{%  endif %}
                {% else %}
                    This entity has no table of its own and is only used for extension purposes
                {% endif %}
            </div>
        {% endif %}

    </div>
</div>
