{% set classes = '' %}
{% set element = 'button' %}
{% set data_attributes = '' %}

{% if types|default([]) %}
  {% set classes = ' button--' ~ types|join(' button--') %}
{% endif %}

{% if link|default('') %}
  {% set element = 'a' %}
{% endif %}

{% if attributes|default([]) %}
  {% for attribute in attributes %}
    {% set data_attributes = data_attributes ~ (' data-' ~ attribute.attribute) %}
    {% if attribute.value %}
      {% set data_attributes = data_attributes ~ ('="' ~ attribute.value ~ '"') %}
    {% endif %}
  {% endfor %}
{% endif %}

<{{ element }}{{ data_attributes }} {% if link|default('') %}href="{{ link }}"{% endif %} class="button{{ classes }}">
  {% if label|default('') %}
    <span class="button-text">{{ label }}</span>
  {% endif %}
  {% if icon|default('') %}
    <span class="button-icon icon icon-{{ icon }}"></span>
  {% endif %}
</{{ element }}>

{#
<div class="MimotoCMS_forms_input_Button {% if type=='red' %} red{% endif %}" {% if action is not empty %} onclick="{{ action|raw }}"{% endif %}>{{ label }}{% if icon is not empty %}<span {% if type=='red' %}style="color:#ffffff;"{% endif %}">{{ icon|raw }}</span>{% endif %}</div>
#}
