{% set classes = '' %}
{% set element = 'button' %}
{% set data_attributes = '' %}

{% if types|default([]) %}
  {% set classes = ' ' ~ types|join(' ') %}
{% endif %}

{% if link|default('') %}
  {% set element = 'a' %}
{% endif %}

{% if attributes|default([]) %}
  {% set data_attributes = ' data-' ~ attributes|join(' data-') %}
{% endif %}

<{{ element }}{{ data_attributes }} {% if link|default('') %}href="{{ link }}"{% endif %} class="button{{ classes }}">
  {% if label|default('') %}
    <span class="button-text">
      {{ label }}
    </span>
  {% endif %}
  {% if icon|default('') %}
    <svg class="button-icon"><use xlink:href='#ico-{{ icon }}'/></svg>
  {% endif %}
</{{ element }}>

{#
<div class="MimotoCMS_forms_input_Button {% if type=='red' %} red{% endif %}" {% if action is not empty %} onclick="{{ action|raw }}"{% endif %}>{{ label }}{% if icon is not empty %}<span {% if type=='red' %}style="color:#ffffff;"{% endif %}">{{ icon|raw }}</span>{% endif %}</div>
#}
