{%
    embed "MimotoCMS/modules/TabmenuModule/TabmenuModule.twig" with {
        id: 'componentdetails',
        tabs: [
            {
                label: 'Options',
                panel_id: 'panel_contentsectiondetail_info'
            }
        ]
    }
%}
    {% block panels %}

        <!-- structure -->

        <div id="panel_contentsectiondetail_info" class="MimotoCMS_pages_contentsections_ContentSectionDetail__panel">

            <div class="MimotoCMS_pages_contentsections_ContentSectionDetail_Structure">

                <div class="MimotoCMS_pages_contentsections_ContentSectionDetail_Structure__meta">
                    <div class="MimotoCMS_pages_contentsections_ContentSectionDetail_Structure__meta_info">

                        <div class="MimotoCMS_pages_contentsections_ContentSectionDetail_Structure__contentsectionname" {{ Mimoto.realtime('name') }}>{{ Mimoto.data('name') }}</div>
                        <div class="MimotoCMS_pages_contentsections_ContentSectionDetail_Structure__contentsectiontype" {{ Mimoto.realtime('type') }}>{{ Mimoto.data('type') }}</div>
                        <div class="MimotoCMS_pages_contentsections_ContentSectionDetail_Structure__contentsectionformname" {{ Mimoto.realtime('form.name') }}>{{ Mimoto.data('form.name') }}</div>

                    </div>

                    <div class="MimotoCMS_pages_contentsections_ContentSectionDetail_Structure__meta_menu">
                        {{ Mimoto.module('MimotoCMS_modules_Button', { label:'Edit', icon:'', onclick:"Mimoto.CMS.contentSectionEdit('" ~ Mimoto.meta('id') ~ "');", type:'secondary' }) }}
                    </div>

                </div>

            </div>
        </div>

    {% endblock %}
{% endembed %}
