<div class="TheTimeline_Moment" {{ Aimless.realtime() }}>
    <div class="TheTimeline_Moment-title" {{ Aimless.realtime('title') }}>{{ Aimless.render('title') }}</div>
    <div class="TheTimeline_Moment-shortDescription" {{ Aimless.realtime('shortDescription') }}>{{ Aimless.render('shortDescription') }}</div>
    <div class="TheTimeline_Moment-date js-date" {{ Aimless.hideWhenEmpty('date') }} {{ Aimless.realtime('date') }}>{{ Aimless.render('date') }}</div>
    <div class="TheTimeline_Moment-importance js-importance" {{ Aimless.realtime('importance') }}>{{ Aimless.render('importance') }}</div>
    <script>{{ Aimless.jsListen('date', 'TheTimeline', 'TheTimeline.positionMoments') }}</script>
</div>
