<div class="MimotoCMS_pages_entities_EntityDetail-EntityPropertySetting" {{ Aimless.realtime() }}>

    {% if propertySubtype == 'image' or propertySubtype=='video' or propertySubtype=='audio' or propertySubtype=='file' %}
        <span class="MimotoCMS_pages_entities_EntityDetail-EntityPropertySetting-defaultsettings">default settings</span>
    {% else %}
        {{ Aimless.render('key') }}
    {% endif %}

    <span class="MimotoCMS_pages_entities_EntityDetail-EntityPropertySetting-menu">
        {% if propertySubtype!='image' and propertySubtype!='video' and propertySubtype!='audio' and propertySubtype!='file' %}<a onclick="Mimoto.CMS.entityPropertySettingEdit('{{ Aimless.meta('id', 'type') }}');">edit</a>{% endif %}
    </span>

    {% if propertySubtype!='image' and propertySubtype!='video' and propertySubtype!='audio' and propertySubtype!='file' %}:<br>{% endif %}

    {% if Aimless.data('key') == 'allowedEntityType' %}
        {% if propertySubtype!='image' and propertySubtype!='video' and propertySubtype!='audio' and propertySubtype!='file' %}
            <div {{ Aimless.showOnEmpty('allowedEntityType') }}>
                <span class="MimotoCMS_pages_entities_EntityDetail-EntityPropertySetting-defaultsettings">any type</span>
            </div>
            <div {{ Aimless.hideOnEmpty('allowedEntityType') }}>
                <div {{ Aimless.realtime('allowedEntityType', 'Mimoto.CMS_entities_EntityDetail-EntityPropertySettingAllowedEntityType') }}>
                    {{ Aimless.render('allowedEntityType', 'Mimoto.CMS_entities_EntityDetail-EntityPropertySettingAllowedEntityType') }}
                </div>
            </div>
        {% endif %}
    {% elseif Aimless.data('key') == 'allowedEntityTypes' %}
        <div {{ Aimless.showOnEmpty('allowedEntityTypes') }}>
            <span class="MimotoCMS_pages_entities_EntityDetail-EntityPropertySetting-defaultsettings">any type</span>
        </div>
        <div {{ Aimless.hideOnEmpty('allowedEntityTypes') }}>
            [
                <div class="MimotoCMS_pages_entities_EntityDetail-EntityPropertySetting__allowedEntityTypes" {{ Aimless.realtime('allowedEntityTypes', 'Mimoto.CMS_entities_EntityDetail-EntityPropertySettingAllowedEntityType') }}>
                    {{ Aimless.render('allowedEntityTypes', 'Mimoto.CMS_entities_EntityDetail-EntityPropertySettingAllowedEntityType') }}
                </div>
            ]
        </div>
    {% elseif Aimless.data('key') == 'allowDuplicates' %}
        <div {{ Aimless.realtime('value') }}>{% if Aimless.data('value') %}true{% else %}false{% endif %}</div>
    {% else %}
        <div {{ Aimless.realtime('value') }}>{{ Aimless.render('value') }}</div>
    {% endif %}
</div>
