{% set sDatePickerId = Aimless.meta('type')~"."~Aimless.meta('id') %}
{% set sFlatDatePickerId = Aimless.meta('type')~Aimless.meta('id') %} {# Do we need this field? #}

{% embed "MimotoCMS/components/forms/FormComponent.twig" with {"type": "datepicker" } %}
    {% block form_component_element %}

        <div class="MimotoCMS_forms_input_DatePicker">
            <div>settings opgeven als listoption (bijv. jaar, of volledige datum, of incl tijd)</div>
            <div>button die popup opent</div>

            <p>input wordt "hidden"</p>
            <input {{ Aimless.input() }} type="text" class="MimotoCMS_forms_input_DatePicker-input js-{{ sFlatDatePickerId }}-date-picker-input" value="{{ date(Aimless.value())|date('F jS, Y / H:i') }}" data-dp-value="{{ Aimless.value() }}"/>
        </div>
        <script>Mimoto.Aimless.utils.registerRequest(Mimoto.form.setupDatePicker, '{{ sDatePickerId }}', '{{ sFlatDatePickerId }}', '{{ Aimless.fieldId() }}');</script>
    {% endblock %}
{% endembed %}
