{% embed "MimotoCMS/modules/Tabmenu/Tabmenu.twig" %}

    {% block tabs %}

        <div data-mimotocms-tabmenu-tab>API</div>

    {% endblock %}

    {% block panels %}

        <div data-mimotocms-tabmenu-panel>

            <div class="MimotoCMS_pages_pages_Detail_Structure">

                <div class="MimotoCMS_pages_pages_Detail_Structure__meta">
                    <div class="MimotoCMS_pages_pages_Detail_Structure__meta_info">

                        <div class="MimotoCMS_modules_PropertyInput__entityname" {{ Mimoto.realtime('name') }}>
                            {{ Mimoto.module('MimotoCMS_modules_EditableField', { sPropertyName:'name', sFieldClass:'MimotoCMS_pages_pages_Detail_Structure__name' }) }}
                        </div>

                    </div>
                </div>

            </div>

            <div class="MimotoCMS_pages_pages_Detail_Structure">

                <div class="MimotoCMS_pages_pages_Detail_Structure__meta">
                    <div class="MimotoCMS_pages_pages_Detail_Structure__meta_info">

                        {{ Mimoto.module('MimotoCMS_modules_PathEditor', { sPropertyName:'path' }) }}

                    </div>
                </div>
            </div>

            <div class="MimotoCMS_pages_pages_Detail_Structure">

                <div class="MimotoCMS_pages_pages_Detail_Structure__meta">
                    <div class="MimotoCMS_pages_pages_Detail_Structure__meta_info">

                        <div class="MimotoCMS_pages_pages_Detail_Structure__name">Settings</div>
                        <br>

                        <div>
                            <span {{ Mimoto.showWhenValue('isEnabled', false) }}>
                                API is <u>not</u> enabled :( &nbsp;&nbsp;
                                {{ Mimoto.module('MimotoCMS_modules_Button', { label:'Enable', icon:'', directive:Mimoto.set('isEnabled', true), types:['secondary', 'small'] }) }}
                            </span>
                            <span {{ Mimoto.showWhenValue('isEnabled', true) }}>
                                API enabled! &nbsp;&nbsp;
                                {{ Mimoto.module('MimotoCMS_modules_Button', { label:'Disable', icon:'', directive:Mimoto.set('isEnabled', false), types:['secondary', 'small'] }) }}
                            </span>
                        </div>
                        <br>
                        <div>
                            Output is
                            <span {{ Mimoto.showWhenValue('outputRawResponse', false) }}>
                                Mimoto formatted &nbsp;&nbsp;
                                {{ Mimoto.module('MimotoCMS_modules_Button', { label:'Output as raw response', icon:'', directive:Mimoto.set('outputRawResponse', true), types:['secondary', 'small'] }) }}
                            </span>
                            <span {{ Mimoto.showWhenValue('outputRawResponse', true) }}>
                                raw &nbsp;&nbsp;
                                {{ Mimoto.module('MimotoCMS_modules_Button', { label:'Output as Mimoto formatted response', icon:'', directive:Mimoto.set('outputRawResponse', false), types:['secondary', 'small'] }) }}
                            </span>
                        </div>
                        <br>
                        {{ Mimoto.module('MimotoCMS_modules_UserRolePermissions', { sPropertyName:'allowedUserRoles' }) }}
                    </div>
                </div>
            </div>

            <div class="MimotoCMS_pages_pages_Detail_Structure">

                <div class="MimotoCMS_pages_pages_Detail_Structure__meta">
                    <div class="MimotoCMS_pages_pages_Detail_Structure__meta_info">

                        <div class="MimotoCMS_pages_pages_Detail_Structure__name">Output</div>
                        <br>

                        Call service:

                        <div class="MimotoCMS_pages_actions_ActionOverview_Action-row">
                            <div class="MimotoCMS_pages_actions_ActionOverview_Action-section">
                                <div class="MimotoCMS_pages_actions_ActionOverview_Action-section-data">
                                    {{ Mimoto.module('MimotoCMS_modules_DataSelectButton', { sEmptyLabel:'select service', sEntityName:'service', sSelectionName:'_Mimoto_all_public_services', sValuePropertySelector:'service.name', options:{onChange:[['clear','function']]} }) }}
                                    {{ Mimoto.module('MimotoCMS_modules_DataSelectButton', { sHideWhenEmpty:'service', sEmptyLabel:'select function', sEntityName:'function', sSelectionName:'_Mimoto_all_functions_of_service', options:{vars:{idVarName:Mimoto.meta('service.id') } }, sValuePropertySelector:'function.name' }) }}
                                </div>
                            </div>
                        </div>

                        Send selection: {{ Mimoto.module('MimotoCMS_modules_Button', { label:'Add selection', icon:'plus', directive:Mimoto.create('selections', '_Mimoto_selection'), types:['secondary'] }) }}

                        <div class="MimotoCMS_pages_pages_Detail_Output-setting" {{ Mimoto.hideWhenEmpty('function') }}>

                            <div class="MimotoCMS_pages_selections_SelectionOverview-container" {{ Mimoto.sortable() }} {{ Mimoto.realtime('selections', 'MimotoCMS_pages_selections_SelectionOverview_Selection', { values:{bIsAnonymous:true} }) }}>{{ Mimoto.data('selections', 'MimotoCMS_pages_selections_SelectionOverview_Selection', { values:{bIsAnonymous:true} }) }}</div>

                        </div>

                        <div class="MimotoCMS_pages_actions_ActionOverview_Action-row" {{ Mimoto.hideWhenEmpty('function') }}>
                            <div class="MimotoCMS_pages_actions_ActionOverview_section">
                                <div class="MimotoCMS_pages_actions_ActionOverview_Action-settings-empty {{ Mimoto.init() }}" {{ Mimoto.showWhenEmpty('settings') }}>No settings, or <span class="MimotoCMS_pages_actions_ActionOverview_Action-settings-addFirst" {{ Mimoto.add('settings', '_Mimoto_action_setting') }}>add a setting</span></div>
                                <div class="MimotoCMS_pages_actions_ActionOverview_Action-section {{ Mimoto.init() }}" {{ Mimoto.hideWhenEmpty('settings') }}>
                                    <div class="MimotoCMS_pages_actions_ActionOverview_Action-section-label">WITH</div>
                                    <div class="MimotoCMS_pages_actions_ActionOverview_Action-section-data MimotoCMS_pages_actions_ActionOverview_Action-settings" {{ Mimoto.sortable() }} {{ Mimoto.realtime('settings', 'MimotoCMS_pages_actions_ActionOverview_ActionSetting') }}>{{ Mimoto.data('settings', 'MimotoCMS_pages_actions_ActionOverview_ActionSetting') }}</div>
                                </div>

                            </div>
                            <div class="MimotoCMS_pages_actions_ActionOverview_Action-settings-add" {{ Mimoto.hideWhenEmpty('settings') }} {{ Mimoto.add('settings', '_Mimoto_action_setting') }}>add more settings</div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    {% endblock %}
{% endembed %}
