{% extends "publisher/base.twig" %}

{% block content %}

    <div class="MimotoPublisher-Article-lede-container">
        <div class="MimotoPublisher-Article-lede">

            <span class="MimotoPublisher-Article-articletype">{% if Aimless.data('type') == 'explainer' %}Explainer{% else %}Verhaal van de dag{% endif %}</span>
             -
            <span {{ Aimless.realtime('lede') }}>{{ Aimless.render('lede') }}</span>
        </div>
    </div>

    <div class="MimotoPublisher-Article-title" {{ Aimless.realtime('title') }}>{{ Aimless.render('title') }}</div>

    <div class="MimotoPublisher-Article-authors-container" {{ Aimless.realtime('authors', 'author') }}>
        {{ Aimless.render('authors', 'author') }}
    </div>

    <img class="MimotoPublisher-Article-headerImage" src="{{ Aimless.render('headerImage') }}" {{ Aimless.realtime('headerImage') }}>

    <div class="MimotoPublisher-Article-body" {{ Aimless.realtime('body') }}>{{ Aimless.render('body') }}</div>

{% endblock %}
