{% extends "publisher/base.twig" %}

{% block content %}

    <div class="MimotoPublisher-Article-lede-container">
        <div class="MimotoPublisher-Article-lede">
            {#<span class="MimotoPublisher-Article-articletype">{% if Aimless.data('type') == 'explainer' %}Explainer{% else %}Verhaal van de dag{% endif %}</span>#}
             {#-#}
            <span {{ Aimless.realtime('lede') }}>{{ Aimless.render('lede') }}</span>
        </div>
    </div>

    <div class="MimotoPublisher-Article-title" {{ Aimless.realtime('title') }}>{{ Aimless.render('title') }}</div>

    <img class="MimotoPublisher-Article-headerImage" src="{{ Aimless.render('headerImage') }}" {{ Aimless.realtime('headerImage') }}>

    <div class="MimotoPublisher-Article-body" {{ Aimless.realtime('body') }}>{{ Aimless.render('body') }}</div>

    <div class="MimotoPublisher-Article-comments">

        <h1>Bijdragen</h1>

        <div {{ Aimless.showWhenEmpty('comments') }} class="MimotoPublisher-Article-comments-container-empty">
            Er zijn nog geen bijdragen. Vertel als eerste jouw kijk op dit stuk ..
        </div>

        <div {{ Aimless.hideWhenEmpty('comments') }} class="MimotoPublisher-Article-comments-container" {{ Aimless.realtime('comments', 'comment') }}>
            {{ Aimless.render('comments', 'comment') }}
        </div>

        <div class="MimotoPublisher-Article-commentform">
            <input id="commentForm" type="text" class="MimotoPublisher-Article-comment" />
            <div class="MimotoPublisher-Article-commentform-button" onclick="addComment({{ Aimless.meta('id') }})">Draag bij +</div>
        </div>

    </div>

{% endblock %}



