{% extends "publisher/base.twig" %}

{% block content %}

    <div class="MimotoPublisher-Article-lede-container">
        <div class="MimotoPublisher-Article-lede">

            <span class="MimotoPublisher-Article-articletype">{% if Mimoto.data('type') == 'explainer' %}Explainer{% else %}Verhaal van de dag{% endif %}</span>
             -
            <span {{ Mimoto.realtime('lede') }}>{{ Mimoto.render('lede') }}</span>
        </div>
    </div>

    <div class="MimotoPublisher-Article-title" {{ Mimoto.realtime('title') }}>{{ Mimoto.render('title') }}</div>

    <img class="MimotoPublisher-Article-headerImage" src="{{ Mimoto.render('headerImage') }}" {{ Mimoto.realtime('headerImage') }}>

    <div class="otmenu">
        <div class="otbutton" onclick="showPending();">Show pending</div>
        <div class="otbutton" onclick="sendPending();">Send pending</div>

        <div class="otbutton" onclick="showBuffer();" style="margin-left:25px;">Show buffer</div>
    </div>

    <div class="MimotoPublisher-Article-body" {{ Mimoto.realtime('body') }} {{ Mimoto.editable('body', {'options': { 'formats':['bold', 'italic', 'underline'] }} ) }}>{{ Mimoto.render('body') }}</div>

    <div class="MimotoPublisher-Article-comments">

        <h1>Bijdragen</h1>

        <div {{ Mimoto.showWhenEmpty('comments') }} class="MimotoPublisher-Article-comments-container-empty">
            Er zijn nog geen bijdragen. Vertel als eerste jouw kijk op dit stuk ..
        </div>

        <div {{ Mimoto.hideWhenEmpty('comments') }} class="MimotoPublisher-Article-comments-container" {{ Mimoto.realtime('comments', 'comment') }}>
            {{ Mimoto.render('comments', 'comment') }}
        </div>

        <div class="MimotoPublisher-Article-commentform">
            <input id="commentForm" type="text" class="MimotoPublisher-Article-comment" />
            <div class="MimotoPublisher-Article-commentform-button" onclick="addComment({{ Mimoto.meta('id') }})">Draag bij +</div>
        </div>

    </div>

{% endblock %}



