{% extends "publisher/base.twig" %}

{# --- article ---#}

{% block content %}

    <img data-js-article="{{ Mimoto.meta('id') }}">

        <div class="MimotoPublisher-Article-lede-container">

            <div class="MimotoPublisher-Article-lede">

                {% if Mimoto.user.hasRole('contenteditor') %}<button class="MimotoPublisher" style="float:right;" {{ Mimoto.edit('article') }}>Edit</button>{% endif %}

                <span class="MimotoPublisher-Article-articletype" {#{{ Mimoto.hideWhenEmpty('type.label') }}#} {{ Mimoto.realtime('type.label') }}>{{ Mimoto.data('type.label') }}</span>
                <span {{ Mimoto.realtime('lede') }}>{{ Mimoto.data('lede') }}</span>

            </div>
        </div>

    {% if Mimoto.user.hasRole('contenteditor') %}<button class="MimotoPublisher" style="position:absolute" {{ Mimoto.toggleEditMode('title') }}>Edit title</button>{% endif %}
    <div class="MimotoPublisher-Article-title" {{ Mimoto.editable('title') }} {{ Mimoto.realtime('title') }}>{{ Mimoto.data('title') }}</div>

        <img class="MimotoPublisher-Article-headerImage" src="{{ Mimoto.data('headerImage') }}" {{ Mimoto.realtime('headerImage') }} {{ Mimoto.hideWhenEmpty('headerImage') }} ></img>

        <div class="MimotoPublisher-Article-body" {{ Mimoto.realtime('body') }} {{ Mimoto.collaborate('body') }}>{{ Mimoto.data('body') }}</div>

        {% if Mimoto.user.hasRole('member') %}{{ Mimoto.module('Conversation') }}{% endif %}
    </div>

{% endblock %}


{# --- also on this page --- #}

{% block alsoonthispage %}

    <div {{ Mimoto.channel('', 'Publisher.alsoOnThisPage') }} class="MimotoPublisher_Article-others">
        <div class="MimotoPublisher_Article-others-label">Also on this page</div>
        <div data-publisher-article-others-container class="MimotoPublisher_Article-others-container">

            <div data-publisher-article-others-other-template class="MimotoPublisher_Article-others-other">
                <span data-publisher-article-others-other-initials class="MimotoPublisher_Article-others-other-initials">☺</span>
            </div>
        </div>
    </div>

{% endblock %}
