{% extends "examples/components/examplebase.twig" %}

{% block content %}
    <h1>Example 1b - Article - Explainer</h1>
    <div class="example_article_explainer" {{ Aimless.realtime() }}>
        <b><span {{ Aimless.realtime('title') }}>{{ Aimless.render('title') }}</span></b><br><br>
        <i><span {{ Aimless.realtime('body') }}>{{ Aimless.render('body') }}</span></i><br><br>
    </div>
{% endblock %}
