<html>
    <head>
        <title>Mimoto.Aimless</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

        <link rel="stylesheet" type="text/css" href="/static/css/main.css">

        <script src="https://js.pusher.com/3.0/pusher.min.js"></script>

        <script src="/mimoto.cms/static/js/mimoto.aimless.js"></script>
        <script src="/mimoto.cms/static/js/mimoto.cms.js"></script>

        <script>
            Mimoto.Aimless.connect(
                '{{ Aimless.globalValue('pusher.auth_key') }}',
                '{{ Aimless.globalValue('pusher.cluster') }}',
                '{{ Aimless.globalValue('pusher.host') }}',
                '{{ Aimless.globalValue('pusher.encrypted') }}',
                '{{ Aimless.globalValue('pusher.authEndpoint') }}',
                false
            );
        </script>

    </head>
    <body>
        {% include "MimotoCMS/components/svg.twig" %}

        <div class="example_page">{% block content %}{% endblock %}</div>
    </body>
</html>
