{% block content %}
<div class="example_feeditem1" {{ Aimless.realtime() }} onClick="window.open('/article/{{ Aimless.meta('id') }}', '_self')">
    <b><span {{ Aimless.realtime('title') }}>{{ Aimless.data('title') }}</span></b><br>
    <span {{ Aimless.realtime('lede') }}>{{ Aimless.data('lede') }}</span>
</div>
{% endblock %}
