{% extends "examples/components/examplebase.twig" %}

{% block content %}
    <h1>{{ title }}</h1>
    <i>{{ description }}</i><br>
    <br>
    <div class="example_project" {{ Aimless.realtime() }}>

        <b><span {{ Aimless.realtime('name') }}>{{ Aimless.render('name') }}</span></b>

        <span {{ Aimless.realtime('projectManager') }}>{{ Aimless.render('projectManager') }}</span>

        <br><br>
        <div {{ Aimless.realtime('description') }}>{{ Aimless.render('description') }}</div>
        <br>
        <div class="example_project_subprojects" {{ Aimless.realtime('subprojects') }}>
            {{ Aimless.render('subprojects') }}
        </div>
    </div>
{% endblock %}
