{% extends "examples/components/examplebase.twig" %}

{% block content %}
    <h1>{{ title }}</h1>
    <i>{{ description }}</i><br>
    <br>
    <div class="example_project" {{ Aimless.realtime()|raw }}>

        <b><span {{ Aimless.realtime('name')|raw }}>{{ Aimless.render('name') }}</span></b>

        <span {{ Aimless.realtime('projectManager')|raw }}>{{ Aimless.render('projectManager')|raw }}</span>

        <br><br>
        <div {{ Aimless.realtime('description')|raw }}>{{ Aimless.render('description') }}</div>
        <br>
        <div class="example_project_subprojects" {{ Aimless.realtime('subprojects')|raw }}>
            {{ Aimless.render('subprojects')|raw }}
        </div>
    </div>
{% endblock %}
