<div {{ Aimless.realtime() }} class="simplelist_item">
    <div class="simplelist_item_label" {{ Aimless.realtime('name') }}>{{ Aimless.render('name') }}</div>
    <div class="simplelist_item_label" {{ Aimless.realtime('phase') }}>{{ Aimless.render('phase') }}</div>
</div>
