<div {{ Aimless.realtime()|raw }} class="simplelist_item">
    <div class="simplelist_item_label" {{ Aimless.realtime('name')|raw }}>{{ Aimless.render('name') }}</div>
    <div class="simplelist_item_label" {{ Aimless.realtime('phase')|raw }}>{{ Aimless.render('phase') }}</div>
</div>
