<div class="example_subproject_archived" {{ Aimless.realtime()|raw }}>
    <b><span {{ Aimless.realtime('name')|raw }}>{{ Aimless.render('name') }}</span></b><br>
    <span {{ Aimless.realtime('contact.name')|raw }}>{{ Aimless.render('contact.name') }}</span>
</div>
