<div class="example_subproject" {{ Aimless.realtime() }}>
    <b><span {{ Aimless.realtime('name') }}>{{ Aimless.render('name') }}</span></b><br>
    {% if Aimless.data('contact') is not empty %}
        <span {{ Aimless.realtime('contact.name') }}>{{ Aimless.render('contact.name') }}</span>&nbsp;|&nbsp;
        <span {{ Aimless.realtime('contact.email') }}>{{ Aimless.render('contact.email') }}</span>&nbsp;|&nbsp;
        <span {{ Aimless.realtime('contact.phoneNumber') }}>{{ Aimless.render('contact.phoneNumber') }}</span>&nbsp;<br>
    {% endif %}
    <span {{ Aimless.realtime('phase') }}>{{ Aimless.render('phase') }}</span></b> |
    <span {{ Aimless.realtime('state') }}>{{ Aimless.render('state') }}</span></b>
</div>
