<div class="example_subproject_archived" {{ Aimless.realtime() }}>
    <b><span {{ Aimless.realtime('name') }}>{{ Aimless.render('name') }}</span></b><br>
    <span {{ Aimless.realtime('contact.name') }}>{{ Aimless.render('contact.name') }}</span>
</div>
