{%
    embed "MimotoCMS/modules/TabmenuModule/TabmenuModule.twig" with {
        id: 'componentdetails',
        tabs: [
            {
                label: 'Component configuration',
                panel_id: 'panel_componentdetail_info'
            }
        ]
    }
%}
    {% block panels %}

        <!-- structure -->

        <div id="panel_componentdetail_info" class="MimotoCMS_pages_components_ComponentDetail__panel">

            <div class="MimotoCMS_pages_components_ComponentDetail_Structure">

                <div class="MimotoCMS_pages_components_ComponentDetail_Structure__meta">
                    <div class="MimotoCMS_pages_components_ComponentDetail_Structure__meta_info">

                        <div class="MimotoCMS_pages_components_ComponentDetail_Structure__componentname" {{ Mimoto.realtime('name') }}>{{ Mimoto.data('name') }}</div>
                        <div class="MimotoCMS_pages_components_ComponentDetail_Structure__componentfile" {{ Mimoto.realtime('file') }}>{{ Mimoto.data('file') }}</div>

                    </div>

                    <div class="MimotoCMS_pages_components_ComponentDetail_Structure__meta_menu">
                        {{ Mimoto.module('Mimoto.CMS.ButtonModule', { label:'Edit', icon:'', onclick:"Mimoto.CMS.componentEdit('" ~ Mimoto.meta('id') ~ "');", type:'secondary' }) }}
                    </div>

                </div>

            </div>

            <div class="MimotoCMS_pages_components_ComponentDetail__block">

                <div class="MimotoCMS_pages_components_ComponentDetail_Structure__conditionals_empty" {{ Mimoto.showWhenEmpty('conditionals') }}>
                    <div class="MimotoCMS_pages_components_ComponentDetail_Structure__conditionals_explanation">
                        This component has no conditionals, but since this is optional I'm not
                        going to bother you too much about it. Remember however that this opens
                        the powerful feature to render for example a feed with multiple types of
                        items, all with different templates but for you as a developer still only
                        <u>one</u> line of code!
                    </div>
                    <div>{{ Mimoto.module('Mimoto.CMS.ButtonModule', { label:'Add conditional', icon:'plus', onclick:"Mimoto.CMS.componentConditionalNew('" ~ Mimoto.meta('id') ~ "');" }) }}</div>
                </div>

                <div {{ Mimoto.hideWhenEmpty('conditionals') }}>
                    <ul class="MimotoCMS_pages_components_ComponentDetail_Structure__conditionals_container js-list js-list-sortable" {{ Mimoto.realtime('conditionals', 'Mimoto.CMS_entities_EntityDetail-ComponentConditional') }}>
                        {{ Mimoto.data('conditionals', 'Mimoto.CMS_entities_EntityDetail-ComponentConditional') }}
                    </ul>

                    <div class="MimotoCMS_pages_components_ComponentDetail_Structure__conditionals_menu">
                        {{ Mimoto.module('Mimoto.CMS.ButtonModule', { label:'Add conditional', icon:'plus', onclick:"Mimoto.CMS.componentConditionalNew('" ~ Mimoto.meta('id') ~ "');" }) }}
                    </div>
                </div>

            </div>
        </div>

    {% endblock %}
{% endembed %}
