{% set sRichTextFieldId = Mimoto.meta('type')~"."~Mimoto.meta('id') %}
{% set sFlatRichTextFieldId = Mimoto.meta('type')~Mimoto.meta('id') %}

{% embed "MimotoCMS/components/forms/FormComponent.twig" with {"type": "textrtf"} %}

    {% block form_component_element %}

        <div id="{{ sFlatRichTextFieldId }}" {{ Mimoto.input() }} class="MimotoCMS_forms_input_TextRTF-input">{{ Mimoto.value() }}</div>

        <script>MimotoX.utils.registerRequest(Mimoto.form.setupRichTextField, '{{ sRichTextFieldId }}', '{{ sFlatRichTextFieldId }}', '{{ Mimoto.fieldId() }}');</script>

    {% endblock %}

{% endembed %}
