{% set sRichTextFieldId = Aimless.meta('type')~"."~Aimless.meta('id') %}
{% set sFlatRichTextFieldId = Aimless.meta('type')~Aimless.meta('id') %}

{% embed "MimotoCMS/components/forms/FormComponent.twig" with {"type": "textrtf"} %}

    {% block form_component_element %}

        <div id="{{ sFlatRichTextFieldId }}" {{ Aimless.input() }} class="MimotoCMS_forms_input_TextRTF-input">{{ Aimless.value() }}</div>

        <script>Mimoto.Aimless.utils.registerRequest(Mimoto.form.setupRichTextField, '{{ sRichTextFieldId }}', '{{ sFlatRichTextFieldId }}', '{{ Aimless.fieldId() }}');</script>

    {% endblock %}

{% endembed %}
