<html>
    <head>
        <title>CTFO - Buckaroo analysis</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                background-color: #ffffff;
                font-family: "futura-pt", sans-serif;
                font-size: 17px;
                padding: 0;
                margin: 0;
            }
            
            td {
                border:1px solid #555555;
                margin: 0;
                padding: 10px;
            }
            
            tr.header {
                font-weight: bold;
            }
            
            tr.regular {
                font-weight: normal;
            }
            
            tr.totals {
                font-weight: bold;
                font-size: 20px;
                margin-top: 15px;
            }
            
            td.income {
               background-color: #9ececa;
            }
            
            td.expenses {
               background-color: #df5b57;
            }
            
            td.subcategory {
                background-color: #f5f5f5;
            }
            
            td.highlight {
                background-color: #f5f5f5;
            }
            
            td.right {
                text-align: right;
            }
            td.income_greaterthanzero {
                background-color: #9ececa;
            }
            td.expenses_greaterthanzero {
                background-color: #df5b57;
            }
            span.subtitle {
                font-weight: normal;
                font-style: italic;
                font-size: 12px;
            }
            
            td.result {
                background-color: #000000;
                color: #ffffff;
            }
            
            td.payouts {
                background-color: #ffffff;
                color: #000000;
            }
            
            td.neutral {
                background-color: #ffffff;
                color: #000000;
            }
            
            td.negative {
                background-color: #df5b57;
                color: #000000;
            }
            
            td.positive {
                background-color: #9ececa;
                color: #000000;
            }
            
            
            
        </style>
    </head>
    <body>
        
        <table>
            <tr class="header">
                <td rowspan="3">Datum</td>
                <td colspan="{{ 13 + data.donationTypes|length }}" class="income">Inkomsten</td>
                <td colspan="{{ 14 + data.donationRefundTypes|length }}" class="expenses">Uitgaven</td>
                <td colspan="2" class="result">Resultaat</td>
                <td colspan="2" class="result">Uitbetalingen</td>
            </tr>
            <tr class="header">
                <td colspan="9" class="subcategory">Leden</td>
                <td colspan="{{ 1 + data.donationTypes|length }}" class="subcategory">Donaties</td>
                <td rowspan="2" class="subcategory">Uitzonderlijke stortingen</td>
                <td rowspan="2" class="income">Totaal<br><span class="subtitle">incl.&nbsp;21%&nbsp;BTW</span></td>
                <td rowspan="2" class="income">Totaal<br><span class="subtitle">excl.&nbsp;21%&nbsp;BTW</span></td>
                <td rowspan="2" class="subcategory">Transactiekosten</td>
                <td colspan="9" class="subcategory">Refunds: leden</td>
                <td colspan="{{ 1 + data.donationRefundTypes|length }}" class="subcategory">Refunds: donaties</td>
                <td rowspan="2" class="subcategory">Refunds: partial</td>
                <td rowspan="2" class="expenses">Totaal<br><span class="subtitle">incl.&nbsp;21%&nbsp;BTW</span></td>
                <td rowspan="2" class="expenses">Totaal<br><span class="subtitle">excl.&nbsp;21%&nbsp;BTW</span></td>
                
                <td rowspan="2" class="result">Totaal<br><span class="subtitle">besteedbaar</span></td>
                <td rowspan="2" class="result">BTW<br><span class="subtitle">af&nbsp;te&nbsp;dragen</span></td>
                
                <td rowspan="2" class="payouts">Uitbetaald<br><span class="subtitle">door&nbsp;Buckaroo</span></td>
                <td rowspan="2" class="payouts">Verschil<br><span class="subtitle">t.o.v.&nbsp;opgebouwd</span></td>
            </tr>
            <tr class="header">
                <td>Jaar (new)</td>
                <td>Jaar (renew)</td>
                <td>Maand (new)</td>
                <td>Maand (renew)</td>
                <td>Gift 3mnd</td>
                <td>Gift 12mnd</td>
                <td class="subcategory">Subtotaal<br><span class="subtitle">incl.&nbsp;21%&nbsp;BTW</span></td>
                <td class="subcategory">Subtotaal<br><span class="subtitle">excl.&nbsp;21%&nbsp;BTW</span></td>
                <td class="subcategory">BTW<br><span class="subtitle">21%</span></td>
                {% for donationtype in data.donationTypes %}<td>{{ donationtype }}</td>{% endfor %}
                <td class="subcategory">Subtotaal</td>
                
                <td>Jaar (new)</td>
                <td>Jaar (renew)</td>
                <td>Maand (new)</td>
                <td>Maand (renew)</td>
                <td>Gift 3mnd</td>
                <td>Gift 12mnd</td>
                <td class="subcategory">Subtotaal<br><span class="subtitle">incl.&nbsp;21%&nbsp;BTW</span></td>
                <td class="subcategory">Subtotaal<br><span class="subtitle">excl.&nbsp;21%&nbsp;BTW</span></td>
                <td class="subcategory">BTW<br><span class="subtitle">21%</span></td>
                
                
                <!-- leden -->
                
                {% for donationtype in data.donationRefundTypes %}<td>{{ donationtype }}</td>{% endfor %}
                <td class="subcategory">Subtotaal</td>
            </tr>
        {% for record in data.records %}
            <tr class="{% if loop.last %}totals{% else %}regular{% endif %}">
                <td class="highlight">{{ record.date }}</td>
                
                {% for amount in record.products %}<td class="right {% if (amount) > 0 %}income_greaterthanzero{% endif %}">{{ amount }}</td>{% endfor %}
                <td class="right highlight">&euro;&nbsp;{{ record.incomeProductsInclVat }}</td>
                <td class="right highlight"><b>&euro;&nbsp;{{ record.incomeProductsExclVat }}</b></td>
                <td class="right highlight">&euro;&nbsp;{{ record.incomeProductsVat }}</td>
                {% for donationtype in data.donationTypes %}<td class="{% if (record.donations[donationtype]) > 0 %}income_greaterthanzero{% endif %}">{{ record.donations[donationtype] }}</td>{% endfor %}
                <td class="right highlight">&euro;&nbsp;{{ record.donationTotal }}</td>
                
                <td class="right highlight">&euro;&nbsp;{{ record.exceptionalDepositsTotal }}</td>
                
                <td class="right income">&euro;&nbsp;{{ record.incomeInclVat }}</td>
                <td class="right income"><b>&euro;&nbsp;{{ record.incomeExclVat }}</b></td>
                
                <td class="right">&euro;&nbsp;{{ record.transactioncosts }}</td>
                
                {% for amount in record.refundsProducts %}<td class="right {% if (amount) > 0 %}expenses_greaterthanzero{% endif %}">{{ amount }}</td>{% endfor %}
                <td class="right highlight">&euro;&nbsp;{{ record.refundsProductsInclVat }}</td>
                <td class="right highlight"><b>&euro;&nbsp;{{ record.refundsProductsExclVat }}</b></td>
                <td class="right highlight">&euro;&nbsp;{{ record.refundsProductsVat }}</td>
                
                {% for donationtype in data.donationRefundTypes %}<td class="{% if (record.donationRefunds[donationtype]) > 0 %}expenses_greaterthanzero{% endif %}">{{ record.donationRefunds[donationtype] }}</td>{% endfor %}
                <td class="right highlight">&euro;&nbsp;{{ record.donationRefundsTotal }}</td>
                
                <td class="right highlight">&euro;&nbsp;{{ record.partialRefundsTotal }}</td>
                
                <td class="right expenses">&euro;&nbsp;{{ record.expensesInclVat }}</td>
                <td class="right expenses"><b>&euro;&nbsp;{{ record.expensesExclVat }}</b></td>
                
                <td class="right result">&euro;&nbsp;{{ record.resultIncome }}</td>
                <td class="right result"><b>&euro;&nbsp;{{ record.resultVAT }}</b></td>
                
                <td class="right ">&euro;&nbsp;{{ record.payout }}</td>
                <td class="right {{ record.payout_difference_color }}">&euro;&nbsp;{{ record.payout_difference }}</td>
                
            </tr>
        {% endfor %}
        </table>
        <i>Number of files = {{ filecount }}</i>
    </body>
</html>


