<div class="MimotoCMS_pages_selections_SelectionOverview_SelectionRule" {{ Mimoto.realtime() }} {{ Mimoto.reloadOnChange() }}>

    <div class="MimotoCMS_pages_selections_SelectionOverview_SelectionRule-info">


        {# --- body --- #}

        <div class="MimotoCMS_pages_selections_SelectionOverview_SelectionRule-body">

            <div class="MimotoCMS_pages_selections_SelectionOverview_SelectionRule-row">
                <div class="MimotoCMS_pages_selections_SelectionOverview_SelectionRule-section">
                    <div class="MimotoCMS_pages_selections_SelectionOverview_SelectionRule-section-label">Type</div>
                    <div class="MimotoCMS_pages_selections_SelectionOverview_SelectionRule-section-data">
                        <div {{ Mimoto.showWhenValue('typeAsVar', true) }}><span class="fa fa-square-o" {{ Mimoto.set('typeAsVar', false) }}></span></div>

                        <div>{{ Mimoto.module('MimotoCMS_modules_DataSelectButton', { sEmptyLabel:'select type', sEntityName:'type', sSelectionName:'_Mimoto_all_entities', sValuePropertySelector:'type.name', options:{onChange:[['clear', 'instance'], ['clear', 'property']]} }) }}</div>

                        <div {{ Mimoto.showWhenValue('typeAsVar', false) }}><span class="fa fa-square-o" {{ Mimoto.set('typeAsVar', true) }}></span> as var</div>
                        <div class="{{ Mimoto.init() }}" {{ Mimoto.showWhenValue('typeAsVar', true) }}>{{ Mimoto.module('MimotoCMS_modules_EditableField', { sPropertyName:'typeVarName', sFieldClass:'MimotoCMS_actions_ActionOverview_ActionConditional-name' }) }}</div>
                        <div><span class="fa fa-remove" {{ Mimoto.hideWhenEmpty('type') }} {{ Mimoto.clear('type') }}></span></div>
                    </div>
                </div>
            </div>

            <div {{ Mimoto.hideWhenEmpty('type') }}>

                <div class="MimotoCMS_pages_selections_SelectionOverview_SelectionRule-row">
                    <div class="MimotoCMS_pages_selections_SelectionOverview_SelectionRule-section">
                        <div class="MimotoCMS_pages_selections_SelectionOverview_SelectionRule-section-label">Instance</div>
                        <div class="MimotoCMS_pages_selections_SelectionOverview_SelectionRule-section-data">
                            <div {{ Mimoto.showWhenValue('idAsVar', true) }}><span class="fa fa-square-o" {{ Mimoto.set('idAsVar', false) }}></span></div>

                            <div>{{ Mimoto.module('MimotoCMS_modules_DataSelectButton', { sEmptyLabel:'select instance', sEntityName:'instance', sSelectionName:'_Mimoto_all_instances_of_entity', options:{vars:{typeVarName:Mimoto.meta('type.id') }, onChange:[['clear', 'property']]}, sValuePropertySelector:'instance', sValuePropertyIndex:0 }) }}</div>

                            <div {{ Mimoto.showWhenValue('idAsVar', false) }}><span class="fa fa-square-o" {{ Mimoto.set('idAsVar', true) }}></span> as var</div>
                            <div class="{{ Mimoto.init() }}" {{ Mimoto.showWhenValue('idAsVar', true) }}>{{ Mimoto.module('MimotoCMS_modules_EditableField', { sPropertyName:'idVarName', sFieldClass:'MimotoCMS_actions_ActionOverview_ActionConditional-name' }) }}</div>
                            <div><span class="fa fa-remove" {{ Mimoto.hideWhenEmpty('instance') }} {{ Mimoto.clear('instance') }}></span></div>
                        </div>
                    </div>
                </div>


                <div {{ Mimoto.hideWhenEmpty('instance') }}>

                    <div class="MimotoCMS_pages_selections_SelectionOverview_SelectionRule-row">
                        <div class="MimotoCMS_pages_selections_SelectionOverview_SelectionRule-section">
                            <div class="MimotoCMS_pages_selections_SelectionOverview_SelectionRule-section-label">Property</div>
                            <div class="MimotoCMS_pages_selections_SelectionOverview_SelectionRule-section-data">
                                <div {{ Mimoto.showWhenValue('propertyAsVar', true) }}><span class="fa fa-square-o" {{ Mimoto.set('propertyAsVar', false) }}></span></div>

                                <div>{{ Mimoto.module('MimotoCMS_modules_DataSelectButton', { sEmptyLabel:'select property', sEntityName:'property', sSelectionName:'_Mimoto_all_properties_of_entity', options:{vars:{idVarName:Mimoto.meta('type.id') }}, sValuePropertySelector:'property.name' }) }}</div>

                                <div {{ Mimoto.showWhenValue('propertyAsVar', false) }}><span class="fa fa-square-o"></span> as var</div>
                                <div class="{{ Mimoto.init() }}" {{ Mimoto.showWhenValue('propertyAsVar', true) }}>{{ Mimoto.module('MimotoCMS_modules_EditableField', { sPropertyName:'propertyVarName', sFieldClass:'MimotoCMS_actions_ActionOverview_ActionConditional-name' }) }}</div>
                                <div><span class="fa fa-remove" {{ Mimoto.hideWhenEmpty('property') }} {{ Mimoto.clear('property') }}></span></div>
                            </div>
                        </div>
                    </div>
                </div>

                {# if instance? (or idAsVar) -> show property | allow multiple conditionals in 'hideWhenEmpty' #}


                <div class="MimotoCMS_pages_selections_SelectionOverview_SelectionRule-row">
                    <div class="MimotoCMS_pages_selections_SelectionOverview_SelectionRule-section">
                        <div class="MimotoCMS_pages_selections_SelectionOverview_SelectionRule-section-label">Values</div>
                        <div class="MimotoCMS_pages_selections_SelectionOverview_SelectionRule-section-data">
                            <div {{ Mimoto.realtime('values', 'MimotoCMS_pages_selections_SelectionOverview_SelectionRule_SelectionRuleValue') }}>
                                {{ Mimoto.data('values', 'MimotoCMS_pages_selections_SelectionOverview_SelectionRule_SelectionRuleValue') }}
                            </div>
                            <button {{ Mimoto.create('values', '_Mimoto_selection_rule_value') }}>Add value</button>
                            {#<div {{ Mimoto.showWhenValue('valueAsVar', true) }}><span class="fa fa-square-o"></span></div>#}
                            {#<div>{{ Mimoto.module('MimotoCMS_modules_DataSelectButton', { sEmptyLabel:'select property', sEntityName:'property', sSelectionName:'_Mimoto_all_properties_of_entity', options:{vars:{idVarName:Mimoto.meta('type.type') }}, sValuePropertySelector:'property.name' }) }}</div>#}
                            {#<div {{ Mimoto.showWhenValue('valueAsVar', false) }}><span class="fa fa-square-o"></span> as var</div>#}
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <div class="MimotoCMS_pages_selections_SelectionOverview_SelectionRule-menu">
        <span class="MimotoCMS_pages_selections_SelectionOverview_SelectionRule-menuitem" {{ Mimoto.remove({confirm:'MimotoCMS.confirmRemoval'}) }}><span class="fa fa-remove"></span></span>
        <span class="MimotoCMS_pages_selections_SelectionOverview_SelectionRule MimotoCMS_pages_selections_SelectionOverview_SelectionRule-menuitem-move" {{ Mimoto.sortHandle() }}><span class="fa fa-arrows"></span></span>
    </div>
</div>




{#<div class="MimotoCMS_pages_selections_SelectionDetail-Rule" {{ Mimoto.realtime() }} {{ Mimoto.reloadOnChange() }}>#}

    {#<div class="MimotoCMS_pages_selections_SelectionDetail-Rule-data">#}




        {#<div class="MimotoCMS_pages_selections_SelectionDetail-Rule-setting">#}

        {#{% if Mimoto.data('typeAsVar') %}#}
            {#Var name for type = {{ Mimoto.data('typeVarName') }}#}
        {#{% else %}#}

            {#{% if not Mimoto.empty('type') %}#}
                {#Type = <span {{ Mimoto.realtime('type.name') }}>{{ Mimoto.data('type.name') }}</span>#}
            {#{% else %}#}
                {#No type selected yet ..#}
            {#{% endif %}#}

            {#{{ Mimoto.module('MimotoCMS_modules_Button', { label:'Select entity type', types:['small', 'secondary'], directive:Mimoto.select('type', '_Mimoto_all_entities') }) }}#}
            {#<span {{ Mimoto.hideWhenEmpty('type') }}>{{ Mimoto.module('MimotoCMS_modules_Button', { label:'Clear', types:['small', 'alert'], directive:Mimoto.clear('type') }) }}</span>#}

        {#{% endif %}#}
        {#</div>#}

        {#{% if Mimoto.data('typeAsVar') or not Mimoto.isEmpty('type') %}#}
            {#<div class="MimotoCMS_pages_selections_SelectionDetail-Rule-setting">#}
            {#{% if Mimoto.data('idAsVar') %}#}
                {#Var name for id = {{ Mimoto.data('idVarName') }}#}
            {#{% else %}#}

                {#{% if not Mimoto.empty('instance') %}#}
                    {#Instance = <span>{{ Mimoto.meta('instance.id') }}</span>#}
                {#{% else %}#}
                    {#No instance selected yet ..#}
                {#{% endif %}#}

                {#{{ Mimoto.module('MimotoCMS_modules_Button', { label:'Select instance', types:['small', 'secondary'], directive:Mimoto.select('instance', '_Mimoto_all_instances_of_entity', { vars:{typeVarName:Mimoto.data('type.name')} }) }) }}#}
                {#<span {{ Mimoto.hideWhenEmpty('instance') }}>{{ Mimoto.module('MimotoCMS_modules_Button', { label:'Clear', types:['small', 'alert'], directive:Mimoto.clear('instance') }) }}</span>#}




            {#{% endif %}#}
            {#</div>#}
        {#{% endif %}#}


        {#{% if (Mimoto.data('typeAsVar') or not Mimoto.isEmpty('type')) and (Mimoto.data('idAsVar') or not Mimoto.isEmpty('instance')) %}#}

            {#<div class="MimotoCMS_pages_selections_SelectionDetail-Rule-setting">#}
                {#{% if Mimoto.data('propertyAsVar') %}#}
                    {#Var name for property = {{ Mimoto.data('propertyVarName') }}#}
                {#{% else %}#}

                    {#{% if not Mimoto.empty('property') %}#}
                        {#Property name = <span>{{ Mimoto.data('property.name') }}</span>#}
                    {#{% else %}#}
                        {#No property selected ..#}
                    {#{% endif %}#}

                    {#{{ Mimoto.module('MimotoCMS_modules_Button', { label:'Select property', types:['small', 'secondary'], directive:Mimoto.select('property', '_Mimoto_all_properties_of_entity', { vars:{idVarName:Mimoto.meta('type.id')} }) }) }}#}
                    {#<span {{ Mimoto.hideWhenEmpty('property') }}>{{ Mimoto.module('MimotoCMS_modules_Button', { label:'Clear', types:['small', 'alert'], directive:Mimoto.clear('property') }) }}</span>#}

                {#{% endif %}#}
            {#</div>#}
        {#{% endif %}#}



        {#<br>#}
        {#// 1. add values<br>#}
        {#<br>#}
        {#or<br>#}
        {#<br>#}
        {#// a. add property<br>#}
        {#// b. add child types<br>#}
        {#// c. add child values<br>#}
        {#<br>#}

    {#</div>#}
    {#<div class="MimotoCMS_pages_selections_SelectionDetail-Rule-menu">#}
        {#{{ Mimoto.module('MimotoCMS_modules_Button', { label:'Delete', types:['small', 'alert'], directive:Mimoto.remove({confirm:'MimotoCMS.confirmRemoval'}) }) }}#}
        {#{{ Mimoto.module('MimotoCMS_modules_Button', { label:'Edit', types:['small', 'secondary'], directive:Mimoto.edit('_Mimoto_selection_rule') }) }}#}
    {#</div>#}
{#</div>#}
