<div class="MimotoCMS_pages_entities_EntityDetail-EntityProperty">

    <div class="MimotoCMS_pages_entities_EntityDetail-EntityProperty__data">
        <div class="MimotoCMS_pages_entities_EntityDetail-EntityProperty__name">
            <a href="/mimoto.cms/entityproperty/{{ Aimless.meta('id') }}/view" {{ Aimless.realtime('name')|raw }} >{{ Aimless.render('name') }}</a>
        </div>
        <div {{ Aimless.realtime('type')|raw }} class="MimotoCMS_pages_entities_EntityDetail-EntityProperty__type">
            {{ Aimless.render('type') }}
        </div>
        <div class="MimotoCMS_pages_entities_EntityDetail-EntityProperty__propertysettingscontainer">
            {{ Aimless.render('settings', 'Mimoto.CMS_entities_EntityDetail-EntityPropertySetting')|raw }}
        </div>
    </div>
    <div class="MimotoCMS_pages_entities_EntityDetail-EntityProperty__menu">
        {% include 'MimotoCMS/components/forms/input/Button/Button.twig' with { label:'Edit', types:['small', 'secondary'], onclick:"Mimoto.CMS.entityPropertyEdit('" ~ Aimless.meta('id') ~ "');" } %}
        {% include 'MimotoCMS/components/forms/input/Button/Button.twig' with { label:'Move', types:['small', 'secondary'], onclick:"Mimoto.CMS.entityPropertyMove('" ~ Aimless.meta('id') ~ "');" } %}
    </div>
</div>
