<li class="MimotoCMS_pages_entities_EntityDetail-EntityProperty" {{ Aimless.realtime() }}>

    <div class="MimotoCMS_pages_entities_EntityDetail-EntityProperty__data">
        <div class="MimotoCMS_pages_entities_EntityDetail-EntityProperty__name" {{ Aimless.realtime('name') }}>
             {{ Aimless.render('name') }}
        </div>
        <div class="MimotoCMS_pages_entities_EntityDetail-EntityProperty__type">
            {% if Aimless.data('subtype') == 'image' or Aimless.data('subtype') == 'video' or Aimless.data('subtype') == 'audio' or Aimless.data('subtype') == 'file' %}
                <div {{ Aimless.realtime('subtype') }}>{{ Aimless.render('subtype') }}</div>
            {% else %}
                <div {{ Aimless.realtime('type') }}>{{ Aimless.render('type') }}</div>
            {% endif %}
        </div>
        <div class="MimotoCMS_pages_entities_EntityDetail-EntityProperty__propertysettingscontainer" {{ Aimless.realtime('settings') }}>
            {{ Aimless.render('settings', 'Mimoto.CMS_entities_EntityDetail-EntityPropertySetting', { propertySubtype:Aimless.data('subtype') }) }}
        </div>
    </div>
    <div class="MimotoCMS_pages_entities_EntityDetail-EntityProperty__menu">
        {{ Aimless.module('Mimoto.CMS.ButtonModule', { label:'Delete', types:['small', 'alert'], onclick:"Mimoto.CMS.entityPropertyDelete('" ~ Aimless.meta('id') ~ "', '" ~ Aimless.data('name') ~ "');" }) }}
        {{ Aimless.module('Mimoto.CMS.ButtonModule', { label:'Edit', types:['small', 'secondary'], onclick:"Mimoto.CMS.entityPropertyEdit('" ~ Aimless.meta('id') ~ "');" }) }}
    </div>
    <div class="MimotoCMS_pages_entities_EntityDetail-EntityProperty__menu-handle">
        <div class="MimotoCMS_ListItemModule-handle">
            <div class="MimotoCMS_ListItemModule-handle-dot"></div>
            <div class="MimotoCMS_ListItemModule-handle-dot"></div>
            <div class="MimotoCMS_ListItemModule-handle-dot"></div>
            <div class="MimotoCMS_ListItemModule-handle-dot"></div>
            <div class="MimotoCMS_ListItemModule-handle-dot"></div>
            <div class="MimotoCMS_ListItemModule-handle-dot"></div>
            <div class="MimotoCMS_ListItemModule-handle-dot"></div>
            <div class="MimotoCMS_ListItemModule-handle-dot"></div>
            <div class="MimotoCMS_ListItemModule-handle-dot"></div>
            <div class="MimotoCMS_ListItemModule-handle-dot"></div>
        </div>
    </div>
</li>
