<li class="MimotoCMS_pages_entities_EntityDetail-EntityProperty" {{ Mimoto.realtime() }}>

    <div class="MimotoCMS_pages_entities_EntityDetail-EntityProperty__data">
        <div class="MimotoCMS_pages_entities_EntityDetail-EntityProperty__name" {{ Mimoto.realtime('name') }}>
             {{ Mimoto.render('name') }}
        </div>
        <div class="MimotoCMS_pages_entities_EntityDetail-EntityProperty__type">
            {% if Mimoto.data('subtype') == 'image' or Mimoto.data('subtype') == 'video' or Mimoto.data('subtype') == 'audio' or Mimoto.data('subtype') == 'file' %}
                <div {{ Mimoto.realtime('subtype') }}>{{ Mimoto.render('subtype') }}</div>
            {% else %}
                <div {{ Mimoto.realtime('type') }}>{{ Mimoto.render('type') }}</div>
            {% endif %}
        </div>
        <div class="MimotoCMS_pages_entities_EntityDetail-EntityProperty__propertysettingscontainer" {{ Mimoto.realtime('settings') }}>
            {{ Mimoto.render('settings', 'Mimoto.CMS_entities_EntityDetail-EntityPropertySetting', { propertySubtype:Mimoto.data('subtype') }) }}
        </div>
    </div>
    <div class="MimotoCMS_pages_entities_EntityDetail-EntityProperty__menu">
        {{ Mimoto.module('Mimoto.CMS.ButtonModule', { label:'Delete', types:['small', 'alert'], onclick:"Mimoto.CMS.entityPropertyDelete('" ~ Mimoto.meta('id') ~ "', '" ~ Mimoto.data('name') ~ "');" }) }}
        {{ Mimoto.module('Mimoto.CMS.ButtonModule', { label:'Edit', types:['small', 'secondary'], onclick:"Mimoto.CMS.entityPropertyEdit('" ~ Mimoto.meta('id') ~ "');" }) }}
    </div>
    <div class="MimotoCMS_pages_entities_EntityDetail-EntityProperty__menu-handle">
        <div class="MimotoCMS_ListItemModule-handle js-sortable-draghandle">
            <div class="MimotoCMS_ListItemModule-handle-dot"></div>
            <div class="MimotoCMS_ListItemModule-handle-dot"></div>
            <div class="MimotoCMS_ListItemModule-handle-dot"></div>
            <div class="MimotoCMS_ListItemModule-handle-dot"></div>
            <div class="MimotoCMS_ListItemModule-handle-dot"></div>
            <div class="MimotoCMS_ListItemModule-handle-dot"></div>
            <div class="MimotoCMS_ListItemModule-handle-dot"></div>
            <div class="MimotoCMS_ListItemModule-handle-dot"></div>
            <div class="MimotoCMS_ListItemModule-handle-dot"></div>
            <div class="MimotoCMS_ListItemModule-handle-dot"></div>
        </div>
    </div>
</li>
