<div class="MimotoCMS_pages_entities_EntityDetail-EntityProperty" {{ Aimless.realtime() }}>

    <div class="MimotoCMS_pages_entities_EntityDetail-EntityProperty__data">
        <div class="MimotoCMS_pages_entities_EntityDetail-EntityProperty__name">
            <a href="/mimoto.cms/entityproperty/{{ Aimless.meta('id') }}/view" {{ Aimless.realtime('name') }} >{{ Aimless.render('name') }}</a>
        </div>
        <div class="MimotoCMS_pages_entities_EntityDetail-EntityProperty__type">
            <div {{ Aimless.realtime('subtype') }}>{{ Aimless.render('subtype') }}</div>
            <div {{ Aimless.realtime('type') }}>{{ Aimless.render('type') }}</div>
        </div>
        <div class="MimotoCMS_pages_entities_EntityDetail-EntityProperty__propertysettingscontainer">
            {{ Aimless.render('settings', 'Mimoto.CMS_entities_EntityDetail-EntityPropertySetting') }}
        </div>
    </div>
    <div class="MimotoCMS_pages_entities_EntityDetail-EntityProperty__menu">
        {{ Aimless.module('Mimoto.CMS.ButtonModule', { label:'Edit', types:['small', 'secondary'], onclick:"Mimoto.CMS.entityPropertyEdit('" ~ Aimless.meta('id') ~ "');" }) }}
        {#{{ Aimless.module('Mimoto.CMS.ButtonModule', { label:'Move', types:['small', 'secondary'], onclick:"Mimoto.CMS.entityPropertyMove('" ~ Aimless.meta('id') ~ "');" }) }}#}
        {{ Aimless.module('Mimoto.CMS.ButtonModule', { label:'Delete', types:['small', 'alert'], onclick:"Mimoto.CMS.entityPropertyDelete('" ~ Aimless.meta('id') ~ "');" }) }}
    </div>
</div>
