<div class="MimotoPublisher-FeedItemExplainer" {{ Mimoto.realtime() }}>
    <div class="MimotoPublisher-FeedItemExplainer-header">
        <div class="MimotoPublisher-FeedItemExplainer-titlecontainer">
            <h1 class="MimotoPublisher-FeedItemExplainer-title">
                <span class="MimotoPublisher-FeedItemExplainer-title">
                    <a href="/publisher/article/{{ Mimoto.meta('id') }}" {{ Mimoto.realtime('title') }}>{{ Mimoto.data('title') }}</a>
                </span>
            </h1>
        </div>
        <img class="MimotoPublisher-FeedItemExplainer-headerImage" src="{{ Mimoto.data('headerImage') }}" {{ Mimoto.realtime('headerImage') }}>
    </div>
</div>
