<div class="MimotoPublisher-FeedItemExplainer" {{ Aimless.realtime() }}>
    <div class="MimotoPublisher-FeedItemExplainer-header">
        <div class="MimotoPublisher-FeedItemExplainer-titlecontainer">
            <h1 class="MimotoPublisher-FeedItemExplainer-title">
                <span class="MimotoPublisher-FeedItemExplainer-title">
                    <a href="/publisher/article/{{ Aimless.meta('id') }}" {{ Aimless.realtime('title') }}>{{ Aimless.render('title') }}</a>
                </span>
            </h1>
        </div>
        <img class="MimotoPublisher-FeedItemExplainer-headerImage" src="{{ Aimless.render('headerImage') }}" {{ Aimless.realtime('headerImage') }}>
    </div>
</div>
