{%
    embed "MimotoCMS/modules/TabmenuModule/TabmenuModule.twig" with {
        id: 'LayoutDetails',
        tabs: [
            {
                label: 'Layout structure',
                panel_id: 'panel_LayoutDetail_info'
            }
        ]
    }
%}
    {% block panels %}

        <!-- structure -->

        <div id="panel_LayoutDetail_info" class="MimotoCMS_pages_components_LayoutDetail__panel">

            <div class="MimotoCMS_pages_components_LayoutDetail_Structure">

                <div class="MimotoCMS_pages_components_LayoutDetail_Structure__meta">
                    <div class="MimotoCMS_pages_components_LayoutDetail_Structure__meta_info">

                        <div class="MimotoCMS_pages_components_LayoutDetail_Structure__layoutname" {{ Mimoto.realtime('name') }}>{{ Mimoto.data('name') }}</div>
                        <div class="MimotoCMS_pages_components_LayoutDetail_Structure__layoutfile" {{ Mimoto.realtime('file') }}>{{ Mimoto.data('file') }}</div>

                    </div>

                    <div class="MimotoCMS_pages_components_LayoutDetail_Structure__meta_menu">
                        {{ Mimoto.module('MimotoCMS_modules_Button', { label:'Edit', icon:'', type:'secondary', directive:Mimoto.edit('_Mimoto_layout') }) }}
                    </div>

                </div>

            </div>

            <div class="MimotoCMS_pages_components_LayoutDetail__block">

                <div class="MimotoCMS_pages_components_LayoutDetail_Structure__containers_empty" {{ Mimoto.showWhenEmpty('containers') }}>
                    <div>This component has no containers yet. You could use this layout but without containers it sort of defies the purpose and makes it more like a component.</div>
                </div>

                <div {{ Mimoto.hideWhenEmpty('containers') }}>
                    <div class="MimotoCMS_pages_components_LayoutDetail_Structure__containers" {{ Mimoto.realtime('containers', 'MimotoCMS_components_LayoutDetail-Container') }}>
                        {{ Mimoto.data('containers', 'MimotoCMS_components_LayoutDetail-Container') }}
                    </div>
                </div>

                <div class="MimotoCMS_pages_components_LayoutDetail_Structure__layoutcontainers_menu">
                    {{ Mimoto.module('MimotoCMS_modules_Button', { label:'Add container', icon:'plus', directive:Mimoto.add('containers', '_Mimoto_layoutcontainer') }) }}
                </div>

            </div>
        </div>

    {% endblock %}
{% endembed %}
