{% if tabs is empty %}Mimoto says: Please add an array called 'tabs'. See documentation for more info.{% endif %}
{% set tabmenu_id = "Mimoto_Modules_Tabmenu__"~id %}
<div id="{{ tabmenu_id }}" class="MimotoCMS_components_Tabmenu">
    <div class="MimotoCMS_components_Tabmenu__menu">
        {% for tab in tabs %}<div id="{{ tabmenu_id }}_{{ loop.index }}" class="MimotoCMS_components_Tabmenu__menu_tab{% if loop.first %} active{% endif %}">{{ tab.label }}</div>{% endfor %}
    </div>
    <div class="MimotoCMS_components_Tabmenu__panels">
        {% block panels %}{% endblock %}
    </div>
</div>
<script>

    // init
    var aTabs = [];

    {% for tab in tabs %}

        var tab = {
            id: '{{ tabmenu_id }}_{{ loop.index }}',
            label: '{{ tab.label }}',
            panel_id: '{{ tab.panel_id }}'
        };

        aTabs.push(tab);

    {% endfor %}

    // setup
    var tabmenu = new Mimoto.modules.Tabmenu('{{ tabmenu_id }}', aTabs);

</script>
