{%
    embed "MimotoCMS/modules/TabmenuModule/TabmenuModule.twig" with {
        id: 'componentdetails',
        tabs: [
            {
                label: 'Selection structure',
                panel_id: 'panel_selectiondetail_info'
            }
        ]
    }
%}
    {% block panels %}

        <!-- structure -->

        <div id="panel_selectiondetail_info" class="MimotoCMS_pages_selections_Detail__panel">

            <div class="MimotoCMS_pages_selections_Detail_Structure">

                <div class="MimotoCMS_pages_selections_Detail_Structure__meta">
                    <div class="MimotoCMS_pages_selections_Detail_Structure__meta_info">

                        <div class="MimotoCMS_pages_selections_Detail_Structure__selectionname" {{ Mimoto.realtime('name') }}>{{ Mimoto.data('name') }}</div>

                    </div>

                    <div class="MimotoCMS_pages_selections_Detail_Structure__meta_menu">
                        {{ Mimoto.module('MimotoCMS_modules_Button', { label:'Edit', icon:'', directive:Mimoto.edit('_Mimoto_coreform__selection') }) }}
                    </div>

                </div>

            </div>

            <div class="MimotoCMS_pages_selections_Detail__block">

                <div class="MimotoCMS_pages_selections_Detail_Structure__rules_empty" {{ Mimoto.showWhenEmpty('rules') }}>
                    <div>This selection has no rules yet.<br>Don't hesitate one minute more, start adding one!</div>
                </div>

                <div {{ Mimoto.hideWhenEmpty('rules') }}>
                    <div class="MimotoCMS_pages_selections_Detail_Structure__rules_container" {{ Mimoto.realtime('rules', 'MimotoCMS_selections_Detail-Rule') }}>
                        {{ Mimoto.data('rules', 'MimotoCMS_selections_Detail-Rule') }}
                    </div>
                </div>

                <div class="MimotoCMS_pages_selections_Detail_Structure__rules_menu">
                    {{ Mimoto.module('MimotoCMS_modules_Button', { label:'Add new rule', icon:'plus', directive:Mimoto.add('rules', '_Mimoto_selectionrule') }) }}
                </div>

            </div>
        </div>

    {% endblock %}
{% endembed %}
