{% block content %}
<div class="example_feeditem2" {{ Aimless.realtime()|raw }} onClick="window.open('/article/{{ Aimless.meta('id') }}', '_self')">
    <b>Explainer - <span {{ Aimless.realtime('title')|raw }}>{{ Aimless.data('title') }}</span></b><br>
    <span {{ Aimless.realtime('lede')|raw }}>{{ Aimless.data('lede') }}</span>
</div>
{% endblock %}
