<li class="MimotoCMS_ListItemModule" {{ realtime }}>

    <div class="MimotoCMS_ListItemModule-content">

        <div class="MimotoCMS_ListItemModule-info">
            <div class="MimotoCMS_ListItemModule-label" {{ label_realtime }}>{{ label }}</div>
            {% if sublabel is defined %}
            <div class="MimotoCMS_ListItemModule-sublabel" {% if sublabel_realtime is defined %}{{ sublabel_realtime }}{% endif %}>{{ sublabel }}</div>
            {% endif %}
        </div>
        <div class="MimotoCMS_ListItemModule-menu">
            {% if button2_label is defined and button2_label is not empty %}
                {{ Mimoto.module('MimotoCMS_modules_Button', { label:button2_label|default(''), onclick:button2_action|default(''), directive:button2_directive|default(''), types:[button2_type|default('')], icon:button2_icon|default('') }) }}
            {% endif %}
            {{ Mimoto.module('MimotoCMS_modules_Button', { label:button_label|default(''), onclick:button_action|default(''), directive:button_directive|default(''), types:[button_type|default('')], icon:button_icon|default('') }) }}
        </div>
        <div class="MimotoCMS_ListItemModule-handle js-sortable-draghandle">
            <div class="MimotoCMS_ListItemModule-handle-dot"></div>
            <div class="MimotoCMS_ListItemModule-handle-dot"></div>
            <div class="MimotoCMS_ListItemModule-handle-dot"></div>
            <div class="MimotoCMS_ListItemModule-handle-dot"></div>
            <div class="MimotoCMS_ListItemModule-handle-dot"></div>
            <div class="MimotoCMS_ListItemModule-handle-dot"></div>
            <div class="MimotoCMS_ListItemModule-handle-dot"></div>
            <div class="MimotoCMS_ListItemModule-handle-dot"></div>
            <div class="MimotoCMS_ListItemModule-handle-dot"></div>
            <div class="MimotoCMS_ListItemModule-handle-dot"></div>
        </div>
    </div>

</li>
