<li class="MimotoCMS_ListItemModule" {{ realtime }}>

    <div class="MimotoCMS_ListItemModule-content">

        <div class="MimotoCMS_ListItemModule-info">
            <div class="MimotoCMS_ListItemModule-label" {{ label_realtime }}>{{ label }}</div>
            <div class="MimotoCMS_ListItemModule-sublabel" {{ sublabel_realtime }}>{{ sublabel }}</div>
        </div>
        <div class="MimotoCMS_ListItemModule-menu">
            {% if button2_label is not empty %}
                {{ Mimoto.module('Mimoto.CMS.ButtonModule', { label:button2_label, onclick:button2_action, directive:button2_directive, types:[button2_type], icon:button2_icon }) }}
            {% endif %}
            {{ Mimoto.module('Mimoto.CMS.ButtonModule', { label:button_label, onclick:button_action, directive:button_directive, types:[button_type], icon:button_icon }) }}
        </div>
        {% if sortable is empty or sortable %}
            <div class="MimotoCMS_ListItemModule-handle js-sortable-draghandle">
                <div class="MimotoCMS_ListItemModule-handle-dot"></div>
                <div class="MimotoCMS_ListItemModule-handle-dot"></div>
                <div class="MimotoCMS_ListItemModule-handle-dot"></div>
                <div class="MimotoCMS_ListItemModule-handle-dot"></div>
                <div class="MimotoCMS_ListItemModule-handle-dot"></div>
                <div class="MimotoCMS_ListItemModule-handle-dot"></div>
                <div class="MimotoCMS_ListItemModule-handle-dot"></div>
                <div class="MimotoCMS_ListItemModule-handle-dot"></div>
                <div class="MimotoCMS_ListItemModule-handle-dot"></div>
                <div class="MimotoCMS_ListItemModule-handle-dot"></div>
            </div>
        {% endif %}
    </div>

</li>
