<div class="MimotoCMS_components_ListItem">
    <div class="MimotoCMS_components_ListItem__info">
        <div class="MimotoCMS_components_ListItem__label" {{ label_realtime }}>{{ label }}</div>
        <div class="MimotoCMS_components_ListItem__sublabel" {{ sublabel_realtime }}>{{ sublabel }}</div>
    </div>
    <div class="MimotoCMS_components_ListItem__menu">
        {{ Aimless.module('Mimoto.CMS.ButtonModule', { label:button_label, onclick:button_action, types:[button_type] }) }}
    </div>
</div>
