<li class="MimotoCMS_ListItemModule" {{ realtime }}>

    <div class="MimotoCMS_ListItemModule-content">

        <div class="MimotoCMS_ListItemModule-info">
            <div class="MimotoCMS_ListItemModule-label" {{ label_realtime }}>{{ label }}</div>
            <div class="MimotoCMS_ListItemModule-sublabel" {{ sublabel_realtime }}>{{ sublabel }}</div>
        </div>
        <div class="MimotoCMS_ListItemModule-menu">
            {% if button2_label is not empty %}
                {{ Mimoto.module('Mimoto.CMS.ButtonModule', { label:button2_label, onclick:button2_action, types:[button2_type] }) }}
            {% endif %}
            {{ Mimoto.module('Mimoto.CMS.ButtonModule', { label:button_label, onclick:button_action, types:[button_type] }) }}
        </div>

        {% if sortable is empty or sortable %}
            <div class="MimotoCMS_ListItemModule-handle">
                <div class="MimotoCMS_ListItemModule-handle-dot"></div>
                <div class="MimotoCMS_ListItemModule-handle-dot"></div>
                <div class="MimotoCMS_ListItemModule-handle-dot"></div>
                <div class="MimotoCMS_ListItemModule-handle-dot"></div>
                <div class="MimotoCMS_ListItemModule-handle-dot"></div>
                <div class="MimotoCMS_ListItemModule-handle-dot"></div>
                <div class="MimotoCMS_ListItemModule-handle-dot"></div>
                <div class="MimotoCMS_ListItemModule-handle-dot"></div>
                <div class="MimotoCMS_ListItemModule-handle-dot"></div>
                <div class="MimotoCMS_ListItemModule-handle-dot"></div>
            </div>
        {% endif %}
    </div>

</li>
