<div class="popup_title">{% if formdata.id is defined %}Change{% else %}New{% endif %} subproject</div>
<div class="form">
    <div class="form_field_name">Subproject name</div>
    <div class="form_field"><input id="form_field_name" name="name" type="text" class="textfield" value="{% if formdata.name is defined %}{{ formdata.name }}{% endif %}" /></div>
    <div class="form_field_name">Main contact</div>
    <div class="form_field"><input id="form_field_contact_name" name="contact_name" type="text" class="textfield" value="{% if formdata.contact_name is defined %}{{ formdata.contact_name }}{% endif %}" /></div>
    
    <div class="form_field_name">Phase</div>
    <div class="form_field">
        <select id="form_field_phase" name="phase">
            {% if phase is empty %}<option value="" selected>Select a phase ..</option>{% endif %}
            {% for phase_option in phases %}
                <option value="{{ phase_option.value }}" {% if phase_option.value == formdata.phase %}selected{% endif %}>{{ phase_option.label }}</option>
            {% endfor %}
        </select>
    </div>
    
    <div class="form_field_name">State</div>
    <div class="form_field">
        <select id="form_field_state_id" name="state_id">
            {% if state_id is empty %}<option value="" selected>Select a state ..</option>{% endif %}
            {% for state_option in states %}
                <option value="{{ state_option.id }}" {% if state_option.id == formdata.state_id %}selected{% endif %}>{{ state_option.label }}</option>
            {% endfor %}
        </select>
    </div>
        
    <div class="form_field_name">Probability</div>
    <div class="form_field">
        <select id="form_field_probability" name="probability">
            {% if probability is empty %}<option value="" selected>Select a probability ..</option>{% endif %}
            {% for probability_option in probabilities %}
                <option value="{{ probability_option.value }}" {% if probability_option.value == formdata.probability %}selected{% endif %}>{{ probability_option.label }}</option>
            {% endfor %}
        </select>
    </div>
    
    <div class="form_field_name">Budget</div>
    <div class="form_field"><input id="form_field_budget" name="budget" type="text" class="textfield" value="{% if formdata.budget is defined %}{{ formdata.budget }}{% endif %}" /></div>
        
    <div class="form_field_name">Payment type</div>
    <div class="form_field">
        <select id="form_field_payment_type" name="payment_type">
            {% if payment_type is empty %}<option value="" selected>Select an offer type ..</option>{% endif %}
            {% for payment_type_option in payment_types %}
                <option value="{{ payment_type_option.value }}" {% if payment_type_option.value == formdata.payment_type %}selected{% endif %}>{{ payment_type_option.label }}</option>
            {% endfor %}
        </select>
    </div>
        
    <div class="form_menu">
        <div class="button_text" onClick="Maido.popup.close();">Cancel</div>
        <div class="button" onClick="Maido.saveSubproject(
                { 
                    {% if formdata.id is defined %}id:{{ formdata.id }},{% endif %}
                    {% if project_id is defined %}project_id:{{ project_id }},{% endif %} 
                    name:document.getElementById('form_field_name').value, 
                    contact_name:document.getElementById('form_field_contact_name').value, 
                    phase:document.getElementById('form_field_phase').value, 
                    state_id:document.getElementById('form_field_state_id').value, 
                    probability:document.getElementById('form_field_probability').value, 
                    budget:document.getElementById('form_field_budget').value, 
                    payment_type:document.getElementById('form_field_payment_type').value
                }
            );">Save</div>
    </div>
</div>