<div class="MimotoCMS_pages_entities_EntityDetail-EntityPropertyExample">

    {#{% if Aimless.data('type') == "value" %}#}
        &lt;div&nbsp;<span class="MimotoCMS_pages_entities_EntityDetail-EntityPropertyExample-aimless-code">
        {{ '{{ ' }}Aimless.realtime(
        <span class="MimotoCMS_pages_entities_EntityDetail-EntityPropertyExample-aimless-value">{{ "'"~Aimless.data('name')~"'" }}
        </span>) {{ ' }}' }}</span>&gt;<span class="MimotoCMS_pages_entities_EntityDetail-EntityPropertyExample-aimless-code">{{ '{{ ' }}Aimless.render(
        <span class="MimotoCMS_pages_entities_EntityDetail-EntityPropertyExample-aimless-value">{{ "'"~Aimless.data('name')~"'" }}</span>){{ ' }}' }}</span>&lt;/div&gt;

    {#{% endif %}#}

</div>
