{% embed "MimotoCMS/modules/Tabmenu/Tabmenu.twig" %}

    {% block tabs %}

        <div data-mimotocms-tabmenu-tab>Fields</div>

    {% endblock %}

    {% block panels %}

        <div data-mimotocms-tabmenu-panel>

            <div class="MimotoCMS_pages_forms_FormDetail_Structure__meta">

                <div class="MimotoCMS_pages_forms_FormDetail_Structure__meta_info">
                    <div class="MimotoCMS_pages_forms_FormDetail_Structure__formname" {{ Mimoto.realtime('name') }}>{{ Mimoto.data('name') }}</div>

                    <div class="MimotoCMS_pages_forms_FormDetail_Structure__savetype">
                        <span class="{{ Mimoto.init() }}" {{ Mimoto.showWhenValue('manualSave', true) }}>Manual save</span>
                        <span {{ Mimoto.hideWhenValue('manualSave', true) }}>Auto save</span>
                    </div>
                </div>

                <div class="MimotoCMS_pages_forms_FormDetail_Structure__meta_menu">
                    {{ Mimoto.module('MimotoCMS_modules_Button', { label:'Edit', icon:'', directive:Mimoto.edit('_Mimoto_coreform__form'), type:'secondary' }) }}
                </div>
            </div>

            <div class="MimotoCMS_pages_entities_EntityDetail__block">

                <div class="MimotoCMS_pages_forms_FormDetail_Structure__fields_empty" {{ Mimoto.showWhenEmpty('fields') }}>
                    <div>This forms has no fields yet.<br>Go ahead, start adding them!</div>
                </div>

                <div {{ Mimoto.hideWhenEmpty('fields') }}>
                    <ul class="MimotoCMS_pages_forms_FormDetail_Structure__fields_container" {{ Mimoto.sortable() }} {{ Mimoto.realtime('fields', 'MimotoCMS_forms_FormDetail-FormField') }}>
                        {{ Mimoto.data('fields', 'MimotoCMS_forms_FormDetail-FormField') }}
                    </ul>
                </div>

                <div class="MimotoCMS_pages_forms_FormDetail_Structure__fields_menu">
                    {{ Mimoto.module('MimotoCMS_modules_Button', { label:'Add new field', icon:'plus', onclick:"MimotoCMS.formFieldNew_TypeSelector('" ~ Mimoto.meta('id') ~ "');" }) }}
                </div>

            </div>

        </div>

    {% endblock %}

{% endembed %}
