{%
    embed "MimotoCMS/modules/TabmenuModule/TabmenuModule.twig" with {
        id: 'formdetails',
        tabs: [
            {
                label: 'Fields',
                panel_id: 'panel_formdetail_fields'
            }
        ]
    }
%}
    {% block panels %}

        <!-- structure -->

        <div id="panel_formdetail_fields" class="MimotoCMS_modules_Tabmenu-panel">

            <div class="MimotoCMS_pages_forms_FormDetail_Structure__meta">

                <div class="MimotoCMS_pages_forms_FormDetail_Structure__meta_info">
                    <div class="MimotoCMS_pages_forms_FormDetail_Structure__formname" {{ Mimoto.realtime('name') }}>{{ Mimoto.data('name') }}</div>
                </div>

                <div class="MimotoCMS_pages_forms_FormDetail_Structure__meta_menu">
                    {{ Mimoto.module('MimotoCMS_modules_Button', { label:'Edit', icon:'', onclick:"MimotoCMS.formEdit('" ~ Mimoto.meta('id') ~ "');", type:'secondary' }) }}
                </div>

            </div>

            <br>

            <div class="MimotoCMS_pages_entities_EntityDetail__block">

                <div class="MimotoCMS_pages_forms_FormDetail_Structure__fields_empty" {{ Mimoto.showWhenEmpty('fields') }}>
                    <div>This forms has no fields yet.<br>Go ahead, start adding them!</div>
                    <div>{{ Mimoto.module('MimotoCMS_modules_Button', { label:'Add new field', icon:'plus', onclick:"MimotoCMS.formFieldNew_TypeSelector('" ~ Mimoto.meta('id') ~ "');" }) }}</div>
                </div>

                <div {{ Mimoto.hideWhenEmpty('fields') }}>
                    <ul class="MimotoCMS_pages_forms_FormDetail_Structure__fields_container js-list js-list-sortable" {{ Mimoto.realtime('fields', 'MimotoCMS_forms_FormDetail-FormField') }}>
                        {{ Mimoto.data('fields', 'MimotoCMS_forms_FormDetail-FormField') }}
                    </ul>

                    <div class="MimotoCMS_pages_forms_FormDetail_Structure__fields_menu">
                        {{ Mimoto.module('MimotoCMS_modules_Button', { label:'Add new field', icon:'plus', onclick:"MimotoCMS.formFieldNew_TypeSelector('" ~ Mimoto.meta('id') ~ "');" }) }}
                    </div>
                </div>

            </div>

        </div>

    {% endblock %}
{% endembed %}
