<header class="js-header MimotoCMS_interface_Header">
    <div class="MimotoCMS_interface_Header-logo-container">
        <a href="/mimoto.cms"><div class="MimotoCMS_interface_Header-logo"></div></a>

        <div class="js-navigation-toggle MimotoCMS_interface_Header-navigation-collapse-toggle">
            <svg class="MimotoCMS_interface_Header-navigation-collapse-toggle-icon"><use xlink:href='#ico-arrow'/></svg>
        </div>
    </div>

    <div class="MimotoCMS_interface_Header-mobile-navigation-toggle-container">
        <button class="MimotoCMS_interface_Header-mobile-navigation-toggle js-mobile-navigation-toggle">
            <span class="MimotoCMS_interface_Header-mobile-navigation-toggle-line"></span>
            <span class="MimotoCMS_interface_Header-mobile-navigation-toggle-line"></span>
            <span class="MimotoCMS_interface_Header-mobile-navigation-toggle-line"></span>
        </button>
    </div>

    <ul class="MimotoCMS_interface_Header-breadcrumbs">
        {% for element in pageTitle %}
            <li class="MimotoCMS_interface_Header-breadcrumbs-list-item">
                <a href="{{ element.url }}" class="MimotoCMS_interface_Header-breadcrumbs-list-item-link">{{ element.label }}</a>
                {% if not loop.last %}<span class="MimotoCMS_interface_Header-breadcrumbs-list-item-divider">/</span>{% endif %}
            </li>
        {% endfor %}
    </ul>

    <ul class="MimotoCMS_interface_Header-menu">
        <li class="MimotoCMS_interface_Header-menu-item">
            <a href="/mimoto.cms/account" class="MimotoCMS_interface_Header-menu-user">
                <span class="MimotoCMS_interface_Header-menu-user-text" {{ Mimoto.user.realtime('name') }} {{ Mimoto.user.hideWhenValue('name', 'Sebastian', 'test-name-red') }}>{{ Mimoto.user.data('name') }}</span>
                <figure class="MimotoCMS_interface_Header-menu-user-figure">
                    <img {{ Mimoto.user.realtime('avatar') }} src="{{ Mimoto.user.data('avatar', true) }}" class="MimotoCMS_interface_Header-menu-user-image"/>
                </figure>
            </a>
        </li>

        <li class="MimotoCMS_interface_Header-menu-item">
            <div class="MimotoCMS_interface_Header-menu-dropdown js-dropdown">
                <div id="MimotoCMS_interface_Header_conversation_count" class="MimotoCMS_interface_Header-menu-dropdown-notification hidden" data-mimoto-count="_Mimoto_conversation" data-mimoto-filter='["state":"open"]' data-mimoto-config='{"toggleClasses": {"onZero": "hidden"} }'>0</div>
                <svg class="MimotoCMS_interface_Header-menu-dropdown-icon"><use xlink:href='#ico-header-mail'/></svg>
                <div class="MimotoCMS_interface_Header-menu-dropdown-content js-dropdown-content js-conversations"></div>
            </div>
        </li>

        <li class="MimotoCMS_interface_Header-menu-item" onclick="window.open('/mimoto.cms/notifications', '_self');">
            <div class="MimotoCMS_interface_Header-menu-dropdown js-dropdown">
                <div id="MimotoCMS_interface_Header_notification_count" class="MimotoCMS_interface_Header-menu-dropdown-notification hidden" data-mimoto-count="_Mimoto_notification" data-mimoto-filter='["state":"open"]' data-mimoto-config='{"toggleClasses": {"onZero": "hidden"} }'>0</div>
                <svg class="MimotoCMS_interface_Header-menu-dropdown-icon"><use xlink:href='#ico-header-message'/></svg>
                <div class="MimotoCMS_interface_Header-menu-dropdown-content js-dropdown-content js-messages"></div>
            </div>
        </li>
    </ul>
</header>
