<div class="MimotoCMS_actions_ActionOverview_ActionSetting" {{ Mimoto.realtime() }}>
    <span class="MimotoCMS_actions_ActionOverview_ActionSetting-name" {{ Mimoto.realtime('name') }}>{{ Mimoto.data('name') }}</span>
    <span class="MimotoCMS_actions_ActionOverview_ActionSetting-menu">
        - <span class="MimotoCMS_actions_ActionOverview_ActionSetting-menuitem" {{ Mimoto.edit('_Mimoto_action_setting') }}>edit</span>
        | <span class="MimotoCMS_actions_ActionOverview_ActionSetting-menuitem" {{ Mimoto.remove() }}>remove</span>
        | <span class="MimotoCMS_actions_ActionOverview_ActionSetting-menuitem MimotoCMS_actions_ActionOverview_ActionSetting-menuitem-move {{ Mimoto.sortHandle() }}">move</span>
    </span>
</div>
