<div class="Author" {{ Mimoto.realtime() }}>
    <span class="Author-firstName" {{ Mimoto.realtime('firstName') }}>{{ Mimoto.data('firstName') }}</span>
    <span class="Author-lastName" {{ Mimoto.realtime('lastName') }}>{{ Mimoto.data('lastName') }}</span>
    <div class="Author-email" {{ Mimoto.realtime('email') }}>{{ Mimoto.data('email') }}</div>
    <div class="Author-button" {{ Mimoto.edit('member') }}>Bewerken</div>
</div>
