{% extends "examples/components/examplebase.twig" %}

{% block content %}
    <h1>Author</h1>
    <i>A name and the person's avatar</i><br>
    <br>
    <br>
    <div class="example_article" {{ Mimoto.realtime() }}>
        <i><span {{ Mimoto.realtime('name') }}>{{ Mimoto.render('name') }}</span></i><br><br>
        <img class="example_avatar" src="{{ Mimoto.render('avatar') }}" {{ Mimoto.realtime('avatar') }}>
    </div>
{% endblock %}
