<div class="MimotoCMS_forms_FormComponent-element-container">
    {% set sInputId = fieldId ~ '-' ~ Aimless.data('value') %}
    <input {{ input }} id="{{ sInputId }}" name="{{ fieldId }}" type="radio" value="{{ Aimless.data('value') }}" class="MimotoCMS_forms_input_RadioButton js-radio-button" {% if value == Aimless.data('value') %}checked{% endif %}/>
    <label for="{{ sInputId }}" class="MimotoCMS_forms_FormComponent-element-label">{{ Aimless.data('label') }}</label>
</div>
