{% set classes = '' %}
{% set data_attributes = '' %}

{% if types|default([]) %}
    {% set classes = ' MimotoCMS_modules_Button--' ~ types|join(' MimotoCMS_modules_Button--') %}
{% endif %}

<a {{ data_attributes }} {% if link|default('') %}href="{{ link }}"{% endif %} class="MimotoCMS_modules_Button{{ classes }}"{% if onclick|default('') %} onclick="{{ onclick }}"{% endif %}{% if icon|default('') %} data-icon="#ico-{{ icon }}"{% endif %} {{ directive|default('') }}>
    <div class="MimotoCMS_modules_Button-content">
        {% if label|default('') %}
            <span class="MimotoCMS_modules_Button-text">{{ label }}</span>
        {% endif %}
        {% if icon|default('') %}
            <svg class="MimotoCMS_modules_Button-icon"><use xlink:href="#ico-{{ icon }}"></use></svg>
        {% endif %}
    </div>
</a>
