 <div {{ aimless.id }} {{ aimless.template }} class="simplelist_item" onClick="Maido.data.changeEntity('client', {{ id }});">
    <div class="simplelist_item_label" {{ aimless.value('name') }}>{{ data.value('name') }}</div>
</div>