<li class="MimotoCMS_pages_forms_FormDetail-FormField" {{ Mimoto.realtime() }} {{ Mimoto.reloadOnChange() }}>

    <div class="MimotoCMS_pages_forms_FormDetail-FormField__wrapper">

        {% if Mimoto.typeOf('_Mimoto_form_layout_groupstart') %}
            Group start
        {% elseif Mimoto.typeOf('_Mimoto_form_layout_groupend') %}
            Group end
        {% elseif Mimoto.typeOf('_Mimoto_form_layout_divider') %}
            Divider
        {% else %}
            {{ Mimoto.wrap() }}
        {% endif %}

    </div>
    <div class="MimotoCMS_pages_forms_FormDetail-FormField__menu">

        {% if Mimoto.typeOf('_Mimoto_form_input') %}
            <div {{ Mimoto.showWhenEmpty('value') }}>
                {{ Mimoto.module('Mimoto.CMS.ButtonModule', { label:'Connect value', types:['small', 'alert'], onclick:"Mimoto.CMS.formFieldEdit('" ~ Mimoto.meta('type') ~ "', '" ~ Mimoto.meta('id') ~ "');" }) }}
            </div>

            <div {{ Mimoto.hideWhenEmpty('value') }}>
                {{ Mimoto.module('Mimoto.CMS.ButtonModule', { label:'Edit', types:['small', 'secondary'], onclick:"Mimoto.CMS.formFieldEdit('" ~ Mimoto.meta('typeId') ~ "', '" ~ Mimoto.meta('id') ~ "');" }) }}
            </div>
        {% else %}
            {{ Mimoto.module('Mimoto.CMS.ButtonModule', { label:'Edit', types:['small', 'secondary'], onclick:"Mimoto.CMS.formFieldEdit('" ~ Mimoto.meta('typeId') ~ "', '" ~ Mimoto.meta('id') ~ "');" }) }}
        {% endif %}

        {{ Mimoto.module('Mimoto.CMS.ButtonModule', { label:'Delete', types:['small', 'alert'], onclick:"Mimoto.CMS.formFieldDelete('" ~ Mimoto.meta('typeId') ~ "', '" ~ Mimoto.meta('id') ~ "');" }) }}

        <div class="MimotoCMS_pages_forms_FormDetail-FormField__menu-handle">
            <div class="MimotoCMS_ListItemModule-handle">
                <div class="MimotoCMS_ListItemModule-handle-dot"></div>
                <div class="MimotoCMS_ListItemModule-handle-dot"></div>
                <div class="MimotoCMS_ListItemModule-handle-dot"></div>
                <div class="MimotoCMS_ListItemModule-handle-dot"></div>
                <div class="MimotoCMS_ListItemModule-handle-dot"></div>
                <div class="MimotoCMS_ListItemModule-handle-dot"></div>
                <div class="MimotoCMS_ListItemModule-handle-dot"></div>
                <div class="MimotoCMS_ListItemModule-handle-dot"></div>
                <div class="MimotoCMS_ListItemModule-handle-dot"></div>
                <div class="MimotoCMS_ListItemModule-handle-dot"></div>
            </div>
        </div>

    </div>
</li>
