<div class="MimotoPublisher_Conversation">

    <h1>Bijdragen</h1>

    <div {{ Mimoto.showWhenEmpty('comments') }} class="MimotoPublisher_Conversation-comments-container-empty {{ Mimoto.init() }}">
        Er zijn nog geen bijdragen. Vertel als eerste jouw kijk op dit stuk ..
    </div>

    <div {{ Mimoto.hideWhenEmpty('comments') }} class="MimotoPublisher_Conversation-comments-container  {{ Mimoto.init() }}" {{ Mimoto.realtime('comments', 'Comment') }}>
        {{ Mimoto.data('comments', 'Comment') }}
    </div>

    <div class="MimotoPublisher_Conversation-commentform">
        <input {#{{ Mimoto.channel('comments', 'Publisher.isTypingComment') }}#} id="commentForm" type="text" class="MimotoPublisher_Conversation-comment" />
        <div class="MimotoPublisher_Conversation-commentform-button" onclick="Publisher.article.addComment()">Draag bij +</div>
    </div>

    <div class="MimotoPublisher_Conversation-others">
        <span data-publisher-conversation-istypingmessage></span>
    </div>
</div>