<div class="form_input"> 
    <div class="form_input_label">{{ label }}</div>
    <div>
        <select id="formdata_{{ name }}"{% if onChange is not empty %} onChange="{{ onChange }}"{% endif%}>
            {% if value is empty %}<option value=""></option>{% endif %}
            {% for option in aOptions %}
                <option value="{{ option.value }}" {% if option.value == value %}selected{% endif %}>{{ option.label }}</option>
            {% endfor %}
        </select>
    </div>
</div>