<div class="MimotoCMS_actions_ActionOverview_ActionConditional" {{ Mimoto.realtime() }}>
    <span class="MimotoCMS_actions_ActionOverview_ActionConditional-name" {{ Mimoto.realtime('event') }}>{{ Mimoto.data('event') }}</span> =
    <span class="MimotoCMS_actions_ActionOverview_ActionConditional-name" {{ Mimoto.realtime('value') }}>{{ Mimoto.data('value') }}</span>
    <span class="MimotoCMS_actions_ActionOverview_ActionConditional-menu">
        <span class="MimotoCMS_actions_ActionOverview_ActionConditional-menuitem" {{ Mimoto.edit('_Mimoto_action_conditional') }}><span class="fa fa-edit"></span></span>
        <span class="MimotoCMS_actions_ActionOverview_ActionConditional-menuitem" {{ Mimoto.remove() }}><span class="fa fa-remove"></span></span>
        <span class="MimotoCMS_actions_ActionOverview_ActionConditional-menuitem MimotoCMS_actions_ActionOverview_ActionConditional-menuitem-move {{ Mimoto.sortHandle() }}"><span class="fa fa-arrows"></span></span>
    </span>
</div>
