{% if entityTypeId|default('') is empty %}
    Please pass the the entity's type id as `entityTypeId`
{% else %}

    <div class="MimotoCMS_actions_ActionOverview_ActionConditional" {{ Mimoto.realtime() }}>

        <div class="MimotoCMS_actions_ActionOverview_ActionConditional-data">
            <div>{{ Mimoto.module('MimotoCMS_modules_DataSelectButton', { sEmptyLabel:'select property', sEntityName:'entityProperty', sSelectionName:'_Mimoto_all_properties_of_entity', options:{vars:{idVarName:entityTypeId }}, sValuePropertySelector:'entityProperty.name' }) }}</div>
            <div>{{ Mimoto.module('MimotoCMS_modules_DataSelectButton', { sEmptyLabel:'select type', sEntityName:'type', sSelectionName:'_Mimoto_all_conditionaltypes', sValuePropertySelector:'type' }) }}</div>
            <div class="{{ Mimoto.init() }}" {{ Mimoto.showWhenValue('type', ['equals', 'changedInto', 'doesNotEqual', 'changedFrom', 'changedFromInto', 'contains']) }}>{{ Mimoto.module('MimotoCMS_modules_EditableField', { sPropertyName:'value1', sFieldClass:'MimotoCMS_actions_ActionOverview_ActionConditional-name' }) }}</div>
            <div class="{{ Mimoto.init() }}" {{ Mimoto.showWhenValue('type', 'changedFromInto') }}>{{ Mimoto.module('MimotoCMS_modules_EditableField', { sPropertyName:'value2', sFieldClass:'MimotoCMS_actions_ActionOverview_ActionConditional-name' }) }}</div>
        </div>

        <div class="MimotoCMS_actions_ActionOverview_ActionConditional-menu">
            <span class="MimotoCMS_actions_ActionOverview_ActionConditional-menuitem" {{ Mimoto.remove({confirm:'MimotoCMS.confirmRemoval'}) }}><span class="fa fa-remove"></span></span>
            <span class="MimotoCMS_actions_ActionOverview_ActionConditional-menuitem MimotoCMS_actions_ActionOverview_ActionConditional-menuitem-move" {{ Mimoto.sortHandle() }}><span class="fa fa-arrows"></span></span>
        </div>
    </div>

{% endif %}
