{% embed "MimotoCMS/modules/Tabmenu/Tabmenu.twig" %}

    {% block tabs %}

        <div data-mimotocms-tabmenu-tab>Components</div>
        <div data-mimotocms-tabmenu-tab>Layouts</div>
        <div data-mimotocms-tabmenu-tab>Input elements</div>

    {% endblock %}

    {% block panels %}

        <div data-mimotocms-tabmenu-panel>


            <div class="MimotoCMS_modules_Tabmenu-panel-menu">
                {{ Mimoto.module('MimotoCMS_modules_Button', { label:'Add new component', icon:'plus', types:['secondary'], directive:Mimoto.add('components', '_Mimoto_component') }) }}
            </div>

            <ul class="MimotoCMS_modules_Tabmenu-panel-container js-list js-list-sortable" {{ Mimoto.realtime('components', 'MimotoCMS_components_ComponentOverview_ListItem') }}>
                {{ Mimoto.data('components', 'MimotoCMS_components_ComponentOverview_ListItem') }}
            </ul>

        </div>

        <div data-mimotocms-tabmenu-panel>

            <div class="MimotoCMS_modules_Tabmenu-panel-menu">
                {{ Mimoto.module('MimotoCMS_modules_Button', { label:'Add new layout', icon:'plus', types:['secondary'], directive:Mimoto.add('layouts', '_Mimoto_layout') }) }}
            </div>

            <ul class="MimotoCMS_modules_Tabmenu-panel-container js-list js-list-sortable" {{ Mimoto.realtime('layouts', 'MimotoCMS_components_ComponentOverview_ListItemLayout') }}>
                {{ Mimoto.data('layouts', 'MimotoCMS_components_ComponentOverview_ListItemLayout') }}
            </ul>

        </div>

        <div data-mimotocms-tabmenu-panel>

            Support for custom input fields coming soon ..

        </div>

    {% endblock %}
{% endembed %}
