{%
    embed "MimotoCMS/modules/TabmenuModule/TabmenuModule.twig" with {
        id: 'components',
        tabs: [
            {
                label: 'Components',
                panel_id: 'panel_components_components'
            },
            {
                label: 'Layouts',
                panel_id: 'panel_components_layouts'
            },
            {
                label: 'Input elements',
                panel_id: 'panel_components_inputelements',
                secondary: true
            }
        ]
    }
%}
    {% block panels %}

        {# components #}

        <div id="panel_components_components" class="MimotoCMS_modules_Tabmenu-panel">


            <div class="MimotoCMS_modules_Tabmenu-panel-menu">
                {{ Mimoto.module('Mimoto.CMS.ButtonModule', { label:'Add new component', icon:'plus', types:['secondary'], directive:Mimoto.add('components', '_Mimoto_component') }) }}
            </div>

            <ul class="MimotoCMS_modules_Tabmenu-panel-container js-list js-list-sortable" {{ Mimoto.realtime('components', 'MimotoCMS_components_ComponentOverview_ListItem') }}>
                {{ Mimoto.data('components', 'MimotoCMS_components_ComponentOverview_ListItem') }}
            </ul>

        </div>


        {# layouts #}

        <div id="panel_components_layouts" class="MimotoCMS_modules_Tabmenu-panel hidden">

            <div class="MimotoCMS_modules_Tabmenu-panel-menu">
                {{ Mimoto.module('Mimoto.CMS.ButtonModule', { label:'Add new layout', icon:'plus', types:['secondary'], directive:Mimoto.add('layouts', '_Mimoto_layout') }) }}
            </div>

            <ul class="MimotoCMS_modules_Tabmenu-panel-container js-list js-list-sortable" {{ Mimoto.realtime('layouts', 'MimotoCMS_components_ComponentOverview_ListItemLayout') }}>
                {{ Mimoto.data('layouts', 'MimotoCMS_components_ComponentOverview_ListItemLayout') }}
            </ul>

        </div>


        {# input elements #}

        <div id="panel_components_inputelements" class="MimotoCMS_modules_Tabmenu-panel hidden">

            {#add explainer images and combine all into one property called `components` (filter by type)#}

        </div>

    {% endblock %}
{% endembed %}
