<div class="MimotoCMS_pages_selections_SelectionDetail-Rule" {{ Mimoto.realtime() }}>

    <div class="MimotoCMS_pages_selections_SelectionDetail-Rule__data">
        <div class="MimotoCMS_pages_selections_SelectionDetail-Rule__name">
            <div {{ Mimoto.realtime('type') }} >{{ Mimoto.data('type') }}</div>
        </div>
    </div>
    <div class="MimotoCMS_pages_selections_SelectionDetail-Rule__menu">
        {{ Mimoto.module('MimotoCMS_modules_Button', { label:'Edit', types:['small', 'secondary'], onclick:"MimotoCMS.selectionRuleEdit('" ~ Mimoto.meta('id') ~ "');" }) }}
        {{ Mimoto.module('MimotoCMS_modules_Button', { label:'Delete', types:['small', 'alert'], onclick:"MimotoCMS.selectionRuleDelete('" ~ Mimoto.meta('id') ~ "');" }) }}
    </div>
</div>
