<div {{ Aimless.realtime()|raw }} class="simplelist_item" onClick="Maido.data.changeEntity('{{ Aimless.meta('type') }}', {{ Aimless.meta('id') }});">
    <div class="simplelist_item_label" {{ Aimless.realtime('name')|raw }}>{{ Aimless.data('name') }}</div>
</div>