{%
    embed "MimotoCMS/modules/TabmenuModule/TabmenuModule.twig" with {
        id: 'componentdetails',
        tabs: [
            {
                label: 'Layout structure',
                panel_id: 'panel_layoutdetail_info'
            }
        ]
    }
%}
    {% block panels %}

        <!-- structure -->

        <div id="panel_layoutdetail_info" class="MimotoCMS_pages_layouts_LayoutDetail__panel">

            <div class="MimotoCMS_pages_layouts_LayoutDetail_Structure">

                <div class="MimotoCMS_pages_layouts_LayoutDetail_Structure__meta">
                    <div class="MimotoCMS_pages_layouts_LayoutDetail_Structure__meta_info">

                        <div class="MimotoCMS_pages_layouts_LayoutDetail_Structure__layoutname" {{ Mimoto.realtime('name') }}>{{ Mimoto.data('name') }}</div>
                        <div class="MimotoCMS_pages_layouts_LayoutDetail_Structure__componentfile" {{ Mimoto.realtime('file') }}>{{ Mimoto.data('file') }}</div>

                    </div>

                    <div class="MimotoCMS_pages_layouts_LayoutDetail_Structure__meta_menu">
                        {{ Mimoto.module('Mimoto.CMS.ButtonModule', { label:'Edit', icon:'', onclick:"Mimoto.CMS.layoutEdit('" ~ Mimoto.meta('id') ~ "');", type:'secondary' }) }}
                    </div>

                </div>

            </div>

            <div class="MimotoCMS_pages_layouts_LayoutDetail__block">

                <div class="MimotoCMS_pages_layouts_LayoutDetail_Structure__layoutcontainers_empty" {{ Mimoto.showWhenEmpty('containers') }}>
                    <div>This layout has no containers yet.<br>Add one. Now! I'm not kidding, Do it!</div>
                    <div>{{ Mimoto.module('Mimoto.CMS.ButtonModule', { label:'Add new container', icon:'plus', onclick:"Mimoto.CMS.layoutContainerNew('" ~ Mimoto.meta('id') ~ "');" }) }}</div>
                </div>

                <div {{ Mimoto.hideWhenEmpty('containers') }}>
                    <div class="MimotoCMS_pages_layouts_LayoutDetail_Structure__layoutcontainers_container" {{ Mimoto.realtime('containers', 'Mimoto.CMS_layouts_LayoutDetail-LayoutContainer') }}>
                        {{ Mimoto.data('containers', 'Mimoto.CMS_layouts_LayoutDetail-LayoutContainer') }}
                    </div>

                    <div class="MimotoCMS_pages_layouts_LayoutDetail_Structure__layoutcontainers_menu">
                        {{ Mimoto.module('Mimoto.CMS.ButtonModule', { label:'Add new container', icon:'plus', onclick:"Mimoto.CMS.layoutContainerNew('" ~ Mimoto.meta('id') ~ "');" }) }}
                    </div>
                </div>

            </div>
        </div>

    {% endblock %}
{% endembed %}
