{% embed "MimotoCMS/modules/Tabmenu/Tabmenu.twig" %}

    {% block tabs %}

        <div data-mimotocms-tabmenu-tab>Structure</div>
        <div data-mimotocms-tabmenu-tab>Properties</div>

    {% endblock %}

    {% block panels %}

        <div data-mimotocms-tabmenu-panel>

            <div class="MimotoCMS_pages_components_ComponentDetail_Structure">

                <div class="MimotoCMS_pages_components_ComponentDetail_Structure__meta">
                    <div class="MimotoCMS_pages_components_ComponentDetail_Structure__meta_info">

                        <div class="MimotoCMS_pages_components_ComponentDetail_Structure__namecontainer">
                            {{ Mimoto.module('MimotoCMS_modules_EditableField', { sPropertyName:'name', sFieldClass:'MimotoCMS_pages_components_ComponentDetail_Structure__name' }) }}
                        </div>

                        {#<div class="MimotoCMS_pages_components_ComponentDetail_Structure__layoutname" {{ Mimoto.realtime('name') }}>{{ Mimoto.data('name') }}</div>#}
                        <div class="MimotoCMS_pages_components_ComponentDetail_Structure__componenttype" {{ Mimoto.realtime('type') }}>{{ Mimoto.data('type') }}</div>

                    </div>

                    {#<div class="MimotoCMS_pages_components_ComponentDetail_Structure__meta_menu">#}
                        {#{{ Mimoto.module('MimotoCMS_modules_Button', { label:'Edit', icon:'', type:'secondary', directive:Mimoto.edit('_Mimoto_component') }) }}#}
                    {#</div>#}

                </div>

            </div>

            <div class="MimotoCMS_pages_components_ComponentDetail__block">

                <div class="MimotoCMS_pages_components_ComponentDetail_Structure__templates_empty" {{ Mimoto.showWhenEmpty('templates') }}>
                    <div>This component has no templates yet. Add one. Now! I'm not kidding, Do it .. or you won't be able to use this component!</div>
                </div>

                <div {{ Mimoto.hideWhenEmpty('templates') }}>
                    <div class="MimotoCMS_pages_components_ComponentDetail_Structure__templates" {{ Mimoto.realtime('templates', 'MimotoCMS_components_ComponentDetail-Template') }}>
                        {{ Mimoto.data('templates', 'MimotoCMS_components_ComponentDetail-Template') }}
                    </div>
                </div>

                <div class="MimotoCMS_pages_components_ComponentDetail_Structure__layoutcontainers_menu">
                    {{ Mimoto.module('MimotoCMS_modules_Button', { label:'Add template', icon:'plus', directive:Mimoto.add('templates', '_Mimoto_component_template') }) }}
                </div>

            </div>

            <div class="MimotoCMS_pages_components_ComponentDetail__block">

                <div class="MimotoCMS_pages_components_ComponentDetail_Structure__containers_empty" {{ Mimoto.showWhenEmpty('containers') }}>
                    <div>This component has no containers yet. You could use this layout but without containers it sort of defies the purpose and makes it more like a component.</div>
                </div>

                <div {{ Mimoto.hideWhenEmpty('containers') }}>
                    <div class="MimotoCMS_pages_components_ComponentDetail_Structure__containers" {{ Mimoto.realtime('containers', 'MimotoCMS_components_ComponentDetail-Container') }}>
                        {{ Mimoto.data('containers', 'MimotoCMS_components_ComponentDetail-Container') }}
                    </div>
                </div>

                <div class="MimotoCMS_pages_components_ComponentDetail_Structure__layoutcontainers_menu">
                    {{ Mimoto.module('MimotoCMS_modules_Button', { label:'Add container', icon:'plus', directive:Mimoto.add('containers', '_Mimoto_component_container') }) }}
                </div>

            </div>
        </div>

        <div data-mimotocms-tabmenu-panel class="{{ Mimoto.init() }}">{{ Mimoto.module('MimotoCMS_modules_PropertyInput', { type:'component',  }) }}</div>

    {% endblock %}
{% endembed %}
