{%
    embed "MimotoCMS/modules/TabmenuModule/TabmenuModule.twig" with {
        id: 'componentdetails',
        tabs: [
            {
                label: 'Component structure',
                panel_id: 'panel_ComponentDetail_info'
            }
        ]
    }
%}
    {% block panels %}

        <!-- structure -->

        <div id="panel_ComponentDetail_info" class="MimotoCMS_pages_components_ComponentDetail__panel">

            <div class="MimotoCMS_pages_components_ComponentDetail_Structure">

                <div class="MimotoCMS_pages_components_ComponentDetail_Structure__meta">
                    <div class="MimotoCMS_pages_components_ComponentDetail_Structure__meta_info">

                        <div class="MimotoCMS_pages_components_ComponentDetail_Structure__layoutname" {{ Mimoto.realtime('name') }}>{{ Mimoto.data('name') }}</div>

                    </div>

                    <div class="MimotoCMS_pages_components_ComponentDetail_Structure__meta_menu">
                        {{ Mimoto.module('Mimoto.CMS.ButtonModule', { label:'Edit', icon:'', onclick:"Mimoto.CMS.layoutEdit('" ~ Mimoto.meta('id') ~ "');", type:'secondary' }) }}
                    </div>

                </div>

            </div>

            <div class="MimotoCMS_pages_components_ComponentDetail__block">

                <div class="MimotoCMS_pages_components_ComponentDetail_Structure__templates_empty" {{ Mimoto.showWhenEmpty('templates') }}>
                    <div>This component has no templates yet.<br>Add one. Now! I'm not kidding, Do it .. or you won't be able to use this component!</div>
                    <div>{{ Mimoto.module('Mimoto.CMS.ButtonModule', { label:'Add template', icon:'plus', onclick:"Mimoto.CMS.componentTemplateNew('" ~ Mimoto.meta('id') ~ "');", directive:Mimoto.createAndConnect('_Mimoto_componenttemplate', 'templates') }) }}</div>
                </div>

                <div {{ Mimoto.hideWhenEmpty('templates') }}>
                    <div class="MimotoCMS_pages_components_ComponentDetail_Structure__templates" {{ Mimoto.realtime('templates', 'Mimoto.CMS_components_ComponentDetail-Template') }}>
                        {{ Mimoto.data('templates', 'Mimoto.CMS_components_ComponentDetail-Template') }}
                    </div>

                    <div class="MimotoCMS_pages_components_ComponentDetail_Structure__layoutcontainers_menu">
                        {{ Mimoto.module('Mimoto.CMS.ButtonModule', { label:'Add template', icon:'plus', onclick:"Mimoto.CMS.layoutContainerNew('" ~ Mimoto.meta('id') ~ "');", directive:Mimoto.createAndConnect('_Mimoto_componenttemplate', 'templates') }) }}
                    </div>
                </div>

            </div>
        </div>

    {% endblock %}
{% endembed %}
