<li class="MimotoCMS_forms_input_ListItem" {{ Aimless.realtime() }}>

    {% if list_item.image|default('') %}
        <figure class="MimotoCMS_forms_input_ListItem-figure" style="background-image: url({{ list_item.image }});"></figure>
    {% endif %}

    <div class="MimotoCMS_forms_input_ListItem-text">
        <p class="MimotoCMS_forms_input_ListItem-title" {{ Aimless.getRealtimeBySortindex() }}>{{ Aimless.getValueBySortindex() }}</p>
        <p class="MimotoCMS_forms_input_ListItem-subtitle" {{ Aimless.getRealtimeBySortindex(1) }}>{{ Aimless.getValueBySortindex(1) }}</p>
    </div>

    <div class="MimotoCMS_forms_input_ListItem-menu">
        {{ Aimless.module('Mimoto.CMS.ButtonModule', { label: 'Remove', onclick: "Mimoto.CMS.formFieldListItemDelete('"~Aimless.getConnectionId()~"', '"~Aimless.meta('type')~"', '"~Aimless.meta('id')~"')", types: ['alert', 'small'] }) }}
        {{ Aimless.module('Mimoto.CMS.ButtonModule', { label: 'Edit', onclick: "Mimoto.CMS.formFieldListItemEdit('"~Aimless.getConnectionId()~"', '"~Aimless.meta('type')~"', '"~Aimless.meta('id')~"')", types: ['secondary', 'small'] }) }}
    </div>


    {% if sortable|default(true) %}
        <div class="MimotoCMS_forms_input_ListItem-handle">
            <div class="MimotoCMS_forms_input_ListItem-handle-dot"></div>
            <div class="MimotoCMS_forms_input_ListItem-handle-dot"></div>
            <div class="MimotoCMS_forms_input_ListItem-handle-dot"></div>
            <div class="MimotoCMS_forms_input_ListItem-handle-dot"></div>
            <div class="MimotoCMS_forms_input_ListItem-handle-dot"></div>
            <div class="MimotoCMS_forms_input_ListItem-handle-dot"></div>
            <div class="MimotoCMS_forms_input_ListItem-handle-dot"></div>
            <div class="MimotoCMS_forms_input_ListItem-handle-dot"></div>
            <div class="MimotoCMS_forms_input_ListItem-handle-dot"></div>
            <div class="MimotoCMS_forms_input_ListItem-handle-dot"></div>
        </div>
    {% endif %}

</li>
