<li class="MimotoCMS_forms_input_ListItem" {{ Mimoto.realtime() }}>

    {% set sImage = Mimoto.getImageBySortindex() %}

    {% if sImage %}
        <figure class="MimotoCMS_forms_input_ListItem-figure" style="background-image: url({{ sImage }});"></figure>
    {% endif %}

    <div class="MimotoCMS_forms_input_ListItem-text">
        <div class="MimotoCMS_forms_input_ListItem-type"><span>{{ Mimoto.meta('type') }}</span></div>
        <div class="MimotoCMS_forms_input_ListItem-title" {{ Mimoto.getRealtimeBySortindex()|default('') }}>{{ Mimoto.getValueBySortindex()|default('') }}</div>
        <div class="MimotoCMS_forms_input_ListItem-subtitle" {{ Mimoto.getRealtimeBySortindex(1)|default('') }}>{{ Mimoto.getValueBySortindex(1)|default('') }}</div>
    </div>

    <div class="MimotoCMS_forms_input_ListItem-menu">
        {{ Mimoto.module('MimotoCMS_modules_Button', { label: 'Remove', onclick: "MimotoCMS.formFieldListItemDelete('"~Mimoto.getConnectionId()~"', '"~Mimoto.meta('type')~"', '"~Mimoto.meta('id')~"')", types: ['alert', 'small'] }) }}
        {{ Mimoto.module('MimotoCMS_modules_Button', { label: 'Edit', onclick: "MimotoCMS.formFieldListItemEdit('"~Mimoto.getConnectionId()~"', '"~Mimoto.meta('type')~"', '"~Mimoto.meta('id')~"')", types: ['secondary', 'small'] }) }}
    </div>


    {% if sortable|default(true) %}
        <div class="MimotoCMS_forms_input_ListItem-handle">
            <div class="MimotoCMS_forms_input_ListItem-handle-dot"></div>
            <div class="MimotoCMS_forms_input_ListItem-handle-dot"></div>
            <div class="MimotoCMS_forms_input_ListItem-handle-dot"></div>
            <div class="MimotoCMS_forms_input_ListItem-handle-dot"></div>
            <div class="MimotoCMS_forms_input_ListItem-handle-dot"></div>
            <div class="MimotoCMS_forms_input_ListItem-handle-dot"></div>
            <div class="MimotoCMS_forms_input_ListItem-handle-dot"></div>
            <div class="MimotoCMS_forms_input_ListItem-handle-dot"></div>
            <div class="MimotoCMS_forms_input_ListItem-handle-dot"></div>
            <div class="MimotoCMS_forms_input_ListItem-handle-dot"></div>
        </div>
    {% endif %}

</li>
