<li class="MimotoCMS_forms_input_ListItem" {{ Aimless.realtime() }}>

    {% if list_item.image|default('') %}
        <figure class="MimotoCMS_forms_input_ListItem-figure" style="background-image: url({{ list_item.image }});"></figure>
    {% endif %}

    <div class="MimotoCMS_forms_input_ListItem-text">
        <p class="MimotoCMS_forms_input_ListItem-title">{{ Aimless.getValueBySortindex() }}</p>
        <p class="MimotoCMS_forms_input_ListItem-subtitle">{{ Aimless.meta('type') }}: {{ Aimless.getValueBySortindex(1) }}</p>
    </div>

    {{ Aimless.module('Mimoto.CMS.ButtonModule', { label: 'Edit', onclick: "Mimoto.CMS.formFieldListItemEdit('"~sInputFieldType~"', '"~sInputFieldId~"', '"~sPropertySelector~"', '"~Aimless.meta('type')~"', '"~Aimless.meta('id')~"')", types: ['secondary', 'small'] }) }}
    {{ Aimless.module('Mimoto.CMS.ButtonModule', { label: 'Remove', onclick: "Mimoto.CMS.formFieldListItemDelete('"~sInputFieldType~"', '"~sInputFieldId~"', '"~sPropertySelector~"', '"~Aimless.meta('type')~"', '"~Aimless.meta('id')~"')", types: ['alert', 'small'] }) }}


    {% if sortable|default(true) %}
        <div class="MimotoCMS_forms_input_ListItem-handle">
            <div class="MimotoCMS_forms_input_ListItem-handle-dot"></div>
            <div class="MimotoCMS_forms_input_ListItem-handle-dot"></div>
            <div class="MimotoCMS_forms_input_ListItem-handle-dot"></div>
            <div class="MimotoCMS_forms_input_ListItem-handle-dot"></div>
            <div class="MimotoCMS_forms_input_ListItem-handle-dot"></div>
            <div class="MimotoCMS_forms_input_ListItem-handle-dot"></div>
            <div class="MimotoCMS_forms_input_ListItem-handle-dot"></div>
            <div class="MimotoCMS_forms_input_ListItem-handle-dot"></div>
            <div class="MimotoCMS_forms_input_ListItem-handle-dot"></div>
            <div class="MimotoCMS_forms_input_ListItem-handle-dot"></div>
        </div>
    {% endif %}

</li>
