<li class="MimotoCMS_forms_input_ListItem" {{ Mimoto.realtime() }}>

    {% if list_item.image|default('') %}
        <figure class="MimotoCMS_forms_input_ListItem-figure" style="background-image: url({{ list_item.image }});"></figure>
    {% endif %}

    <div class="MimotoCMS_forms_input_ListItem-text">
        <p class="MimotoCMS_forms_input_ListItem-title" {{ Mimoto.getRealtimeBySortindex() }}>{{ Mimoto.getValueBySortindex() }}</p>
        <p class="MimotoCMS_forms_input_ListItem-subtitle" {{ Mimoto.getRealtimeBySortindex(1) }}>{{ Mimoto.getValueBySortindex(1) }}</p>
    </div>

    <div class="MimotoCMS_forms_input_ListItem-menu">
        {{ Mimoto.module('MimotoCMS_modules_Button', { label: 'Remove', onclick: "Mimoto.CMS.formFieldListItemDelete('"~Mimoto.getConnectionId()~"', '"~Mimoto.meta('type')~"', '"~Mimoto.meta('id')~"')", types: ['alert', 'small'] }) }}
        {{ Mimoto.module('MimotoCMS_modules_Button', { label: 'Edit', onclick: "Mimoto.CMS.formFieldListItemEdit('"~Mimoto.getConnectionId()~"', '"~Mimoto.meta('type')~"', '"~Mimoto.meta('id')~"')", types: ['secondary', 'small'] }) }}
    </div>


    {% if sortable|default(true) %}
        <div class="MimotoCMS_forms_input_ListItem-handle">
            <div class="MimotoCMS_forms_input_ListItem-handle-dot"></div>
            <div class="MimotoCMS_forms_input_ListItem-handle-dot"></div>
            <div class="MimotoCMS_forms_input_ListItem-handle-dot"></div>
            <div class="MimotoCMS_forms_input_ListItem-handle-dot"></div>
            <div class="MimotoCMS_forms_input_ListItem-handle-dot"></div>
            <div class="MimotoCMS_forms_input_ListItem-handle-dot"></div>
            <div class="MimotoCMS_forms_input_ListItem-handle-dot"></div>
            <div class="MimotoCMS_forms_input_ListItem-handle-dot"></div>
            <div class="MimotoCMS_forms_input_ListItem-handle-dot"></div>
            <div class="MimotoCMS_forms_input_ListItem-handle-dot"></div>
        </div>
    {% endif %}

</li>
