<li class="MimotoCMS_pages_forms_FormDetail-FormField" {{ Mimoto.realtime() }}>

    <div class="MimotoCMS_pages_forms_FormDetail-FormField__field">

        {% if Mimoto.meta('type')|slice(0, 20) == '_Mimoto_form_layout_' %}
            <div class="MimotoCMS_pages_forms_FormDetail-FormField__field-type">
                {{ Mimoto.meta('type')|slice(20) }}
            </div>
            {% if Mimoto.meta('type') == '_Mimoto_form_layout_groupstart' and not Mimoto.isEmpty('title') %}
                <div class="MimotoCMS_pages_forms_FormDetail-FormField__field-label" {{ Mimoto.realtime('title') }}>
                    {{ Mimoto.data('title') }}
                </div>
            {% endif %}
        {% else %}
            <div class="MimotoCMS_pages_forms_FormDetail-FormField__field-label" {{ Mimoto.getRealtimeValueBySortindex() }}>
                {{ Mimoto.getValueBySortindex() }}
            </div>

            {% if Mimoto.meta('type')|slice(0, 19) == '_Mimoto_form_input_' %}
                <div class="MimotoCMS_pages_forms_FormDetail-FormField__field-type">
                    {{ Mimoto.meta('type')|slice(19) }}
                </div>
            {% endif %}
        {% endif %}

    </div>
    <div class="MimotoCMS_pages_forms_FormDetail-FormField__menu">

        <div class="MimotoCMS_pages_forms_FormDetail-FormField__menu-handle">
            <div class="MimotoCMS_modules_ListItem-handle {{ Mimoto.sortHandle() }}">
                <div class="MimotoCMS_modules_ListItem-handle-dot"></div>
                <div class="MimotoCMS_modules_ListItem-handle-dot"></div>
                <div class="MimotoCMS_modules_ListItem-handle-dot"></div>
                <div class="MimotoCMS_modules_ListItem-handle-dot"></div>
                <div class="MimotoCMS_modules_ListItem-handle-dot"></div>
                <div class="MimotoCMS_modules_ListItem-handle-dot"></div>
                <div class="MimotoCMS_modules_ListItem-handle-dot"></div>
                <div class="MimotoCMS_modules_ListItem-handle-dot"></div>
                <div class="MimotoCMS_modules_ListItem-handle-dot"></div>
                <div class="MimotoCMS_modules_ListItem-handle-dot"></div>
            </div>
        </div>

        {{ Mimoto.module('MimotoCMS_modules_Button', { label:'Delete', types:['small', 'alert'], onclick:"MimotoCMS.formFieldDelete('" ~ Mimoto.meta('typeId') ~ "', '" ~ Mimoto.meta('id') ~ "');" }) }}

        {% if Mimoto.typeOf('_Mimoto_form_input') %}
            <div class="{{ Mimoto.init() }}" {{ Mimoto.showWhenEmpty('value') }}>
                {{ Mimoto.module('MimotoCMS_modules_Button', { label:'Connect value', types:['small', 'alert'], onclick:"MimotoCMS.formFieldEdit('" ~ Mimoto.meta('type') ~ "', '" ~ Mimoto.meta('id') ~ "');" }) }}
            </div>

            <div class="{{ Mimoto.init() }}" {{ Mimoto.hideWhenEmpty('value') }}>
                {{ Mimoto.module('MimotoCMS_modules_Button', { label:'Edit', types:['small', 'secondary'], onclick:"MimotoCMS.formFieldEdit('" ~ Mimoto.meta('typeId') ~ "', '" ~ Mimoto.meta('id') ~ "');" }) }}
            </div>
        {% else %}
            {{ Mimoto.module('MimotoCMS_modules_Button', { label:'Edit', types:['small', 'secondary'], onclick:"MimotoCMS.formFieldEdit('" ~ Mimoto.meta('typeId') ~ "', '" ~ Mimoto.meta('id') ~ "');" }) }}
        {% endif %}

    </div>
</li>
