{% set sVideofieldId = Mimoto.meta('type')~"."~Mimoto.meta('id') %}
{% set sFlatVideoFieldId = Mimoto.meta('type')~Mimoto.meta('id') %}

{% embed "MimotoCMS/components/forms/FormComponent.twig" with {"type": "video", button:true, buttonLabel:'Upload video', buttonIcon:'', buttonClass:'js-'~sFlatVideoFieldId~'-video-upload-trigger' } %}

    {% block form_component_element %}
        <div id="{{ Mimoto.meta('type')~"."~Mimoto.meta('id') }}">
            <div class="MimotoCMS_forms_input_VideoUpload js-{{ sFlatVideoFieldId }}-video-upload">

                <video id="js-{{ sFlatVideoFieldId }}-previewvideo" class="MimotoCMS_forms_input_VideoUpload-player" muted loop poster="">
                    <source src="" type="video/mp4" />
                    Your browser does not support the video tag.
                </video>


                <div class="MimotoCMS_forms_input_VideoUpload-preview js-{{ sFlatVideoFieldId }}-video-upload-preview">

                    <div class="MimotoCMS_forms_input_VideoUpload-preview-template js-{{ sFlatVideoFieldId }}-video-upload-preview-template">
                        <img data-dz-thumbnail class="MimotoCMS_forms_input_VideoUpload-preview-video" />
                        <div class="MimotoCMS_forms_input_VideoUpload-preview-upload-progress">
                            <div class="MimotoCMS_forms_input_VideoUpload-preview-upload-progess-bar" data-dz-uploadprogress></div>
                        </div>
                        <div class="MimotoCMS_forms_input_VideoUpload-preview-button">
                            {{ Mimoto.module('MimotoCMS_modules_Button', { label: 'Remove', attributes: [{"attribute": "dz-remove"}] }) }}
                        </div>
                    </div>
                </div>
            </div>
            <input {{ Mimoto.input() }} type="hidden" value="{{ Mimoto.value() }}" class=".js-{{ sFlatVideoFieldId }}-video-upload-value"/>
        </div>
        <script>MimotoX.utils.registerRequest(Mimoto.form.setupVideoField, '{{ sVideofieldId }}', '{{ sFlatVideoFieldId }}', '{{ Mimoto.fieldId }}');</script>

    {% endblock %}

{% endembed %}
