{% embed "MimotoCMS/components/forms/FormComponent.twig" with {"type": "video", button:true, buttonLabel:'Upload video', buttonIcon:'', buttonClass:'js-video-upload-trigger' } %}

    {% block form_component_element %}
        <div id="{{ Aimless.meta('type')~"."~Aimless.meta('id') }}">
            <div class="MimotoCMS_forms_input_VideoUpload js-video-upload">
                {#<div class="MimotoCMS_forms_input_VideoUpload-trigger js-video-upload-trigger">
                    <div class="MimotoCMS_forms_input_VideoUpload-trigger-button"><svg class="MimotoCMS_forms_input_VideoUpload-button-trigger-icon"><use xlink:href="#ico-plus"></use></svg></div>
                    <p class="MimotoCMS_forms_input_VideoUpload-trigger-text">Click here or drop a video</p>
                </div>#}

                <video id="xxx-video" class="MimotoCMS_forms_input_VideoUpload-player" muted loop poster="">
                    <source src="" type="video/mp4" />
                    Your browser does not support the video tag.
                </video>


                <div class="MimotoCMS_forms_input_VideoUpload-preview js-video-upload-preview">

                    <div class="MimotoCMS_forms_input_VideoUpload-preview-template js-video-upload-preview-template">
                        <img data-dz-thumbnail class="MimotoCMS_forms_input_VideoUpload-preview-video" />
                        <div class="MimotoCMS_forms_input_VideoUpload-preview-upload-progress">
                            <div class="MimotoCMS_forms_input_VideoUpload-preview-upload-progess-bar" data-dz-uploadprogress></div>
                        </div>
                        <div class="MimotoCMS_forms_input_VideoUpload-preview-button">
                            {{ Aimless.module('Mimoto.CMS.ButtonModule', { label: 'Remove', attributes: [{"attribute": "dz-remove"}] }) }}
                        </div>
                    </div>
                </div>
            </div>
            <input {{ Aimless.input() }} type="hidden" value="{{ Aimless.value() }}" class=".js-video-upload-value"/>
        </div>
        <script>Mimoto.Aimless.utils.registerRequest(Mimoto.form.setupVideoField, '{{ Aimless.meta('type')~"."~Aimless.meta('id') }}', '{{ Aimless.field() }}');</script>

    {% endblock %}

{% endembed %}
