<div class="MimotoCMS_modules_PropertyInput">

    <div class="MimotoCMS_pages_entities_EntityDetail__block">

        <div class="MimotoCMS_modules_PropertyInput__properties_empty {{ Mimoto.init() }}" {{ Mimoto.showWhenEmpty('properties') }}>
            <div>This entity has no properties yet.<br>Go ahead, start adding them!</div>
        </div>

        <div class="{{ Mimoto.init() }}" {{ Mimoto.hideWhenEmpty('properties') }}>
            <ul class="MimotoCMS_pages_entities_EntityDetail_container" {{ Mimoto.sortable() }} {{ Mimoto.realtime('properties', 'MimotoCMS_entities_EntityDetail-EntityProperty') }}>
                {{ Mimoto.data('properties', 'MimotoCMS_entities_EntityDetail-EntityProperty') }}
            </ul>
        </div>

        <div class="MimotoCMS_modules_PropertyInput__properties_menu">
            {{ Mimoto.module('MimotoCMS_modules_Button', { label:'Add new property', icon:'plus', directive:Mimoto.add('properties', '_Mimoto_coreform__entityProperty') }) }}
        </div>

    </div>



    {# --- Component twig example --- #}


    <div class="MimotoCMS_pages_entities_EntityDetail__block">
        <div class="MimotoCMS_pages_entities_EntityDetail__codeexample">

            <div class="MimotoCMS_pages_entities_EntityDetail__codeexample-title">Twig example</div>

            <div class="MimotoCMS_pages_entities_EntityDetail__codeexample-container">
                {{ "<div "|escape }}<span class="MimotoCMS_pages_entities_EntityDetail-EntityPropertyExample-aimless-code">{{ '{{ Mimoto.realtime() }}' }}</span>&gt
                <div class="MimotoCMS_pages_entities_EntityDetail__codeexample-properties" {{ Mimoto.realtime('properties', 'MimotoCMS_entities_EntityDetail_EntityPropertyExample') }}>
                    {{ Mimoto.data('properties', 'MimotoCMS_entities_EntityDetail_EntityPropertyExample') }}
                </div>
                {{ "</div>"|escape }}
            </div>
        </div>
    </div>

</div>
