{% extends "grid/base_slide.twig" %}

{% block slide %}

    <div class="GridPrototypeSlideImage" {{ Mimoto.realtime() }}>
        <h1  {{ Mimoto.realtime('title') }}>{{ Mimoto.render('title') }}</h1>
        <img class="GridPrototypeSlideImage" {{ Mimoto.realtime('image') }} src="{{ Mimoto.render('image') }}" />
    </div>

{% endblock %}



