  <div class="form-component">
    <div class="form-component-title">Desktop afbeelding <span class="form-component-title-information">(optioneel)</span></div>

    <div class="form-component-content">
      <div class="form-component-element">
        <div class="form-image-upload">
          <div class="form-image-upload-button"><svg class="form-image-upload-button-icon"><use xlink:href='#ico-plus'/></svg></div>
          <p class="form-image-upload-text">Klik hier of drop een afbeelding</p>
        </div>
      </div>
      <p class="form-component-description">De afbeelding mag max 2MB zijn. Een resolutie van 1400x900px werkt het beste.</p>
    </div>
  </div>

  <div class="form-component">
    <p class="form-component-title">Aanbevelingen</p>

    <div class="form-component-content">
      <div class="form-component-element">
        <div class="form-list">
          <div class="form-list-item">
            <div class="form-list-item-text">
              <p class="form-list-item-title">Teju Cole</p>
              <p class="form-list-item-subtitle">Amerika-deskundigen</p>
            </div>
            <div class="form-list-item-button">
              <a href="#" class="button-small"><span class="button-small-text">Verwijderen</span></a>
            </div>
          </div>
          <div class="form-list-item">
            <div class="form-list-item-text">
              <p class="form-list-item-title">Taryn Simon - An American Index of the Hidden and Unfamiliar</p>
              <p class="form-list-item-subtitle">Boek</p>
            </div>
          </div>
          <div class="form-list-item">
            <figure class="form-list-item-figure" style="background-image: url(http://cbssports1.cbsistatic.com/hub/i/2016/01/19/3f35db9e-0917-4362-824b-3beddae2a5a9/resize/600x465/usatsi9044225.jpg?hash=74534a5ba46be35690d9237387db2854);"></figure>
            <div class="form-list-item-text">
              <p class="form-list-item-title">Kobe Bryant</p>
              <p class="form-list-item-subtitle">NBA superster</p>
            </div>
            <div class="form-list-item-button">
              <a href="#" class="button-small"><span class="button-small-text">Verwijderen</span></a>
            </div>
          </div>
          <div class="form-list-item">
            <figure class="form-list-item-figure" style="background-image: url(https://images.genius.com/5815d7f7ae232dd64ace634964f52448.650x430x1.jpg);"></figure>
            <div class="form-list-item-text">
              <p class="form-list-item-title">MF DOOM - An American Index of the Hidden and Unfamiliar</p>
              <p class="form-list-item-subtitle">Album</p>
            </div>
          </div>
        </div>
      </div>
      <p class="form-component-description">Dit is een lijst. Een hele mooie lijst.</p>
    </div>

    <div class="form-component-button">
      <a href="" class="button"><span class="button-text">Toevoegen</span><svg class="button-icon"><use xlink:href='#ico-plus'/></svg></a>
    </div>
  </div>

  <div {{ Aimless.field()|raw }} class="form-component">
    <label for="" class="form-component-title">{{ Aimless.data('label') }} <span class="form-component-title-information">{% if Aimless.data('optional') %}(optioneel){% endif %}</span></label>

    <div class="form-component-content">
      <div class="form-component-element">
        <input {{ Aimless.input()|raw }} type="text" class="form-component-element-input" placeholder="{{ Aimless.data('placeholder') }}" value="{{ Aimless.value() }}" />
        <p {{ Aimless.error()|raw }} class="form-component-element-error">De tekst bevat ongeldige tekens, alleen cijfers en letters zijn toegestaan.</p>
      </div>
      <p class="form-component-description">{{ Aimless.data('description') }}</p>
    </div>
  </div>


  {#
    <div class="form-component form-component--validating">
      <label for="" class="form-component-title">Label <span class="form-component-title-information">(optioneel)</span><span class="form-component-title-icon form-component-title-icon--loading"></span></label>

      <div class="form-component-content">
        <div class="form-component-element">
          <input type="text" class="form-component-element-input" placeholder="" value="{{ Aimless.value() }}" />
        </div>
        <p class="form-component-description">Mag geen scheldwoorden bevatten</p>
      </div>
    </div>

    <div class="form-component form-component--validated">
      <label for="" class="form-component-title">Campagne naam <svg class="form-component-title-icon form-component-title-icon--checkmark"><use xlink:href='#ico-checkmark'/></svg></label>

      <div class="form-component-content">
        <div class="form-component-element">
          <input type="text" class="form-component-element-input" placeholder="" value="{{ Aimless.value() }}" />
        </div>
        <p class="form-component-description">Mag geen scheldwoorden bevatten</p>
      </div>
    </div>

    <div class="form-component form-component--has-error">
      <label for="" class="form-component-title">Campagne naam <svg class="form-component-title-icon form-component-title-icon--warning"><use xlink:href='#ico-warning'/></svg></label>

      <div class="form-component-content">
        <div class="form-component-element">
          <input type="text" class="form-component-element-input" placeholder="" value="{{ Aimless.value() }}" />
          <p {{ Aimless.error()|raw }} class="form-component-element-error">De tekst bevat ongeldige tekens, alleen cijfers en letters zijn toegestaan.</p>
        </div>
        <p class="form-component-description">Mag geen scheldwoorden bevatten</p>
      </div>
    </div>
  #}
