{#
  <div {{ Aimless.field()|raw }} class="MimotoCMS_forms_input_Textline">
    <div class="MimotoCMS_forms_input_Textline__label">{{ Aimless.data('label') }}{% if optional is not empty %}{% if optional==true %}<span class="MimotoCMS_forms_input_Textline__optional"> (optional)</span>{% endif %}{% endif %}</div>
    <div><input {{ Aimless.input()|raw }} type="text" class="MimotoCMS_forms_input_Textline__input" value="{{ Aimless.value() }}" /></div>
    <div {{ Aimless.error()|raw }} class="form_errormessage"></div>
  </div>
#}

  <div class="form-component">
    <label for="" class="form-component-title">Campagne naam <span class="form-component-title-icon"></span></label>
    <div class="form-component-content">
      <div class="form-component-element">
        <input type="text" class="form-component-element-input" placeholder="" value="{{ Aimless.value() }}" />
      </div>
      <p class="form-component-element-description">Mag geen scheldwoorden bevatten</p>
    </div>
  </div>