{% extends "MimotoCMS/components/base.twig" %}

{% block content %}

    {% set extends = Aimless.data('extends.name') %}
    {# set extends_id = Aimless.meta('extends.id') #}{# todo #}
    {% set extends_id = Aimless.meta('id') %}{# todo #}


    <div class="MimotoCMS_pages_entities_EntityDetail__meta">

        <div class="MimotoCMS_pages_entities_EntityDetail__meta_info">

            <b><span {{ Aimless.realtime('name')|raw }}>{{ Aimless.data('name') }}</span></b>

            {% if entityStructure.extends is not empty %}
                {% for extension in entityStructure.extends %}
                    extends <b><a href="/mimoto.cms/entity/{{ extension.id }}/view"><span mls_id="entity.{{ extension.id }}.name">{{ extension.name }}</span></a></b>
                {% endfor %}
                <br>
            {% endif %}


            {% if entityStructure.extendedBy is not empty %}
                <br>
                extendedBy:<br>
                <ul>
                {% for extension in entityStructure.extendedBy %}
                    <li><a href="/mimoto.cms/entity/{{ extension.id }}/view"><span mls_value="_MimotoAimless__core__entity.{{ extension.id }}.name">{{ extension.name }}</span></a></li>
                {% endfor %}
                </ul>
            {% endif %}

            {% if entityStructure.hasTable %}
                <div class="MimotoCMS_pages_entities_EntityDetail__meta_info_instanceCount_container">
                    <div class="MimotoCMS_pages_entities_EntityDetail__meta_info_instanceCount_description">Number&nbsp;of<br>instances</div>
                    <div class="MimotoCMS_pages_entities_EntityDetail__meta_info_instanceCount_number">{{ entityStructure.instanceCount }}</div>
                </div>
            {% else %}
                This entity has no table and is only used for extension purposes
            {% endif %}


            {#<div class="MimotoCMS_pages_entities_EntityDetail__meta_info_instanceCount_container">
                <div class="MimotoCMS_pages_entities_EntityDetail__meta_info_instanceCount_description">Number of connections<br>to other instances</div>
                <div class="MimotoCMS_pages_entities_EntityDetail__meta_info_instanceCount_number">{{ entityStructure.instanceCount }}</div>
            </div>

            <div class="MimotoCMS_pages_entities_EntityDetail__meta_info_instanceCount_container">
                <div class="MimotoCMS_pages_entities_EntityDetail__meta_info_instanceCount_description">Number of instances<br>it's connected to</div>
                <div class="MimotoCMS_pages_entities_EntityDetail__meta_info_instanceCount_number">{{ entityStructure.instanceCount }}</div>
            </div>#}


            <br>
            <br>
            <br>
            #todo<br>
            // 2. add checkbox<br>
            // 3. add dropdown with other entities (selection met conditionals via database)<br>
            // 4. tab-module<br>
            // 5. visual representation (collection with small template)<br>
            // 7. used in x connections (stats)<br>
            // 8. properties op aparte pagina<br>
            // 9. edit meta data op aparte pagina<br>
            <br>
            <br>
            <b><span {{ Aimless.realtime('name')|raw }}>{{ Aimless.data('name') }}</span></b>
            {% for property in entityStructure.properties %}
                <li class="MimotoCMS_pages_entities_EntityDetail__property">
                    <a href="/mimoto.cms/entityproperty/{{ property.id }}/view">
                        <span mls_value="_MimotoAimless__core__entityproperty.{{ property.id }}.name" class="MimotoCMS_pages_entities_EntityDetail__property-name">
                            {{ property.name }}
                        </span>
                    </a>
                    <span mls_value="_MimotoAimless__core__entityproperty.{{ property.id }}.type" class="MimotoCMS_pages_entities_EntityDetail__property-type">
                        {{ property.type }}
                    </span>
                </li>
            {% endfor %}


        </div>
        <div class="MimotoCMS_pages_entities_EntityDetail__meta_menu">
            {% include 'MimotoCMS/components/forms/input/Button/Button.twig' with { label:'Edit', icon:'', onclick:"Mimoto.CMS.entityEdit('" ~ Aimless.meta('id') ~ "');", type:'secondary' } %}<br>
        </div>

    </div>


    <div class="MimotoCMS_pages_entities_EntityDetail__properties">
        <br>
        Properties:<br>
        <br>
        {% include 'MimotoCMS/components/forms/input/Button/Button.twig' with { label:'Add new property', icon:'+', onclick:"Mimoto.CMS.entityPropertyNew('" ~ Aimless.meta('id') ~ "');" } %}
        <br>
        <br>
        <div class="MimotoCMS_pages_entities_EntityDetail__container" {{ Aimless.realtime('properties')|raw }}>
            {{ Aimless.data('properties')|raw }}
            for item in Aimless.collection('properties')
            {
                of "true" als tweede parameter
            }
        </div>
    </div>

    <br>
    <hr>
    <br>
    <b>Danger zone!</b><br>
    <i><u>WARNING</u> - Deleting the entity will result in the LOSS OF ALL DATA related to this entity.</i><br>
    <br>
    {% include 'MimotoCMS/components/forms/input/Button/Button.twig' with { label:'Delete entity', icon:'X', onclick:"Mimoto.CMS.entityDelete(" ~ Aimless.meta('id') ~ ", '" ~ Aimless.data('name') ~ "');", type:'alert' } %}

{% endblock %}
