<div class="MimotoCMS_users_overview_UserPreview" {{ Mimoto.realtime() }}>

    <div class="MimotoCMS_users_overview_UserPreview-info">
        <div class="MimotoCMS_users_overview_UserPreview-name">
            <span {{ Mimoto.realtime('firstName') }}>{{ Mimoto.data('firstName') }}</span>
            <span {{ Mimoto.realtime('lastName') }}>{{ Mimoto.data('lastName') }}</span>
        </div>
        <div class="MimotoCMS_users_overview_UserPreview-email" {{ Mimoto.realtime('email') }}>{{ Mimoto.data('email') }}</div>
    </div>

    <div class="MimotoCMS_users_overview_UserPreview-menu">

        <div class="MimotoCMS_ListItemModule-sorthandlecontainer">
            <div class="MimotoCMS_users_overview_UserPreview-sorthandle js-sortable-draghandle">
                <div class="MimotoCMS_users_overview_UserPreview-sorthandledot"></div>
                <div class="MimotoCMS_users_overview_UserPreview-sorthandledot"></div>
                <div class="MimotoCMS_users_overview_UserPreview-sorthandledot"></div>
                <div class="MimotoCMS_users_overview_UserPreview-sorthandledot"></div>
                <div class="MimotoCMS_users_overview_UserPreview-sorthandledot"></div>
                <div class="MimotoCMS_users_overview_UserPreview-sorthandledot"></div>
                <div class="MimotoCMS_users_overview_UserPreview-sorthandledot"></div>
                <div class="MimotoCMS_users_overview_UserPreview-sorthandledot"></div>
                <div class="MimotoCMS_users_overview_UserPreview-sorthandledot"></div>
                <div class="MimotoCMS_users_overview_UserPreview-sorthandledot"></div>
            </div>
        </div>

        {{ Mimoto.module('MimotoCMS_modules_Button', { label:'View', link:'/mimoto.cms/user/' ~ Mimoto.meta('id') ~ '/view', types:['secondary', 'small'], icon:'' }) }}
        {{ Mimoto.module('MimotoCMS_modules_Button', { label:'Delete', directive:Mimoto.remove(), types:['alert', 'small'], icon:'' }) }}

    </div>
</div>
