<div class="component_project">
    <div class="project_menu">
            <div class="button_small" onClick="Maido.changeProject({{ project.getId }});">Edit</div>
        </div>
    <div id="{{ project.getId }}" class="project_summary">
        
        <div class="project">
            <div class="client_name">- {{ project.getClientName }}{% if project.getAgencyName != empty %}<span class="agency_name"> - {{ project.getAgencyName }}</span>{% endif %}</div>
            <div class="project_name"> {{ project.getName|e }}</div>
            <div class="button_small" onClick="Maido.toggleProjectState({{ project.getId }});">View 3 subprojects</div>
            <div class="button_small" onClick="Maido.newSubproject({{ project.getId }});">Add subproject +</div>
        </div>
        
        <div class="project_subinfo">
            <div class="project_subinfo_value">50k</div>
            <div class="project_subinfo_key">Expected</div>
        </div>
        <div class="project_subinfo">
            <div class="project_subinfo_value">180k</span></div>
            <div class="project_subinfo_key">Signed</div>
        </div>
        <div class="project_subinfo">
            <div class="project_subinfo_value">112k</div>
            <div class="project_subinfo_key">Used</div>
        </div>
        <div class="project_subinfo">
            <div class="projectmanager_avatar"></div>
            <div class="projectmanager_name">{{ project.getProjectManagerName }}</div>
        </div>
        
        
    </div>
    <div id="project_details_{{ project.getId }}" class="project_details">
        <hr>
        {{ project.getDescription|e }}
        
        <div class="subproject_title">Aanvragen</div>
        loop: aanvragen<br>
        <br>
        <div class="subproject_title">Lopend</div>
        loop: lopende projecten<br>
        <br>
        <br>
        Subproject | Status | Budget | Slagingskans<br>
        
        
        
        <div class="subprojects">
            <div class="button_small" onClick="Maido.newSubproject({{ project.getId }});">Add subproject +</div>
        </div>
    </div>
    
</div>