<div class="subproject_phase">
    
    <div class="subproject_title">{{ phase }}</div>
    
    <div class="subproject_container">
        <div class="subproject_name subproject_header">Onderdeel</div>
        <div class="subproject_status subproject_header">Status</div>
        <div class="subproject_budget subproject_header">Budget</div>
        <div class="subproject_chanceofsuccess subproject_header">Slagingskans</div>
        <div class="subproject_edit subproject_header">&nbsp;</div>
    </div>
    
    {% for subproject in subprojects %}
        <div class="subproject">
            <div class="subproject_container">
                <div class="subproject_name subproject_content">{{ subproject.name }}</div>
                <div class="subproject_status subproject_content">{{ subproject.getStateName }}</div>
                <div class="subproject_budget subproject_content">{{ subproject.getBudget/1000 }}k</div>
                <div class="subproject_chanceofsuccess subproject_content">{{ subproject.getProbability*100 }}%</div>
                <div class="subproject_edit subproject_content"><div class="button_small" onClick="Maido.changeSubproject({{ subproject.getId }});">Edit</div></div>
            </div>
            <div class="subproject_details">
                conversatie (laatste notitie) | budgetten | contactpersoon | periode
            </div>
        </div>
    {% endfor %}
    
</div>