<button {{ Mimoto.remove() }} {{ Mimoto.realtime() }} {{ Mimoto.reloadOnChange() }}>
    Element 2 - <mimoto {{ Mimoto.realtime('label') }}>{{ Mimoto.data('label') }}</mimoto>
    [{{ Mimoto.getVar('xxx') }}]
</button>