{%
    embed "MimotoCMS/modules/TabmenuModule/TabmenuModule.twig" with {
        id: 'userdetails',
        tabs: [
            {
                label: 'User details',
                panel_id: 'panel_userdetails_info'
            }
        ]
    }
%}
    {% block panels %}

        <!-- structure -->

        <div id="panel_userdetails_info" class="MimotoCMS_pages_users_UserDetail__panel">

            <div class="MimotoCMS_pages_users_UserDetail_Structure">

                <div class="MimotoCMS_pages_users_UserDetail_Structure__meta">
                    <div class="MimotoCMS_pages_users_UserDetail_Structure__meta_info">

                        <div class="MimotoCMS_pages_users_UserDetail_Structure__userName" {{ Mimoto.realtime('name') }}>{{ Mimoto.data('name') }}</div>
                        <div class="MimotoCMS_pages_users_UserDetail_Structure__userEmail" {{ Mimoto.realtime('email') }}>{{ Mimoto.data('email') }}</div>
                        <img class="MimotoCMS_pages_users_UserDetail_Structure__userAvatar" {{ Mimoto.realtime('avatar') }} src="{{ Mimoto.data('avatar') }}">

                    </div>

                    <div class="MimotoCMS_pages_users_UserDetail_Structure__meta_menu">
                        {{ Mimoto.module('MimotoCMS_modules_Button', { label:'Edit', icon:'', onclick:"MimotoCMS.userEdit('" ~ Mimoto.meta('id') ~ "');", type:'secondary' }) }}
                    </div>

                </div>

            </div>

        </div>

    {% endblock %}
{% endembed %}
