<div class="MimotoCMS_pages_entities_PropertyListItem" onclick="Mimoto.CMS.entityPropertyEdit({{ Aimless.meta('id') }});">
    <div class="MimotoCMS_pages_entities_PropertyListItem__label" {{ Aimless.realtime('name')|raw }}>{{ Aimless.data('name') }}</div>
    <div class="MimotoCMS_pages_entities_PropertyListItem__sublabel" {{ Aimless.realtime('type')|raw }}>{{ Aimless.data('type') }}</div>
</div>
