{% embed "MimotoCMS/modules/Tabmenu/Tabmenu.twig" %}

    {% block tabs %}

        <div data-mimotocms-tabmenu-tab>Dataset</div>

    {% endblock %}

    {% block panels %}

        <div data-mimotocms-tabmenu-panel>

            <div class="MimotoCMS_pages_datasets_DatasetDetail_Structure">

                <div class="MimotoCMS_pages_datasets_DatasetDetail_Structure__meta">
                    <div class="MimotoCMS_pages_datasets_DatasetDetail_Structure__meta_info">

                        <div class="MimotoCMS_pages_datasets_DatasetDetail_Structure__datasetname" {{ Mimoto.realtime('name') }}>{{ Mimoto.data('name') }}</div>
                        <div class="MimotoCMS_pages_datasets_DatasetDetail_Structure__datasetformname" {{ Mimoto.realtime('form.name') }}>{{ Mimoto.data('form.name') }}</div>

                    </div>

                    <div class="MimotoCMS_pages_datasets_DatasetDetail_Structure__meta_menu">
                        {{ Mimoto.module('MimotoCMS_modules_Button', { label:'Edit', icon:'', directive:Mimoto.edit('_Mimoto_dataset'), type:'secondary' }) }}
                    </div>

                </div>

            </div>
        </div>

    {% endblock %}
{% endembed %}
