{% extends "examples/examplebase.twig" %}

{% block content %}
    <h1>Example - Project with subprojects - typed</h1>
    <i>This project contains a collection of subprojects and every subproject is presented with the a template based on the "phase" property</i><br>
    <br>
    <br>
    <div class="example_project" {{ Aimless.realtime()|raw }}>
        <b><span {{ Aimless.realtime('name')|raw }}>{{ Aimless.data('name') }}</span></b><br><br>
        <div {{ Aimless.realtime('description')|raw }}>{{ Aimless.data('description') }}</div>
        <br>
        <div class="example_project_subprojects" {{ Aimless.realtime('subprojects')|raw }}>
            {{ Aimless.data('subprojects')|raw }}
        </div>
    </div>
{% endblock %}
