{% extends "examples/examplebase.twig" %}

{% block content %}
    <h1>Example - Project with subprojects</h1>
    <i>This project contains a collection of subprojects and every subproject is presented with the same subproject template.</i><br>
    <i>Demos:</i><br>
    <ul>
        <li><a href='/example10a'>Add subprojects id=3 (by id) and id=5 (by entity)</a></li>
        <li><a href='/example10b'>Remove subproject (id = 3)</a></li>
    </ul>
    <br>
    <div class="example_project" {{ Aimless.realtime()|raw }}>
        <b><span {{ Aimless.realtime('name')|raw }}>{{ Aimless.data('name') }}</span></b> -
        <i>Project manager = <span {{ Aimless.realtime('projectManager.name')|raw }}>{{ Aimless.data('projectManager.name') }}</span></i><br><br>
        <div {{ Aimless.realtime('description')|raw }}>{{ Aimless.data('description') }}</div>
        <br>
        <div class="example_project_subprojects" {{ Aimless.realtime('subprojects')|raw }}>
            {{ Aimless.data('subprojects')|raw }}
        </div>
    </div>
{% endblock %}
