<div class="MimotoCMS_pages_actions_ActionOverview_Action" {{ Mimoto.realtime() }} {{ Mimoto.reloadOnChange() }}>

    <div class="MimotoCMS_pages_actions_ActionOverview_Action-info">

        {# --- head --- #}

        <div class="MimotoCMS_pages_actions_ActionOverview_Action-head">

            <div class="MimotoCMS_pages_actions_ActionOverview_Action-namecontainer">
                {{ Mimoto.module('MimotoCMS_modules_EditableField', { sPropertyName:'title', sFieldClass:'MimotoCMS_pages_actions_ActionOverview_Action-name' }) }}
            </div>

        </div>


        {# --- body --- #}

        <div class="MimotoCMS_pages_actions_ActionOverview_Action-body">

            <div class="MimotoCMS_pages_actions_ActionOverview_Action-row">
                <div class="MimotoCMS_pages_actions_ActionOverview_Action-section">
                    <div class="MimotoCMS_pages_actions_ActionOverview_Action-section-label">WHEN</div>
                    <div class="MimotoCMS_pages_actions_ActionOverview_Action-section-data">
                        {{ Mimoto.module('MimotoCMS_modules_DataSelectButton', { sEmptyLabel:'select entity', sEntityName:'entity', sSelectionName:'_Mimoto_all_entities', sValuePropertySelector:'entity.name', options:{onChange:[['clear','conditionals']]} }) }}
                        {{ Mimoto.module('MimotoCMS_modules_DataSelectButton', { sHideWhenEmpty:'entity', sEmptyLabel:'select event', sEntityName:'event', sSelectionName:'_Mimoto_all_core_events', sValuePropertySelector:'event' }) }}
                    </div>
                </div>
            </div>

            <div {{ Mimoto.hideWhenEmpty('event') }}>

                <div class="MimotoCMS_pages_actions_ActionOverview_Action-row">
                    <div class="MimotoCMS_pages_actions_ActionOverview_Action-conditionals-empty {{ Mimoto.init() }}" {{ Mimoto.showWhenEmpty('conditionals') }}>Optional: <span class="MimotoCMS_pages_actions_ActionOverview_Action-conditionals-addFirst" {{ Mimoto.create('conditionals', '_Mimoto_action_conditional') }}>add conditionals</span></div>
                    <div class="MimotoCMS_pages_actions_ActionOverview_Action-section {{ Mimoto.init() }}" {{ Mimoto.hideWhenEmpty('conditionals') }}>
                        <div class="MimotoCMS_pages_actions_ActionOverview_Action-section-label">AND</div>
                        <div class="MimotoCMS_pages_actions_ActionOverview_Action-section-data MimotoCMS_pages_actions_ActionOverview_Action-conditionals" {{ Mimoto.sortable() }} {{ Mimoto.realtime('conditionals', 'MimotoCMS_pages_actions_ActionOverview_ActionConditional') }}>
                            {{ Mimoto.data('conditionals', 'MimotoCMS_pages_actions_ActionOverview_ActionConditional', { values:{ entityTypeId:Mimoto.meta('entity.id') }} ) }}
                        </div>
                    </div>
                    <div class="MimotoCMS_pages_actions_ActionOverview_Action-conditionals-add" {{ Mimoto.hideWhenEmpty('conditionals') }} {{ Mimoto.create('conditionals', '_Mimoto_action_conditional') }}>add another conditional</div>
                </div>


                <div class="MimotoCMS_pages_actions_ActionOverview_Action-row">
                    <div class="MimotoCMS_pages_actions_ActionOverview_Action-section">
                        <div class="MimotoCMS_pages_actions_ActionOverview_Action-section-label">THEN</div>
                        <div class="MimotoCMS_pages_actions_ActionOverview_Action-section-data">
                            {{ Mimoto.module('MimotoCMS_modules_DataSelectButton', { sEmptyLabel:'select service', sEntityName:'service', sSelectionName:'_Mimoto_all_public_services', sValuePropertySelector:'service.name', options:{onChange:[['clear','function']]} }) }}
                            {{ Mimoto.module('MimotoCMS_modules_DataSelectButton', { sHideWhenEmpty:'service', sEmptyLabel:'select function', sEntityName:'function', sSelectionName:'_Mimoto_all_functions_of_service', options:{vars:{idVarName:Mimoto.meta('service.id') } }, sValuePropertySelector:'function.name' }) }}
                        </div>
                    </div>
                </div>

                <div class="MimotoCMS_pages_actions_ActionOverview_Action-row" {{ Mimoto.hideWhenEmpty('function') }}>
                    <div class="MimotoCMS_pages_actions_ActionOverview_section">
                        <div class="MimotoCMS_pages_actions_ActionOverview_Action-settings-empty {{ Mimoto.init() }}" {{ Mimoto.showWhenEmpty('settings') }}>No settings, or <span class="MimotoCMS_pages_actions_ActionOverview_Action-settings-addFirst" {{ Mimoto.add('settings', '_Mimoto_action_setting') }}>add a setting</span></div>
                        <div class="MimotoCMS_pages_actions_ActionOverview_Action-section {{ Mimoto.init() }}" {{ Mimoto.hideWhenEmpty('settings') }}>
                            <div class="MimotoCMS_pages_actions_ActionOverview_Action-section-label">WITH</div>
                            <div class="MimotoCMS_pages_actions_ActionOverview_Action-section-data MimotoCMS_pages_actions_ActionOverview_Action-settings" {{ Mimoto.sortable() }} {{ Mimoto.realtime('settings', 'MimotoCMS_pages_actions_ActionOverview_ActionSetting') }}>{{ Mimoto.data('settings', 'MimotoCMS_pages_actions_ActionOverview_ActionSetting') }}</div>
                        </div>

                    </div>
                    <div class="MimotoCMS_pages_actions_ActionOverview_Action-settings-add" {{ Mimoto.hideWhenEmpty('settings') }} {{ Mimoto.add('settings', '_Mimoto_action_setting') }}>add more settings</div>
                </div>

            </div>

        </div>

    </div>

    <div class="MimotoCMS_pages_actions_ActionOverview_Action-menu">
        <div class="MimotoCMS_pages_actions_ActionOverview_Action-menuitem">{{ Mimoto.module('MimotoCMS_modules_Button', { label:'Remove', directive:Mimoto.remove({confirm:'MimotoCMS.confirmRemoval'}), types:['secondary', 'alert', 'small'], icon:'' }) }}</div>
        <div class="MimotoCMS_modules_ListItem-sorthandlecontainer">{{ Mimoto.module('MimotoCMS_modules_SortHandle') }}</div>
    </div>
</div>
