{% extends "grid/base_slide.twig" %}

{% set nGridCategories = 5 %}
{% set nGridItems = 7 * 5 %}

{% block slide %}

    {#<div class="GridPrototypeSlideGrid" {{ Mimoto.realtime() }}>#}
        {#<div  {{ Mimoto.realtime('title') }}>{{ Mimoto.render('title') }}</div>#}
        {#<div  {{ Mimoto.realtime('body') }}>{{ Mimoto.render('body') }}</div>#}
    {#</div>#}


    <div class="GridPrototypeSlideGrid" {{ Mimoto.realtime() }}>
        <h1  {{ Mimoto.realtime('title') }}>{{ Mimoto.render('title') }}</h1>
        <div class="GridPrototype-container js-sortable-container-categories">
            {% for i in 1..nGridCategories %}
                <div class="GridPrototype-category js-sortable-item">
                    <span class="GridPrototype-item-content">#{{ i }}</span>

                    <div class="MimotoCMS_ListItemModule-handle js-sortable-item-handle">
                        <div class="MimotoCMS_ListItemModule-handle-dot"></div>
                        <div class="MimotoCMS_ListItemModule-handle-dot"></div>
                        <div class="MimotoCMS_ListItemModule-handle-dot"></div>
                        <div class="MimotoCMS_ListItemModule-handle-dot"></div>
                        <div class="MimotoCMS_ListItemModule-handle-dot"></div>
                        <div class="MimotoCMS_ListItemModule-handle-dot"></div>
                        <div class="MimotoCMS_ListItemModule-handle-dot"></div>
                        <div class="MimotoCMS_ListItemModule-handle-dot"></div>
                        <div class="MimotoCMS_ListItemModule-handle-dot"></div>
                        <div class="MimotoCMS_ListItemModule-handle-dot"></div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="GridPrototype-container js-sortable-container-items">
            {% for i in 1..nGridItems %}
                <div class="GridPrototype-item js-sortable-item">
                    <span class="GridPrototype-item-content">#{{ i }}</span>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>setupSortable();</script>

{% endblock %}
