{% extends "grid/base.twig" %}

{% block content %}

    <div class="GridPrototypeSlideGrid" {{ Mimoto.realtime() }}>
        <div  {{ Mimoto.realtime('title') }}>{{ Mimoto.render('title') }}</div>
        <div  {{ Mimoto.realtime('body') }}>{{ Mimoto.render('body') }}</div>
    </div>

{% endblock %}



