{% set sIcon = 'publications' %}
{% if Mimoto.data('type') == 'group' %}{% set sIcon = 'files' %}{% endif %}
<li class="MimotoCMS_interface_Menu-item" {{ Mimoto.realtime() }}>
    <a href="/mimoto.cms/content/{{ Mimoto.meta('id') }}" class="MimotoCMS_interface_Menu-item-link">
        <svg class="MimotoCMS_interface_Menu-item-icon"><use xlink:href='#ico-{{ sIcon }}'/></svg>
        <span class="MimotoCMS_interface_Menu-item-text" {{ Mimoto.realtime('name') }}>{{ Mimoto.render('name') }}</span>
    </a>
</li>
