<div class="MimotoCMS_pages_pages_Detail_Output" {{ Mimoto.realtime() }} {{ Mimoto.reloadOnChange() }}>

    <div class="MimotoCMS_pages_pages_Detail_Output-setting">
        <div class="MimotoCMS_pages_pages_Detail_Output-setting-info" {{ Mimoto.showWhenEmpty('layout') }}>
            Please select a layout or component
        </div>

        <div {{ Mimoto.hideWhenEmpty('layout') }}>

            Layout or component = <span {{ Mimoto.realtime('layout.name') }}>{{ Mimoto.data('layout.name') }}</span>
        </div>
        <div class="MimotoCMS_pages_pages_Detail_Output-setting-menu">

            {{ Mimoto.module('Mimoto.CMS.ButtonModule', { label:'Select', directive:Mimoto.select('layout', '_Mimoto_all_layouts') }) }}
            <div {{ Mimoto.hideWhenEmpty('layout') }}>{{ Mimoto.module('Mimoto.CMS.ButtonModule', { label:'Clear', types:['alert'], directive:Mimoto.clear('layout') }) }}</div>
        </div>
    </div>

    <div class="MimotoCMS_pages_pages_Detail_Output-setting" {{ Mimoto.hideWhenEmpty('layout') }}>
        <div class="MimotoCMS_pages_pages_Detail_Output-setting-info MimotoCMS_pages_pages_Detail_Output-setting-info-empty" {{ Mimoto.showWhenEmpty('selection') }}>
            Optional: Add data ..
        </div>

        <div {{ Mimoto.realtime('selection.name') }} {{ Mimoto.hideWhenEmpty('selection') }}>
            Use data from the selection <a class="MimotoCMS_pages_pages_Detail_Output-setting-info-link" href="/mimoto.cms/selections/{{ Mimoto.meta('selection.id') }}">{{ Mimoto.data('selection.name') }}</a>
        </div>

        <div class="MimotoCMS_pages_pages_Detail_Output-setting-menu">

            {{ Mimoto.module('Mimoto.CMS.ButtonModule', { label:'Select', directive:Mimoto.select('selection', '_Mimoto_all_selections') }) }}
            <div {{ Mimoto.hideWhenEmpty('selection') }}>{{ Mimoto.module('Mimoto.CMS.ButtonModule', { label:'Clear', types:['alert'], directive:Mimoto.clear('selection') }) }}</div>
        </div>
    </div>

    {#include as module here ...#}

    <div class="MimotoCMS_pages_pages_Detail_Output-containers" {{ Mimoto.hideWhenEmpty('layout') }}>

        <div class="MimotoCMS_pages_pages_Detail_Output-containers-header">
            <div class="MimotoCMS_pages_pages_Detail_Output-containers-label">Containers</div>

            <div class="MimotoCMS_pages_pages_Detail_Output-containers-menu">
                {{ Mimoto.module('Mimoto.CMS.ButtonModule', { label:'Add content to container', types:['small', 'secondary'], directive:Mimoto.add('containers', '_Mimoto_output_container') }) }}
            </div>
        </div>

        <div class="MimotoCMS_pages_pages_Detail_Output-containers-containers-empty" {{ Mimoto.showWhenEmpty('containers') }}>
            No containers added yet ..
        </div>

        <div class="MimotoCMS_pages_pages_Detail_Output-containers-containers" {{ Mimoto.realtime('containers', 'MimotoCMS_pages_pages_Detail-Output-container') }} {{ Mimoto.hideWhenEmpty('containers') }}>
            {{ Mimoto.data('containers', 'MimotoCMS_pages_pages_Detail-Output-container') }}
        </div>
    </div>
</div>
