{% set sImagefieldId = Mimoto.meta('type')~"."~Mimoto.meta('id') %}
{% set sFlatImageFieldId = Mimoto.meta('type')~Mimoto.meta('id') %}

{% embed "MimotoCMS/components/forms/FormComponent.twig" with {"type": "image", button:true, buttonLabel:'Upload image', buttonIcon:'', buttonClass:'js-'~sFlatImageFieldId~'-image-upload-trigger' } %}

    {% block form_component_element %}
        <div id="{{ Mimoto.meta('type')~"."~Mimoto.meta('id') }}">
            <div class="MimotoCMS_forms_input_ImageUpload js-{{ sFlatImageFieldId }}-image-upload">
                <div class="MimotoCMS_forms_input_ImageUpload-trigger js-{{ sFlatImageFieldId }}-image-upload-trigger">
                    <div class="MimotoCMS_forms_input_ImageUpload-trigger-button"><svg class="MimotoCMS_forms_input_ImageUpload-button-trigger-icon"><use xlink:href="#ico-plus"></use></svg></div>
                    <p class="MimotoCMS_forms_input_ImageUpload-trigger-text">Click here or drop an image</p>
                </div>

                <img id="js-{{ sFlatImageFieldId }}-previewimage" class="MimotoCMS_forms_input_ImageUpload-new-preview-image" src="">

                <div class="MimotoCMS_forms_input_ImageUpload-preview js-{{ sFlatImageFieldId }}-image-upload-preview">
                    <div class="MimotoCMS_forms_input_ImageUpload-preview-template js-{{ sFlatImageFieldId }}-image-upload-preview-template">
                        <img data-dz-thumbnail class="MimotoCMS_forms_input_ImageUpload-preview-image" />
                        <div class="MimotoCMS_forms_input_ImageUpload-preview-upload-progress">
                            <div class="MimotoCMS_forms_input_ImageUpload-preview-upload-progess-bar" data-dz-uploadprogress></div>
                        </div>
                    </div>
                </div>
            </div>
            <input {{ Mimoto.input() }} type="hidden" value="{{ Mimoto.value() }}" class=".js-{{ sFlatImageFieldId }}-image-upload-value"/>
            <div id="image-upload-delete-{{ sFlatImageFieldId }}" class="MimotoCMS_forms_input_ImageUpload-delete {% if Mimoto.value() is empty %}hidden{% endif %}">Remove image</div>
        </div>
        <script>MimotoX.utils.registerRequest(Mimoto.form.setupImageField, '{{ sImagefieldId }}', '{{ sFlatImageFieldId }}', '{{ Mimoto.fieldId() }}');</script>
    {% endblock %}

{% endembed %}
