<div class="MimotoCMS_pages_selections_SelectionDetail-Rule" {{ Mimoto.realtime() }} {#{{ Mimoto.reloadOnChange() }}#}>

    <div class="MimotoCMS_pages_selections_SelectionDetail-Rule-data">




        <div class="MimotoCMS_pages_selections_SelectionDetail-Rule-setting">
        {% if Mimoto.data('typeAsVar') %}
            Var name for type = {{ Mimoto.data('typeVarName') }}
        {% else %}

            {% if not Mimoto.empty('type') %}
                Type = <span {{ Mimoto.realtime('type.name') }}>{{ Mimoto.data('type.name') }}</span>
            {% else %}
                No type selected yet ..
            {% endif %}

            {{ Mimoto.module('MimotoCMS_modules_Button', { label:'Select entity type', types:['small', 'secondary'], directive:Mimoto.select('type', '_Mimoto_all_entities') }) }}
            <span {{ Mimoto.hideWhenEmpty('type') }}>{{ Mimoto.module('MimotoCMS_modules_Button', { label:'Clear', types:['small', 'alert'], directive:Mimoto.clear('type') }) }}</span>

        {% endif %}
        </div>

        {% if Mimoto.data('typeAsVar') or not Mimoto.isEmpty('type') %}
            <div class="MimotoCMS_pages_selections_SelectionDetail-Rule-setting">
            {% if Mimoto.data('idAsVar') %}
                Var name for id = {{ Mimoto.data('idVarName') }}
            {% else %}

                {% if not Mimoto.empty('instance') %}
                    Instance = <span {{ Mimoto.realtime('instance.id') }}>{{ Mimoto.data('instance.id') }}</span>{{ Mimoto.meta('instance.id') }}
                {% else %}
                    No instance selected yet ..
                {% endif %}

                {{ Mimoto.module('MimotoCMS_modules_Button', { label:'Select instance', types:['small', 'secondary'], directive:Mimoto.select('instance', '_Mimoto_all_instances_of_entity', { vars:[{type:Mimoto.meta('type.id')}] }) }) }}
                <span {{ Mimoto.hideWhenEmpty('type') }}>{{ Mimoto.module('MimotoCMS_modules_Button', { label:'Clear', types:['small', 'alert'], directive:Mimoto.clear('instance') }) }}</span>

            {% endif %}
            </div>
        {% endif %}


        <br>
        // 1. add values<br>
        <br>
        or<br>
        <br>
        // a. add property<br>
        // b. add child types<br>
        // c. add child values<br>
        <br>

    </div>
    <div class="MimotoCMS_pages_selections_SelectionDetail-Rule-menu">
        {{ Mimoto.module('MimotoCMS_modules_Button', { label:'Delete', types:['small', 'alert'], directive:Mimoto.remove() }) }}
        {{ Mimoto.module('MimotoCMS_modules_Button', { label:'Edit', types:['small', 'secondary'], directive:Mimoto.edit('_Mimoto_selection_rule') }) }}
    </div>
</div>
