<div data-mimoto-component="MimotoCMS_pages_notifications_Notification" class="MimotoCMS_pages_notifications_Notification">
    <a name="notification_{{ Aimless.meta('id') }}"></a>
    <div class="notification notification--{{ Aimless.data('category') }}" {{ Aimless.realtime() }}>

        <div class="notification-content">
            <p class="notification-title" {{ Aimless.realtime('title') }}>{{ Aimless.data('title') }}</p>
            <p class="notification-subtitle">
                <span class="notification-subtitle-timestamp">{{ Aimless.meta('created') }}</span> by
                <span class="notification-subtitle-creator">{{ Aimless.data('dispatcher') }}</span>
            </p>
            <p class="notification-message" {{ Aimless.realtime('message') }}>{{ Aimless.data('message') }}</p>
        </div>

        <div class="notification-button">
            {{ Aimless.module('Mimoto.CMS.ButtonModule', { label: 'Close', onclick: "Mimoto.CMS.notificationClose('"~Aimless.meta('type')~"', '"~Aimless.meta('id')~"');" }) }}
        </div>

    </div>
</div>
