<div class="MimotoCMS_pages_notifications_Notification" {{ Mimoto.realtime() }}>
    <a name="notification_{{ Mimoto.meta('id') }}"></a>
    <div class="notification notification--{{ Mimoto.data('category') }}">

        <div class="notification-content">
            <p class="notification-title" {{ Mimoto.realtime('title') }}>{{ Mimoto.data('title') }}</p>
            <p class="notification-subtitle">
                <span class="notification-subtitle-timestamp">{{ Mimoto.meta('created') }}</span> by
                <span class="notification-subtitle-creator">{{ Mimoto.data('dispatcher') }}</span>
            </p>
            <p class="notification-message" {{ Mimoto.realtime('message') }}>{{ Mimoto.data('message') }}</p>
        </div>

        <div class="notification-button">
            {{ Mimoto.module('Mimoto.CMS.ButtonModule', { label: 'Close', onclick: "Mimoto.CMS.notificationClose('"~Mimoto.meta('type')~"', '"~Mimoto.meta('id')~"');" }) }}
        </div>

    </div>
</div>
