<div class="MimotoCMS_pages_entities_EntityDetail_Structure">

    <div class="MimotoCMS_pages_entities_EntityDetail_Structure__meta">

        <div class="MimotoCMS_pages_entities_EntityDetail_Structure__meta_info">

            <span class="MimotoCMS_pages_entities_EntityDetail_Structure__entityname" {{ Aimless.realtime('name')|raw }}>{{ Aimless.data('name') }}</span>

            {% if entityStructure.extends is not empty %}
                {% for extension in entityStructure.extends %}
                    extends <b><a href="/mimoto.cms/entity/{{ extension.id }}/view"><span mls_id="entity.{{ extension.id }}.name" class="MimotoCMS_pages_entities_EntityDetail_Structure__entityname">{{ extension.name }}</span></a></b>
                {% endfor %}
                <br>
            {% endif %}

            {% if entityStructure.extendedBy is not empty %}
                <div class="MimotoCMS_pages_entities_EntityDetail_Structure__extendedby">
                    Extended by:
                    {% for extension in entityStructure.extendedBy %}
                        <a href="/mimoto.cms/entity/{{ extension.id }}/view"><span mls_value="_MimotoAimless__core__entity.{{ extension.id }}.name">{{ extension.name }}</span></a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

            <div class="MimotoCMS_pages_entities_EntityDetail_Structure__usage">
                {% if entityStructure.hasTable %}
                    This entity has {{ entityStructure.instanceCount }} instance{% if entityStructure.instanceCount != 1 %}s{%  endif %}
                {% else %}
                    This entity has no table of its own and is only used for extension purposes
                {% endif %}
            </div>

        </div>

        <div class="MimotoCMS_pages_entities_EntityDetail_Structure__meta_menu">
            {% include 'MimotoCMS/components/forms/input/Button/Button.twig' with { label:'Edit', icon:'', onclick:"Mimoto.CMS.entityEdit('" ~ Aimless.meta('id') ~ "');", type:'secondary' } %}
        </div>

    </div>


    <div class="MimotoCMS_pages_entities_EntityDetail_Structure__properties">

        {% if entityStructure.properties|length == 0 %}

            <div class="MimotoCMS_pages_entities_EntityDetail_Structure__properties_empty">
                <div>This entity has no properties yet.<br>Go ahead, start adding them!</div>
                <div>{% include 'MimotoCMS/components/forms/input/Button/Button.twig' with { label:'Add new property', icon:'plus', onclick:"Mimoto.CMS.entityPropertyNew('" ~ Aimless.meta('id') ~ "');" } %}</div>
            </div>
        {% else %}

            <div>
                <div class="MimotoCMS_pages_entities_EntityDetail_Structure__properties_container">

                    {% for property in entityStructure.properties %}
                        <div class="MimotoCMS_pages_entities_EntityDetail__property">

                            <div class="MimotoCMS_pages_entities_EntityDetail__property-data">
                                <div mls_value="_MimotoAimless__core__entityproperty.{{ property.id }}.name" class="MimotoCMS_pages_entities_EntityDetail__propertyname">
                                    <a href="/mimoto.cms/entityproperty/{{ property.id }}/view">{{ property.name }}</a>
                                </div>
                                <div mls_value="_MimotoAimless__core__entityproperty.{{ property.id }}.type" class="MimotoCMS_pages_entities_EntityDetail__propertytype">
                                    {{ property.type }}
                                </div>
                                <div class="MimotoCMS_pages_entities_EntityDetail__propertysettingscontainer">
                                    {% for setting in property.settings %}
                                        <div class="MimotoCMS_pages_entities_EntityDetail__propertysetting">
                                        {{ setting.key }}:<br>{{ setting.value|raw }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="MimotoCMS_pages_entities_EntityDetail__property-menu">
                                {% include 'MimotoCMS/components/forms/input/Button/Button.twig' with { label:'Edit', types:['small', 'secondary'], onclick:"Mimoto.CMS.entityPropertyEdit('" ~ property.id ~ "');" } %}
                                {% include 'MimotoCMS/components/forms/input/Button/Button.twig' with { label:'Move', types:['small', 'secondary'], onclick:"Mimoto.CMS.entityPropertyEdit('" ~ property.id ~ "');" } %}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="MimotoCMS_pages_entities_EntityDetail_Structure__properties_menu">{% include 'MimotoCMS/components/forms/input/Button/Button.twig' with { label:'Add new property', icon:'plus', onclick:"Mimoto.CMS.entityPropertyNew('" ~ Aimless.meta('id') ~ "');" } %}</div>
            </div>

        {% endif %}

    </div>

</div>
