<div {{ Aimless.realtime()|raw }} class="simplelist_item">
    <div class="simplelist_item_label" {{ Aimless.realtime('name')|raw }}>{{ Aimless.data('name') }}</div>
    <div class="simplelist_item_label" {{ Aimless.realtime('hasdraft')|raw }}>{{ Aimless.data('hasdraft') }}</div>
    <div class="simplelist_item_label" {{ Aimless.realtime('owner')|raw }}>{{ Aimless.data('owner') }}</div>
</div>