<div class="MimotoCMS_pages_entities_EntityListItem" onclick="window.open('/mimoto.cms/component/{{ Aimless.meta('id') }}/view', '_self');">
    <div class="MimotoCMS_pages_entities_EntityListItem__label" {{ Aimless.realtime('name')|raw }}>{{ Aimless.data('name') }}</div>
    <div class="MimotoCMS_pages_entities_EntityListItem__sublabel" {{ Aimless.realtime('file')|raw }}>{{ Aimless.data('file') }}</div>
</div>
