<div class="MimotoCMS_pages_components_ComponentListItem" onclick="window.open('/mimoto.cms/component/{{ Aimless.meta('id') }}/view', '_self');">
    <div class="MimotoCMS_pages_components_ComponentListItem__label" {{ Aimless.realtime('name')|raw }}>{{ Aimless.data('name') }}</div>
    <div class="MimotoCMS_pages_components_ComponentListItem__sublabel" {{ Aimless.realtime('file')|raw }}>{{ Aimless.data('file') }}</div>
</div>
