{%
    embed "MimotoCMS/modules/TabmenuModule/TabmenuModule.twig" with {
        id: 'componentdetails',
        tabs: [
            {
                label: 'Page',
                panel_id: 'panel_detail_info'
            }
        ]
    }
%}
    {% block panels %}

        <!-- structure -->

        <div id="panel_detail_info" class="MimotoCMS_pages_pages_Detail__panel">

            <div class="MimotoCMS_pages_pages_Detail_Structure">

                <div class="MimotoCMS_pages_pages_Detail_Structure__meta">
                    <div class="MimotoCMS_pages_pages_Detail_Structure__meta_info">

                        <div class="MimotoCMS_pages_pages_Detail_Structure__name" {{ Mimoto.realtime('name') }}>{{ Mimoto.data('name') }}</div>
                        <br>



                        <div class="MimotoCMS_pages_pages_Detail-UserRoles">

                            The following <a href="/mimoto.cms/configuration/userroles">user roles</a> are allowed to see this page:

                            <div class="MimotoCMS_pages_pages_Detail-UserRoles-empty" {{ Mimoto.showWhenEmpty('allowedUserRoles') }}>
                                Available to view by anyone!
                            </div>

                            <div {{ Mimoto.hideWhenEmpty('allowedUserRoles') }}>
                                <div class="MimotoCMS_pages_pages_Detail-UserRoles-container js-list js-list-sortable" {{ Mimoto.realtime('allowedUserRoles', 'MimotoCMS_pages_Detail-AllowedUserRole') }}>
                                    {{ Mimoto.data('allowedUserRoles', 'MimotoCMS_pages_Detail-AllowedUserRole') }}
                                </div>
                            </div>

                        </div>

                        <div class="MimotoCMS_pages_pages_Detail-Route">

                            This page uses the following route:

                            <div class="MimotoCMS_pages_pages_Detail-UserRoles-empty" {{ Mimoto.showWhenEmpty('allowedUserRoles') }}>
                                Available to view by anyone!
                            </div>

                            <div {{ Mimoto.hideWhenEmpty('allowedUserRoles') }}>
                                <div class="MimotoCMS_pages_pages_Detail-UserRoles-container js-list js-list-sortable" {{ Mimoto.realtime('allowedUserRoles', 'MimotoCMS_pages_Detail-AllowedUserRole') }}>
                                    {{ Mimoto.data('allowedUserRoles', 'MimotoCMS_pages_Detail-AllowedUserRole') }}
                                </div>
                            </div>

                        </div>

                        {#<div class="MimotoCMS_pages_pages_Detail-BaseComponent">#}

                            {#Base component or layout:#}

                        {#</div>#}

                    </div>

                    <div class="MimotoCMS_pages_pages_Detail_Structure__meta_menu">
                        {{ Mimoto.module('Mimoto.CMS.ButtonModule', { label:'Edit', icon:'', directive:Mimoto.edit('_Mimoto_route') }) }}
                    </div>

                </div>

            </div>

            <div class="MimotoCMS_pages_pages_Detail_Structure">


            </div>

        </div>

    {% endblock %}
{% endembed %}
