{%
    embed "MimotoCMS/modules/TabmenuModule/TabmenuModule.twig" with {
        id: 'componentdetails',
        tabs: [
            {
                label: 'Page',
                panel_id: 'panel_detail_info'
            }
        ]
    }
%}
    {% block panels %}

        <!-- structure -->

        <div id="panel_detail_info" class="MimotoCMS_pages_pages_Detail__panel">

            <div class="MimotoCMS_pages_pages_Detail_Structure">

                <div class="MimotoCMS_pages_pages_Detail_Structure__meta">
                    <div class="MimotoCMS_pages_pages_Detail_Structure__meta_info">

                        <div class="MimotoCMS_pages_pages_Detail_Structure__name" {{ Mimoto.realtime('name') }}>{{ Mimoto.data('name') }}</div>
                        <br>

                    </div>

                    <div class="MimotoCMS_pages_pages_Detail_Structure__meta_menu">
                        {{ Mimoto.module('Mimoto.CMS.ButtonModule', { label:'Edit', icon:'', directive:Mimoto.edit('_Mimoto_route') }) }}
                    </div>
                </div>

            </div>

            <div class="MimotoCMS_pages_pages_Detail_Structure">

                <div class="MimotoCMS_pages_pages_Detail_Structure__meta">
                    <div class="MimotoCMS_pages_pages_Detail_Structure__meta_info">

                        <div class="MimotoCMS_pages_pages_Detail-UserRoles">

                            The following <a href="/mimoto.cms/configuration/userroles">user roles</a> are allowed to see this page:

                            <div class="MimotoCMS_pages_pages_Detail-UserRoles-empty" {{ Mimoto.showWhenEmpty('allowedUserRoles') }}>
                                Available to view by anyone!
                            </div>

                            <div {{ Mimoto.hideWhenEmpty('allowedUserRoles') }}>
                                <div class="MimotoCMS_pages_pages_Detail-UserRoles-container js-list js-list-sortable" {{ Mimoto.realtime('allowedUserRoles', 'MimotoCMS_pages_Detail-AllowedUserRole') }}>
                                    {{ Mimoto.data('allowedUserRoles', 'MimotoCMS_pages_Detail-AllowedUserRole') }}
                                </div>
                            </div>

                        </div>

                        <div class="MimotoCMS_pages_pages_Detail-path">

                            This page can be reached on the following path:

                            <div class="MimotoCMS_pages_pages_Detail-path-empty" {{ Mimoto.showWhenEmpty('path') }}>
                                No path defined yet ...
                            </div>

                            <div {{ Mimoto.hideWhenEmpty('path') }}>
                                <div class="MimotoCMS_pages_pages_Detail-absolutepath">
                                    <div>/</div>
                                    <div class="MimotoCMS_pages_pages_Detail-path-container js-list js-list-sortable" {{ Mimoto.realtime('path', 'MimotoCMS_pages_Detail-PathElement') }}>
                                        {{ Mimoto.data('path', 'MimotoCMS_pages_Detail-PathElement') }}
                                    </div>
                                </div>
                            </div>

                            <div class="MimotoCMS_pages_pages_Detail-path-menu">
                                {{ Mimoto.module('Mimoto.CMS.ButtonModule', { label:'Add path element', icon:'plus', directive:Mimoto.add('path', '_Mimoto_route_path_element') }) }}
                            </div>

                        </div>



                        {#<div class="MimotoCMS_pages_pages_Detail-BaseComponent">#}

                        {#Base component or layout:#}

                        {#</div>#}
                    </div>
                </div>
            </div>

            <div class="MimotoCMS_pages_pages_Detail_Structure">

                <div class="MimotoCMS_pages_pages_Detail_Structure__meta">
                    <div class="MimotoCMS_pages_pages_Detail_Structure__meta_info">

                        <div class="MimotoCMS_pages_pages_Detail-Output-empty" {{ Mimoto.showWhenEmpty('output') }}>
                            What do you want this page to show?
                            <div class="MimotoCMS_pages_pages_Detail-path-menu">
                                {{ Mimoto.module('Mimoto.CMS.ButtonModule', { label:'Init output', icon:'plus', directive:Mimoto.create('output', '_Mimoto_output') }) }}
                            </div>
                        </div>

                        <div {{ Mimoto.hideWhenEmpty('output') }}>

                            <div class="MimotoCMS_pages_pages_Detail-path-container js-list js-list-sortable" {{ Mimoto.realtime('output', 'MimotoCMS_pages_Detail-Output') }}>
                                {{ Mimoto.data('output', 'MimotoCMS_pages_Detail-Output') }}
                            </div>
                            <div class="MimotoCMS_pages_pages_Detail-path-menu">
                                {{ Mimoto.module('Mimoto.CMS.ButtonModule', { label:'Clear output', types:['small', 'alert'], directive:Mimoto.clear('output') }) }}
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>

    {% endblock %}
{% endembed %}
