<div class="MimotoCMS_pages_notifications_NotificationSmall {{ Mimoto.data('category') }}" {{ Mimoto.realtime() }}>
    <div class="MimotoCMS_pages_notifications_NotificationSmall__title" {{ Mimoto.realtime('title') }}><a href="/mimoto.cms/notifications#notification_{{ Mimoto.meta('id') }}">{{ Mimoto.data('title') }}</div>
</div>
