<div class="MimotoCMS_pages_notifications_NotificationSmall {{ Aimless.data('category') }}" {{ Aimless.realtime()|raw }}>
    <div class="MimotoCMS_pages_notifications_NotificationSmall__title" {{ Aimless.realtime('title')|raw }}><a href="/mimoto.cms/notifications#notification_{{ Aimless.meta('id') }}">{{ Aimless.data('title') }}</div>
</div>
