{% extends "thetimeline/base.twig" %}

{% block content %}

    <div id="TheTimeline-container" class="TheTimeline-container">
        <svg id="TheTimeline-canvas" class="TheTimeline-canvas"></svg>
        <div class="TheTimeline-name" {{ Mimoto.realtime('name') }}>{{ Mimoto.render('name') }}</div>
        <div id="TheTimeline-moments" class="TheTimeline-moments" {{ Mimoto.realtime('moments', 'moment') }}>
            {{ Mimoto.render('moments', 'moment') }}
        </div>
    </div>

    <script>{{ Mimoto.jsListen('date', 'TheTimeline', 'TheTimeline.positionMoments') }}</script>

{% endblock %}
