<div class="MimotoCMS_pages_forms_FieldListItem" onclick="Mimoto.CMS.entityPropertyEdit({{ Aimless.meta('id') }});">
    <div class="MimotoCMS_pages_forms_FieldListItem__label" {{ Aimless.realtime('value.vartype')|raw }}>{{ Aimless.data('value.vartype') }}</div>
    <div class="MimotoCMS_pages_forms_FieldListItem__sublabel" {{ Aimless.realtime('type')|raw }}>{{ Aimless.data('type') }}</div>
</div>
