<div class="MimotoCMS_pages_dashboard_Overview">
    <div class="MimotoCMS_pages_dashboard_Overview-title">Welcome <span {{ Mimoto.user.realtime('firstName') }}>{{ Mimoto.user.data('firstName') }}</span>,</div>
    <div class="MimotoCMS_pages_dashboard_Overview-introduction">This is Mimoto, the ultra fast, fluid & realtime data management microframework!</div>

    {% if (Mimoto.user.hasRole('owner') or Mimoto.user.hasRole('superuser')) %}
        {% if Mimoto.getVar('tableCheckResult') is not empty and not Mimoto.getVar('tableCheckResult').valid %}

            <h1 class="MimotoCMS_pages_dashboard_Overview-database">Database health warning</h1>

            <div class="MimotoCMS_pages_dashboard_Overview-warning">
                <div class="MimotoCMS_pages_dashboard_Overview-warning-label"><span>Warning</span></div>
                <div>
                    <span class="MimotoCMS_pages_dashboard_Overview-warning-arrow">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="svg-triangle" width="40" height="40">
                            <g fill="#c76255" stroke="none">
                                <path d="M 40,20 0,40 0,0 z"/>
                         </g>
                        </svg>
                    </span>
                </div>
                <div class="MimotoCMS_pages_dashboard_Overview-warning-message">
                    <span>Please backup your database before you continue!</span>
                </div>
            </div>

            <div class="MimotoCMS_pages_dashboard_Overview-database">

                {% if Mimoto.getVar('tableCheckResult').missingTables|length > 0 %}
                    <div class="MimotoCMS_pages_dashboard_Overview-database-tables">
                        <div class="MimotoCMS_pages_dashboard_Overview-database-tables-title">Missing tables</div>
                        <div class="MimotoCMS_pages_dashboard_Overview-database-tables-container">
                            {% for sTableName in Mimoto.getVar('tableCheckResult').missingTables %}
                                {{
                                    Mimoto.module('MimotoCMS_modules_ListItem',
                                    {
                                        label: sTableName,
                                        button_label: 'Add',
                                        button_directive: Mimoto.api('/mimoto.cms/setup/add/' ~ sTableName),
                                        button_action: 'this.parentNode.parentNode.parentNode.remove(this);',
                                        button_type: 'secondary',
                                        button_icon: '',
                                        sortable: false
                                    })
                                }}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if Mimoto.getVar('tableCheckResult').unsyncedTables|length > 0 %}
                    <div class="MimotoCMS_pages_dashboard_Overview-database-tables">
                        <div class="MimotoCMS_pages_dashboard_Overview-database-tables-title">Unsynced tables</div>
                        <div class="MimotoCMS_pages_dashboard_Overview-database-tables-container">
                            {% for table in Mimoto.getVar('tableCheckResult').unsyncedTables %}
                                {% set sublabel = '' %}
                                {% for issue in table.issues %}
                                    {% if issue.whatsWrong == 'Wrong format' %}
                                        {% set sublabel = sublabel ~ '<span class="MimotoCMS_pages_dashboard_Overview-database-tables-syncmessage">' ~ issue.whatsWrong ~ '</span><br>Current: `' ~ issue.current ~ '`<br>Should be: `' ~ issue.shouldBe ~ '`' %}
                                    {% endif %}
                                    {% if issue.whatsWrong == 'Missing column' %}
                                        {% set sublabel = sublabel ~ '<span class="MimotoCMS_pages_dashboard_Overview-database-tables-syncmessage">' ~ issue.whatsWrong ~ '</span><br>`' ~ issue.shouldBe ~ '`' %}
                                    {% endif %}
                                    {% if issue.whatsWrong == 'Redundant column' %}
                                        {% set sublabel = sublabel ~ '<span class="MimotoCMS_pages_dashboard_Overview-database-tables-syncmessage">' ~ issue.whatsWrong ~ '</span><br>`' ~ issue.field ~ '`' %}
                                    {% endif %}
                                    {% if issue.whatsWrong == 'Wrong order' %}
                                        {% set sublabel = sublabel ~ '<span class="MimotoCMS_pages_dashboard_Overview-database-tables-syncmessage">' ~ issue.whatsWrong ~ '</span><br>Current: `' ~ issue.current ~ '`<br>Should be: `' ~ issue.shouldBe ~ '`' %}
                                    {% endif %}
                                    {% if not loop.last %}{% set sublabel = sublabel ~ '<br><br>' %}{% endif %}
                                {% endfor %}
                                {{
                                    Mimoto.module('MimotoCMS_modules_ListItem',
                                    {
                                        label: table.name,
                                        sublabel: sublabel,
                                        button_label: 'Fix',
                                        button_directive: Mimoto.api('/mimoto.cms/setup/fix/' ~ table.name),
                                        button_action: 'this.parentNode.parentNode.parentNode.remove(this);',
                                        button_type: 'secondary',
                                        button_icon: '',
                                        sortable: false
                                    })
                                }}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if Mimoto.getVar('tableCheckResult').redundantTables|length > 0 %}
                    <div class="MimotoCMS_pages_dashboard_Overview-database-tables">
                        <div class="MimotoCMS_pages_dashboard_Overview-database-tables-title">Redundant tables</div>
                        <div class="MimotoCMS_pages_dashboard_Overview-database-tables-container">
                            {% for sTableName in Mimoto.getVar('tableCheckResult').redundantTables %}
                                {{
                                    Mimoto.module('MimotoCMS_modules_ListItem',
                                    {
                                        label: sTableName,
                                        button_label: 'Remove',
                                        button_directive: Mimoto.api('/mimoto.cms/setup/remove/' ~ sTableName),
                                        button_action: 'this.parentNode.parentNode.parentNode.remove(this);',
                                        button_type: 'alert',
                                        button_icon: '',
                                        sortable: false
                                    })
                                }}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
</div>
