{#
  <div {{ Aimless.field()|raw }} class="form_field">
    <div class="form_input_label">{{ Aimless.data('label') }}{% if optional is not empty %}{% if optional==true %}<span class="form_input_optional"> (optional)</span>{% endif %}{% endif %}</div>
      <div>
        <input {{ Aimless.input()|raw }} type="checkbox"  id="c1" name="cc" class="checkbox" />
        <label for="c1">{{ Aimless.data('description') }}</label>
      </div>
    <div {{ Aimless.error()|raw }} class="form_errormessage"></div>
  </div>
#}

<div class="form-component">
  <p class="form-component-title">Zichtbaarheid <span class="form-component-title-information">(optioneel)</span></p>

  <div class="form-component-content form-component-content--no-description">
    <div class="form-component-element">
      <div class="form-component-element-container">
        <div class="form-checkbox-container">
          <input type="checkbox" class="form-checkbox" />
          <svg class="form-checkbox-icon"><use xlink:href='#ico-checkmark'/></svg>
        </div>
        <label for="" class="form-component-element-label">Afbeeldingen op de site laten zien</label>
      </div>
      <div class="form-component-element-container">
        <div class="form-checkbox-container">
          <input type="checkbox" class="form-checkbox" />
          <svg class="form-checkbox-icon"><use xlink:href='#ico-checkmark'/></svg>
        </div>
        <label for="" class="form-component-element-label">Afbeeldingen in de newsletter laten zien</label>
      </div>
    </div>
  </div>
</div>

<div class="form-component">
  <p class="form-component-title">Zichtbaarheid <span class="form-component-title-information">(optioneel)</span><span class="form-component-title-icon form-component-title-icon--loading"></span></p>

  <div class="form-component-content form-component-content--no-description">
    <div class="form-component-element">
      <div class="form-component-element-container">
        <div class="form-checkbox-container">
          <input type="checkbox" class="form-checkbox" />
          <svg class="form-checkbox-icon"><use xlink:href='#ico-checkmark'/></svg>
        </div>
        <label for="" class="form-component-element-label">Afbeeldingen op de site laten zien</label>
      </div>
      <div class="form-component-element-container">
        <div class="form-checkbox-container">
          <input type="checkbox" class="form-checkbox" />
          <svg class="form-checkbox-icon"><use xlink:href='#ico-checkmark'/></svg>
        </div>
        <label for="" class="form-component-element-label">Afbeeldingen in de newsletter laten zien</label>
      </div>
    </div>
  </div>
</div>

<div class="form-component form-component--validated">
  <p class="form-component-title">Zichtbaarheid <span class="form-component-title-information">(optioneel)</span><svg class="form-component-title-icon form-component-title-icon--checkmark"><use xlink:href='#ico-checkmark'/></svg></p>

  <div class="form-component-content">
    <div class="form-component-element">
      <div class="form-component-element-container">
        <div class="form-checkbox-container">
          <input type="checkbox" class="form-checkbox" />
          <svg class="form-checkbox-icon"><use xlink:href='#ico-checkmark'/></svg>
        </div>
        <label for="" class="form-component-element-label">Afbeeldingen op de site laten zien</label>
      </div>
      <div class="form-component-element-container">
        <div class="form-checkbox-container">
          <input type="checkbox" class="form-checkbox" />
          <svg class="form-checkbox-icon"><use xlink:href='#ico-checkmark'/></svg>
        </div>
        <label for="" class="form-component-element-label">Afbeeldingen in de newsletter laten zien</label>
      </div>
    </div>
    <p class="form-component-description">Zichtbaarheid is erg belangrijk</p>
  </div>
</div>

<div class="form-component form-component--has-error">
  <p class="form-component-title">Zichtbaarheid <span class="form-component-title-information">(optioneel)</span><svg class="form-component-title-icon form-component-title-icon--warning"><use xlink:href='#ico-warning'/></svg></p>

  <div class="form-component-content form-component-content--no-description">
    <div class="form-component-element">
      <div class="form-component-element-container">
        <div class="form-checkbox-container">
          <input type="checkbox" class="form-checkbox" />
          <svg class="form-checkbox-icon"><use xlink:href='#ico-checkmark'/></svg>
        </div>
        <label for="" class="form-component-element-label">Afbeeldingen op de site laten zien</label>
      </div>
      <div class="form-component-element-container">
        <div class="form-checkbox-container">
          <input type="checkbox" class="form-checkbox" />
          <svg class="form-checkbox-icon"><use xlink:href='#ico-checkmark'/></svg>
        </div>
        <label for="" class="form-component-element-label">Afbeeldingen in de newsletter laten zien</label>
      </div>
      <p class="form-component-element-error">Kies één of meerdere opties.</p>
    </div>
  </div>
</div>
