{% extends "grid/base_slide.twig" %}

{% block slide %}

    <div class="GridPrototypeSlideText" {{ Mimoto.realtime() }}>
        <h1 {{ Mimoto.realtime('title') }}>{{ Mimoto.render('title') }}</h1>
        <div class="GridPrototypeSlideText-body" {{ Mimoto.realtime('body') }}>{{ Mimoto.render('body') }}</div>
    </div>

{% endblock %}



