<html>
    <head>
        <title>Mimoto.Publisher</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

        <link rel="stylesheet" type="text/css" href="/static/css/mimoto.cms.css">

        <script src="https://js.pusher.com/3.0/pusher.min.js"></script>

        <script src="/mimoto.cms/static/js/mimoto.aimless.js"></script>
        <script src="/mimoto.cms/static/js/mimoto.cms.js"></script>

        <script>
            Mimoto.Aimless.connect(
                '{{ Aimless.globalValue('pusher.auth_key') }}',
                '{{ Aimless.globalValue('pusher.cluster') }}',
                '{{ Aimless.globalValue('pusher.host') }}',
                '{{ Aimless.globalValue('pusher.encrypted') }}',
                '{{ Aimless.globalValue('pusher.authEndpoint') }}',
                false
            );
        </script>

        <script>

            function addComment(nArticleId)
            {
                // register
                var commentForm = document.getElementById('commentForm');

                // call
                Mimoto.Aimless.utils.callAPI({
                    type: 'post',
                    url: "/publisher/article/" + nArticleId + "/comment/add",
                    data: {message: commentForm.value},
                    dataType: 'json',
                    success: function(resultData, resultStatus, resultSomething) {
                        commentForm.value = '';
                        window.scrollTo(0,document.body.scrollHeight);
                    }
                });
            }

            function removeComment(nCommentId)
            {
                // call
                Mimoto.Aimless.utils.callAPI({
                    type: 'post',
                    url: "/publisher/comment/" + nCommentId + "/remove",
                    data: {message: commentForm.value},
                    dataType: 'json',
                    success: function(resultData, resultStatus, resultSomething) {
                    }
                });
            }

        </script>

    </head>
    <body class="MimotoPublisher">
        <div class="MimotoPublisher-menu">
            <div class="MimotoPublisher-menu-home"><a href="/publisher">Home</a></div>
            <div class="MimotoPublisher-menu-logo">De Correspondent</div>
        </div>
        {% block content %}{% endblock %}
        <div class="MimotoPublisher-footer">
            Built on top of Mimoto<br>The extremely fast fluid & realtime data management microframework
        </div>
    </body>
</html>
