<html>
    <head>
        <title>Mimoto.Publisher</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">


        <link href="https://cdn.quilljs.com/1.2.3/quill.snow.css" rel="stylesheet">
        <link href="https://cdn.quilljs.com/1.2.3/quill.bubble.css" rel="stylesheet">


        <link rel="stylesheet" type="text/css" href="/static/css/mimoto.cms.css">

        <script src="https://js.pusher.com/3.0/pusher.min.js"></script>

        <script src="/mimoto.cms/static/js/mimoto.js"></script>
        <script src="/mimoto.cms/static/js/mimoto.cms.js"></script>





        <script>
            Mimoto.Aimless.connect(
                '{{ Mimoto.globalValue('pusher.auth_key') }}',
                '{{ Mimoto.globalValue('pusher.cluster') }}',
                '{{ Mimoto.globalValue('pusher.host') }}',
                '{{ Mimoto.globalValue('pusher.encrypted') }}',
                '{{ Mimoto.globalValue('pusher.authEndpoint') }}',
                false
            );
        </script>
        <script src="/static/js/publisher.js"></script>

    </head>
    <body class="MimotoPublisher">
        <div class="MimotoPublisher-menu">
            <div class="MimotoPublisher-menu-home"><a href="/publisher">Home</a></div>
            <div class="MimotoPublisher-menu-logo">De Correspondent</div>
        </div>
        {% block content %}{% endblock %}
        <div class="MimotoPublisher-footer">
            Built on top of Mimoto<br>The ultra fast, fluid & realtime data management microframework
        </div>
    </body>
</html>
