<div class="MimotoCMS_entities_overview_Entity" {{ Mimoto.realtime() }}>

    <div class="MimotoCMS_entities_overview_Entity-info">
        <div class="MimotoCMS_entities_overview_Entity-name" {{ Mimoto.realtime('name') }}>{{ Mimoto.data('name') }}</div>

        <div class="MimotoCMS_entities_overview_Entity-properties-empty {{ Mimoto.init() }}" {{ Mimoto.showWhenEmpty('properties') }}>No properties added yet</div>
        <div class="MimotoCMS_entities_overview_Entity-properties {{ Mimoto.init() }}" {{ Mimoto.hideWhenEmpty('properties') }} {{ Mimoto.realtime('properties', 'MimotoCMS_entities_EntityOverview_EntityProperty') }}>{{ Mimoto.data('properties', 'MimotoCMS_entities_EntityOverview_EntityProperty') }}</div>
    </div>

    <div class="MimotoCMS_entities_overview_Entity-menu">
        {{ Mimoto.module('MimotoCMS_modules_Button', { label:'View', link:'/mimoto.cms/entity/' ~ Mimoto.meta('id') ~ '/view', types:['secondary'], icon:'' }) }}

        <div class="MimotoCMS_ListItemModule-sorthandlecontainer">
            <div class="MimotoCMS_entities_overview_Entity-sorthandle js-sortable-draghandle">
                <div class="MimotoCMS_entities_overview_Entity-sorthandledot"></div>
                <div class="MimotoCMS_entities_overview_Entity-sorthandledot"></div>
                <div class="MimotoCMS_entities_overview_Entity-sorthandledot"></div>
                <div class="MimotoCMS_entities_overview_Entity-sorthandledot"></div>
                <div class="MimotoCMS_entities_overview_Entity-sorthandledot"></div>
                <div class="MimotoCMS_entities_overview_Entity-sorthandledot"></div>
                <div class="MimotoCMS_entities_overview_Entity-sorthandledot"></div>
                <div class="MimotoCMS_entities_overview_Entity-sorthandledot"></div>
                <div class="MimotoCMS_entities_overview_Entity-sorthandledot"></div>
                <div class="MimotoCMS_entities_overview_Entity-sorthandledot"></div>
            </div>
        </div>
    </div>
</div>
