<div class="MimotoCMS_entities_overview_Entity" {{ Mimoto.realtime() }}>

    <div class="MimotoCMS_entities_overview_Entity-info">
        <div class="MimotoCMS_entities_overview_Entity-name">
            <span {{ Mimoto.realtime('name') }}>{{ Mimoto.data('name') }}</span>
            <span class="MimotoCMS_entities_overview_Entity-isUserExtension {{ Mimoto.init() }}" {{ Mimoto.showWhenValue('isUserExtension', true) }}>- <span class="fa fa-user"></span> extends user </span>
        </div>
        <div class="MimotoCMS_entities_overview_Entity-properties-empty {{ Mimoto.init() }}" {{ Mimoto.showWhenEmpty('properties') }}>No properties added yet</div>
        <div class="MimotoCMS_entities_overview_Entity-properties-userextension {{ Mimoto.init() }}" {{ Mimoto.showWhenValue('isUserExtension', true) }}>
            {{ Mimoto.module('MimotoCMS_entities_EntityOverview_EntityProperty', { bUseAsStatic:true, data: { name:'firstName', type:'value'} } ) }}
            {{ Mimoto.module('MimotoCMS_entities_EntityOverview_EntityProperty', { bUseAsStatic:true, data: { name:'lastName', type:'value'} } ) }}
            {{ Mimoto.module('MimotoCMS_entities_EntityOverview_EntityProperty', { bUseAsStatic:true, data: { name:'email', type:'value'} } ) }}
            {{ Mimoto.module('MimotoCMS_entities_EntityOverview_EntityProperty', { bUseAsStatic:true, data: { name:'password', type:'value'} } ) }}
            {{ Mimoto.module('MimotoCMS_entities_EntityOverview_EntityProperty', { bUseAsStatic:true, data: { name:'avatar', subtype:'image'} } ) }}
            {{ Mimoto.module('MimotoCMS_entities_EntityOverview_EntityProperty', { bUseAsStatic:true, data: { name:'roles', type:'collection'} } ) }}
            {{ Mimoto.module('MimotoCMS_entities_EntityOverview_EntityProperty', { bUseAsStatic:true, data: { name:'settings', type:'collection'} } ) }}
            <div class="MimotoCMS_entities_overview_Entity-properties-userextension-division"></div>
        </div>
        <div class="MimotoCMS_entities_overview_Entity-properties {{ Mimoto.init() }}" {{ Mimoto.hideWhenEmpty('properties') }} {{ Mimoto.realtime('properties', 'MimotoCMS_entities_EntityOverview_EntityProperty') }}>{{ Mimoto.data('properties', 'MimotoCMS_entities_EntityOverview_EntityProperty') }}</div>
    </div>

    <div class="MimotoCMS_entities_overview_Entity-menu">
        {{ Mimoto.module('MimotoCMS_modules_Button', { label:'View', link:'/mimoto.cms/entity/' ~ Mimoto.meta('id') ~ '/view', types:['secondary'], icon:'' }) }}

        <div class="MimotoCMS_modules_ListItem-sorthandlecontainer">{{ Mimoto.module('MimotoCMS_modules_SortHandle') }}</div>
    </div>
</div>
