<div class="MimotoCMS_forms_output_Title">
    <div class="MimotoCMS_forms_output_Title__title" {{ Aimless.realtime('title') }}>{{ Aimless.render('title') }}</div>
    {% if Aimless.data('subtitle') is not empty %}<div class="MimotoCMS_forms_output_Title__subtitle" {{ Aimless.realtime('subtitle') }}>{{ Aimless.render('subtitle') }}</div>{% endif %}
    {% if Aimless.data('description') is not empty %}<div class="MimotoCMS_forms_output_Title__description" {{ Aimless.realtime('description') }}>{{ Aimless.render('description') }}</div>{% endif %}
</div>
