<div class="MimotoCMS_forms_output_Title">
    <div class="MimotoCMS_forms_output_Title__title" {{ Mimoto.realtime('title') }}>{{ Mimoto.render('title') }}</div>
    {% if Mimoto.data('subtitle') is not empty %}<div class="MimotoCMS_forms_output_Title__subtitle" {{ Mimoto.realtime('subtitle') }}>{{ Mimoto.render('subtitle') }}</div>{% endif %}
    {% if Mimoto.data('description') is not empty %}<div class="MimotoCMS_forms_output_Title__description" {{ Mimoto.realtime('description') }}>{{ Mimoto.render('description') }}</div>{% endif %}
</div>
