<div class="MimotoCMS_forms_FormComponent" {{ Mimoto.field() }} {{ Mimoto.realtime() }}>

    <div class="MimotoCMS_forms_FormComponent-header">
        <label for="" class="MimotoCMS_forms_FormComponent-title">{{ Mimoto.data('label') }} {# {% if Mimoto.data('value.optional') %}<span class="MimotoCMS_forms_FormComponent-title-information">(optioneel)</span>{% endif %}#}<svg class="js-error-icon MimotoCMS_forms_FormComponent-title-icon"><use xlink:href=""></use></svg></label>
        {% if button|default(false) %}
            <div class="MimotoCMS_forms_FormComponent-button" {{ buttonClass|default('') }}">
                {{ Mimoto.module('MimotoCMS_modules_Button', { label: buttonLabel|default(''), icon:buttonIcon|default(''), types:['small', 'secondary'], onclick:buttonOnClick|default('') }) }}
            </div>
        {% endif %}
    </div>

    <div class="MimotoCMS_forms_FormComponent-content {% if not Mimoto.data('description')|default('') %}MimotoCMS_forms_FormComponent-content--no-description{% endif %}">

        <div class="MimotoCMS_forms_FormComponent-element">

            {% block form_component %}{% endblock %}

            <p class="MimotoCMS_forms_FormComponent-element-error" {{ Mimoto.error() }}></p>

        </div>

        {% if Mimoto.data('description')|default('') %}
            <p class="MimotoCMS_forms_FormComponent-description">{{ Mimoto.data('description') }}</p>
        {% endif %}

    </div>
</div>

