<div class="MimotoCMS_forms_Form-holder">
    <div class="MimotoCMS_forms_Form__fields">
        {{ Mimoto.form() }}
    </div>
    <div class="MimotoCMS_forms_Form-menu">

        {#{% if Mimoto.data('manualSave') %}{{ Mimoto.module('MimotoCMS_modules_Button', { label:"Cancel", types:['text'], onclick:"Mimoto.closePopup();" }) }}{% endif %}#}

        {% if Mimoto.data('manualSave') %}
            <span {{ Mimoto.submit() }}>{{ Mimoto.module('MimotoCMS_modules_Button', { label:"Save", onclick:"Mimoto.closePopup();" }) }}</span>
        {% else %}
            {{ Mimoto.module('MimotoCMS_modules_Button', { label:"Done", onclick:"Mimoto.closePopup();" }) }}
        {% endif %}
    </div>
</div>
