<div class="MimotoCMS_pages_layouts_LayoutDetail-LayoutContainer" {{ Mimoto.realtime() }}>

    <div class="MimotoCMS_pages_layouts_LayoutDetail-LayoutContainer__data">
        <div class="MimotoCMS_pages_layouts_LayoutDetail-LayoutContainer__name">
            <div {{ Mimoto.realtime('name') }} >{{ Mimoto.data('name') }}</div>
        </div>
    </div>
    <div class="MimotoCMS_pages_layouts_LayoutDetail-LayoutContainer__menu">
        {{ Mimoto.module('MimotoCMS_modules_Button', { label:'Edit', types:['small', 'secondary'], onclick:"Mimoto.CMS.layoutContainerEdit('" ~ Mimoto.meta('id') ~ "');" }) }}
        {{ Mimoto.module('MimotoCMS_modules_Button', { label:'Delete', types:['small', 'alert'], onclick:"Mimoto.CMS.layoutContainerDelete('" ~ Mimoto.meta('id') ~ "');" }) }}
    </div>
</div>
